<% content_main do %>
<%mftext('Crear cuenta') do %>
<%= form_tag :action=> "create2" %>
  <script type="text/javascript">
  	var email_stat=user_stat=true;

    function feedback_scan(feedback,div_id)
    {
        var code=feedback.split('+=');
		$j('#' + div_id).html(code[1]);
        if (code[0]=='111')
            return class_toggle('good',div_id);
        else
            return class_toggle('bad',div_id);

    }
  	    function class_toggle(type,div_id)
    {

        if (type=='bad'){
            $j('#' + div_id).removeClass('good').addClass('bad').css('display', 'inline');
            return false;
        }
        else{
            $j('#' + div_id).removeClass('bad').addClass('good').css('display', 'inline');
            return true;
        }
    }
  	    function username_checks(action)
    {
        if (action==null)
        {
            action='blur';
        }

        var login = $j('#signup_user_login').val();
		if (login == '')
			return;

        if (login.trim().length < 3 || login.trim().length > 25)
        {
            $j('#username_msg').html('Mínimo 3 caracteres, máximo 25 caracteres');
            user_stat = class_toggle('bad','username_msg');
        }
        else if (!login.match(/^[-a-zA-Z0-9_~.\[\]\(\)\:=|*^]{3,18}$/))
        {
            $j('#username_msg').html('El nombre de usuario contiene caracteres inválidos.');
            user_stat = class_toggle('bad','username_msg');
        }
        else if(action !="submit")
        {
			$j.get('/cuenta/cuenta/username_check', {login: login}, function(feedback) {
            	user_stat=feedback_scan(feedback,'username_msg');});
        }


    }

	    function password_checks()
    {
        var password = $j('#signup_user_password').val();
		if (password == '')
			return;

        if (password.length <4)
        {
            $j('#password_msg').html('Mínimo 4 caracteres, máximo lo que dé de si tu memoria');
            user_stat = class_toggle('bad','password_msg');
        }
        else if (password.trim().length ==0)
        {
            $j('#password_msg').html('contraseña inválida');
            return class_toggle('bad','password_msg');
        }
        else
        {
            $j('#password_msg').addClass('hidden');
            return true;
        }
    }

    function email_checks(action)
    {
        if (action==null)
        {
            action='blur';
        }
        var email = $j('#signup_user_email').val();
		if (email == '')
			return;
       if (!email.match(/^([a-zA-Z0-9+_.]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/)){
            $j('#email_msg').html('Email inválido');
            email_stat = class_toggle('bad','email_msg');
            }
       else if(action !="submit")
        {
            $j.get('/cuenta/cuenta/email_check', {email: email}, function(feedback) {
            	email_stat=feedback_scan(feedback,'email_msg');});
        }
    }
	</script>
	<style type="text/css">
		.signup input.text { padding: 2px; font-size: 12px;}
	</style>
	<div style="margin-left: 75px; margin-top: 50px;">
<table class="signup">
<tr><td style="width: 100px; height: 30px;">Usuario</td><td>
  <%= text_field 'user', "login", :size => 20, :id => 'signup_user_login', :class=>"text username", :onblur => 'username_checks()' %><span class="f_sm" id="username_msg" style="display:none;"></span>
</td>
</tr>

<tr>
  <td style="height: 30px;">Contraseña</td>
  <td><%= password_field 'user', "password", :size => 20, :class=>"text password", :id => 'signup_user_password', :onblur => 'password_checks()'%> <span class="f_sm" id="password_msg" style="display:none;"></span></td>
</tr>

<tr>
  <td style="height: 30px;">Email</td>
  <td><%= text_field 'user', 'email', :id => 'signup_user_email', :size => 20, :class=>"text form", :onblur => 'email_checks()' %><span class="f_sm" id="email_msg" style="display:none;"></span></td>
</tr>

<tr>
  <td colspan="2" style="height: 30px;">
  <label><input type="checkbox" name="accept_terms" value="1" /> He leído y
  acepto el <a href="/site/netiquette" target="_blank">código de conducta de
  Gamersmafia</a>.</label></td>
</tr>

<tr>
  <td colspan="2"  class="infoinline" style="padding-top: 10px; padding-bottom: 20px;"><a href="#" onclick="$j('#optionalfields').removeClass('hidden'); return false;">Campos opcionales</a>
    <table class="<%='hidden' unless params[:referer]%>" id="optionalfields">
      <tr>
    	<td>Referido por el usuario</td>
    	<td><input type="text" class="text" name="referer" value="<%=params[:referer]%>" /> <br /><span class="infoinline">Si algún usuario te ha recomendado nuestra web introduce su nick aquí y recibirá gloria y prestigio.</span></td>
	  </tr>
	</table>
  </td>
</tr>
<script type="text/javascript">
	if ($j('#signup_user_login').val() != "")
		username_checks();

	if ($j('#signup_user_email').val() != "")
		email_checks();
</script>

<tr><td>&nbsp;</td>
<td>
  <input type="image" class="button primary" src="/skins/default/images/btn_crear_cuenta.png" value="Crear cuenta &#187;" />
</td></tr>
</table>
</div>
</form>
<% end -%>

<br />
<br />
<br />
<%mftext('Confirmar cuenta') do %>
<table>
<tr>
    <td>&nbsp;</td>
    <td><%=link_to 'Reenviar email de confirmación', :action => "resendsignup" %></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td><%= link_to 'Confirmar cuenta', :action => 'confirmar' %></td>
  </tr>
</table>
<% end -%>
<% end -%>

<script type="text/javascript">
$j(document).ready(function () {
                $j('#csupport').addClass('hidden');
                $j('#cleft').addClass('hidden');
                //$j('#ccontent').addClass('maximized');
                //$j('#cmain').addClass('maximized');
});
</script>
