<% generic_support do %>

<% end -%>

<% content_main do %>
  <% mftext('Karma') do %>
  <p>Tienes <strong><%=@user.karma_points%> puntos</strong> de karma.</p>
  <table>
    <tr>
      <th>Contenido</th>
      <th>Puntos</th>
    </tr>
    <% contents_stats = @user.contents_stats %>
    <%# buscamos el máximo %>
    <% for key in contents_stats.sort
      points = Karma::KPS_CREATE[ActiveSupport::Inflector::singularize(Cms::translate_content_name(key[0], 0))]
      if points.nil? then
        raise "#{key[0]} #{ActiveSupport::Inflector::singularize(Cms::translate_content_name(key[0], 0))}"
      end
    %>
        <tr class="<%=oddclass%>">
            <td style="width: 120px;"><%=key[0]%></td>
            <td><%=draw_pcent_bar(key[1].to_f * points / ((@user.karma_points > 0) ? @user.karma_points : 1))%><br /></td>
        </tr>
    <% end -%>
    <tr class="<%=oddclass%>">
      <td>Editor</td>
      <td><%=draw_pcent_bar(@user.karma_points_editor.to_f / ((@user.karma_points > 0) ? @user.karma_points : 1))%><br />
    </tr>
  </table>
  <% end -%>
<% end -%>
