<% content_main do %>
<% mftext('Resurrecciones') do %>
<p>Máximas resurrecciones incompletas simultáneas: <strong><%=User::MAX_INCOMPLETE_RESURRECTIONS%></strong>.</p>
<table>
  <tr>
    <th></th>
    <th>Usuario</th>
    <th class="timestamp">Resurrección iniciada</th>
    <th class="timestamp">Última actividad</th>
  </tr>
  <% for u in User.find(:all, :conditions => ['resurrected_by_user_id = ? and (resurrection_started_on > now() - \'7 days\'::interval or lastseen_on > now() - \'3 months\'::interval)', @user.id], :order => 'created_on asc') %>
  <tr class="<%=oddclass%>">
    <td class="sm-icon"><%=member_state(u.hstate)%></td>
    <td><%=link_to u.login, gmurl(u)%></td>
    <td class="timestamp"><%=print_tstamp(u.resurrection_started_on)%></td>
    <td class="timestamp"><%=print_tstamp(u.lastseen_on)%></td>
  </tr>
<% end -%>
</table>
<br />
<div class="bad-block">Nota: las resurrecciones incompletas se cancelarán automáticamente a los 7 días de iniciarse.</div>
<% end -%>
<% end -%>
