<div style="text-align: left; padding: 10px;">
  <script>
  function select_image(img_src)
  {
    var im = $('#selectedImg');
    im.attr('src', img_src);
    $('#must-select').addClass('hidden');
    $('#insertit').removeClass('hidden');
    return false;
  }

  function insert_image()
  {
    var im = $('#selectedImg');
    var img_src = im.attr('src');

    if (img_src == '')
      return;

      window.opener.CKEDITOR.tools.callFunction(1, 'http://gamersmafia.com/' + img_src);

      window.close();
      return;
	if (window.opener.SetUrl)
		window.opener.SetUrl(img_src);
	else {
		window.opener.wsEditorInsertImage('<%=params[:sEditorId]%>', img_src);

	}
	window.close();
  }
  </script>
  <div style="float: right; width: 200px; margin-right: 30px; ">
  <h2 class="f_hecto">Insertar</h2>
  <div class="infoinline" id="must-select"> <p>No has elegido ninguna imagen.</p> </div>
  <div id="insertit" class="hidden">
	  <div style="text-align: center;">
	  <img id="selectedImg" width="160" height="160" src="bl.gif" style="border: 1px solid #ccc;" /><br />
    <input type="button" style=" margin-top: 5px;" class="button" onclick="insert_image();" value="Insertar Imagen" />
	  </div>
  </div>
  <br />
  <br />
  <h2 class="f_hecto">Subir al servidor</h2>
  <p class="infoinline">Formatos admitidos: JPG, GIF y PNG. Si subes un archivo ZIP que contenga
  imágenes éstas serán descomprimidas.</p>
  <form method="post" action="/cuenta/cuenta/subir_imagen/?sEditorId=<%=params[:sEditorId]%>" enctype="multipart/form-data">
  <input type="file" name="file" /><br />
  <input type="submit" class="button" value="Subir" />
  </form>
  </div>

  <h2 class="f_hecto">Elegir</h2>
  <div style="width: 325px; height: 360px; clear: left; overflow: scroll;">
  <table style="width: 308px;">
<%
fid = 0
for f in @user.get_my_files
  if f.match(/\.(jpg|gif|png|jpeg)$/i) %>
  <tr class="<%=oddclass%>" id="fid<%=fid%>">
  	<td><a href="#" onclick="select_image('<%="#{@user.get_tmp_basedir}#{f}"%>');"><%=f%></a></td>
    <td class="infoinline">
    <%=link_to(
        'Borrar',
        "/cuenta/imagenes/borrar?filename=#{File.basename(f)}&sEditorId=#{params[:sEditorId]}",
        :confirm => '¿Estás seguro?',
        :remote => true)%>
    </td>
  </tr>
<%
  end
fid += 1
end
%>
  </table>
  </div>
</div>
