<%mftext("Intereses") do %>
  <form method="post" action="/cuenta/cuenta/create_user_interest">
    <select name="entity_type_class">
      <option value="Term">Tag</option>
    </select>
    <input type="text" name="entity_id" class="autocomplete-me" id="user_interest_name"
        data-autocomplete-url="/cuenta/cuenta/intereses_autocomplete" />
    <input type="submit" class="button" value="Añadir" />
  </form>
  <br />
  <br />
  <p><a href="/cuenta/cuenta/schedule_interest_profile">Añadir temas que Jabba cree que me interesan</a>.</p>

<form method="post" action="/cuenta/cuenta/update_interests">
<table>
    <tr>
      <th>Tipo</th>
      <th>Interés</th>
      <th>Mostrar en el menú superior</th>
      <th></th>
    </tr>
    <%interests = @user.user_interests.find(:all, :order => "entity_type_class, entity_id").sort_by{|i| i.entity_name.downcase}
    interests.each do |interest| %>
    <tr>
      <td><%=interest.entity_type_class%></td>
      <td><%=interest.entity_name%></td>
      <td><input type="checkbox" name="interests_show_in_menu[]" value="<%=interest.id%>" <%="checked=\"checked\"" if interest.show_in_menu?%> /></td>
      <td><a href="/cuenta/cuenta/delete_user_interest?entity_type_class=<%=interest.entity_type_class%>&entity_id=<%=interest.entity_id%>">Eliminar</a></td>
    </tr>
  <% end -%>
</table>
<br />
<input type="submit" value="Guardar" />
</form>

<% end -%>
