<div class="content-attribute-name">Título</div>
<div class="content-attribute-value content-title">
  <%=content.real_content.title%>
</div>

<div class="content-attribute-name">Descripción</div>
<div class="content-attribute-value content-description">
  <%=content.real_content.description%>
</div>

<div class="content-attribute-name">¿Esencial para jugar?</div>
<div class="content-attribute-value content-essential">
  <%=content.real_content.essential ? "Sí" : "No"%>
</div>

<div class="content-attribute-name">Archivo</div>
<div class="content-attribute-value content-file">
  <%=demo_download_link(content.real_content)%>
</div>

<div class="content-attribute-name">Mirrors</div>
<div class="content-attribute-value content-mirrors">
  <ul>
    <%content.real_content.download_mirrors.each do |mirror| %>
      <li><a href="<%=mirror.url%>"><%=mirror.url%></a></li>
    <% end -%>
  </ul>
</div>

<div class="content-attribute-name">Categorías</div>
<div class="content-attribute-value content-categories">
  <ul>
  <%content.terms.each do |term| %>
    <li><%=term_with_context(term)%></li>
  <% end -%>
  </ul>
</div>

