<div class="content-attribute-name">Título</div>
<div class="content-attribute-value f_hecto content-title"><%=content.title%></div>

<div class="content-attribute-name">Cuerpo de la noticia</div>
<div class="content-attribute-value content-description"><%=content.description%></div>

<div class="content-attribute-name">Información adicional</div>
<div class="content-attribute-value content-main"><%=content.main%></div>

<div class="content-attribute-name">Fuente</div>
<div class="content-attribute-value content-source"><%=content.source%></div>

<div class="content-attribute-name">Categorías</div>
<div class="content-attribute-value content-categories">
  <ul>
  <%content.terms.each do |term| %>
    <li><%=term_with_context(term)%></li>
  <% end -%>
  </ul>
</div>

