<strong>Nuevo contenido</strong>
<ul>
  <li class="alt0"><a class="nav" href="http://<%=App.domain%>/reclutamiento/new">Anuncio reclutamiento</a></li>
  <li class="alt0"><a class="nav" href="http://<%=App.domain%>/apuestas/new">Apuesta</a></li>
  <li class="alt0"><a class="nav" href="http://<%=App.domain%>/columnas/new">Columna</a></li>
  <li class="alt0"><a class="nav" href="http://<%=App.domain%>/coverages/new">Coverage</a></li>
  <li class="alt0"><a class="nav" href="http://<%=App.domain%>/curiosidades/new">Curiosidad</a></li>
  <li class="alt1"><a class="nav" href="http://<%=App.domain%>/descargas/new">Descarga</a></li>
  <li class="alt1"><a class="nav" href="http://<%=App.domain%>/demos/new">Demo</a></li>
  <li class="alt1"><a class="nav" href="http://<%=App.domain%>/encuestas/new">Encuesta</a></li>
  <li class="alt0"><a class="nav" href="http://<%=App.domain%>/entrevistas/new">Entrevista</a></li>
  <li class="alt0"><a class="nav" href="http://<%=App.domain%>/eventos/new">Evento</a></li>
  <li class="alt1"><a class="nav" href="http://<%=App.domain%>/imagenes/new">Imagen</a></li>
  <li class="alt1"><a class="nav" href="http://<%=App.domain%>/noticias/new">Noticia</a></li>
  <li class="alt1"><a class="nav" href="http://<%=App.domain%>/respuestas/new">Pregunta</a></li>
  <li class="alt0"><a class="nav" href="http://<%=App.domain%>/reviews/new">Review</a></li>
  <li class="alt0"><a class="nav" href="/foros/nuevo_topic">Tópic</a></li>
  <li class="alt0"><a class="nav" href="http://<%=App.domain%>/tutoriales/new">Tutorial</a></li>
  <li style="padding-top: 10px;" class="alt0"><a href="http://<%=App.domain%>/cuenta/blog/new">Entrada de blog</a></li>
  <li class="centered"><a class="nav" href="#">cerrar</a></li>
</ul>
