  <tr class="<%=oddclass%>" id="user-<%= user.id %>">
    <td><%=member_state(user.hstate)%> <a href="/admin/usuarios/edit/<%=user.id%>"><%=user.login%></a><% if user.referer_user_id then u = User.find(user.referer_user_id)%><br /><span class="infoinline" style="margin-left: 19px;">referido por: <a href="/admin/usuarios/edit/<%=u.id%>"><%=u.login%></a></span><% end -%></td>
    <td><%=user.email%></td>
	<td class="timestamp infoinline"><%= print_tstamp(user.lastseen_on)%><br /><%=user.ipaddr %></td>
	<% if nil then %>

		<td class="infoinline">
		<a href="/admin/usuarios/destroy/<%=user.id%>" class="button confirm-click">Borrar</a><br />
		<a href="/admin/usuarios/ban/<%=user.id%>" class="button confirm-click">Banear</a><br />
		</td>
	 <% end -%>
	 </tr>

