$('#check_gmf').html('<%=@edituser.cash%> <%=gm_icon("gmf", "small")%><div class="bad-block infoinline"><strong>FIXED</strong>: Antes: <%=@cash_previous%> <%=gm_icon("gmf", "small")%><br />Después: <%=@cash_correct%> <%=gm_icon("gmf", "small")%><br />Diff: (<%=@cash_correct - @cash_previous%>)</div>');
