$j('#check_gmf').html('<%=@edituser.cash%> <%=gmd11%><div class="warning infoinline"><strong>FIXED</strong>: Antes: <%=@cash_previous%> <%=gmd11%><br />Después: <%=@cash_correct%> <%=gmd11%><br />Diff: (<%=@cash_correct - @cash_previous%>)</div>');
