<% generic_support do %>
<%@clan.clans_groups.each do |cg| %>
  <div class="subheader"><div><%=cg.name%></div></div>
  <form method="post" action="/admin/clanes/add_user_to_clans_group">
  <input type="hidden" name="clans_group_id" value="<%=cg.id%>" />
  Login: <input type="text" class="text" name="login" /> <input type="submit" class="button" value="Añadir" />
  </form>
  <table>
  <%cg.users.each do |u| %>
  <tr class="<%=oddclass%>" id="clans_group_<%=cg.id%>_<%=u.id%>">
  <td><%=user_link(u)%></td>
  <td class="right infoinline"><%=link_to_remote('Borrar', :url => "/admin/clanes/remove_user_from_clans_group/?clans_group_id=#{cg.id}&user_id=#{u.id}", :complete => "$j('#clans_group_#{cg.id}_#{u.id}').fadeOut('normal');")%></td>
  </tr>
  <% end -%>
  </table>  
  
<% end -%>
<% end -%>

<% content_main do %>
  <%mftext('Editar clan') do %>

<%= form_tag({:action => 'update', :id => @clan}, :multipart => true)%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar' %>
</form>

<%= link_to 'Volver', :action => 'list' %>
<% end -%>
<% end -%>