<% alerts_filter[:order] = 'alerts.id DESC' %>
<div class="grid-6">
<%mftext('Sin asignar') do %>
<table>
<%Alert.get(:open, alerts_filter).each do |sle| %>
<tr class="<%=oddclass%>" id="sle<%=sle.id%>" style="vertical-align: top;">
	<td style="width: 16px;"><img class="sprite1 alert-type<%=sle.type_id%>" src="/images/blank.gif" /></td>
	<td><%=sle.headline%>
	<% if sle.completed_on && sle.reviewer_user_id then %><div class="right infoinline">Resuelto por <%=user_link(sle.reviewer)%> (<%=print_tstamp(sle.completed_on)%>)</div><% end -%>
	<% if sle.completed_on.nil? then %><div class="infoinline"><%=print_tstamp(sle.created_on)%></div><%end -%>
	</td>

	<% if sle.reviewer_user_id.nil? then %>
	<td class="w25">
    <%=link_to(
        "<img title=\"Asignarme este evento\" class=\"icon\"" +
        " src=\"/skins/default/images/icons/status_assigned.gif\" \>",
        "/alertas/alert_assigntome/#{sle.id}",
        :remote => true)%>
    </td>
	<% end -%>
	<% if sle.completed_on.nil? then %>
    <td class="w25">
      <%=link_to(
          "<img title=\"Marcar como resuelto\" class=\"icon\"" +
          " src=\"/skins/default/images/icons/confirm_16.png\" \>",
          "/alertas/alert_reviewed/#{sle.id}",
          :remote => true) %>
    </td>
	<% end -%>
  </tr>
<% end %><%# each %>
</table>
<% end -%>

<%mftext('Asignadas a mi') do %>
<table>
<%Alert.get(:assigned_to_me, alerts_filter.merge(:user_id => @user.id)).each do |sle| %>
<tr class="<%=oddclass%>" id="sle<%=sle.id%>" style="vertical-align: top;">
	<td style="width: 16px;"><img class="sprite1 alert-type<%=sle.type_id%>" src="/images/blank.gif" /></td>
	<td><%=sle.headline%>
	<div class="infoinline">Creada: <%=print_tstamp(sle.created_on)%></div>
	</td>

    <td class="w25">
      <%=link_to(
          "<img title=\"Marcar como resuelto\" class=\"icon\"" +
          " src=\"/skins/default/images/icons/confirm_16.png\" \>",
          "/alertas/alert_reviewed/#{sle.id}",
          :remote => true)%>
    </td>
  </tr>
<% end %><%# each %>
</table>
<% end -%>

<%mftext('Asignadas a otros') do %>
<table>
<%Alert.get(:assigned_to_others, alerts_filter.merge(:user_id => @user.id)).each do |sle| %>
<tr class="<%=oddclass%>" id="sle<%=sle.id%>" style="vertical-align: top;">
	<td style="width: 16px;"><img class="sprite1 alert-type<%=sle.type_id%>" src="/images/blank.gif" /></td>
	<td><%=sle.headline%>
	<div class="infoinline">Creada: <%=print_tstamp(sle.created_on)%></div>
	</td>
	<td class="infoinline"><%=user_link(sle.reviewer)%></td>
</tr>
<% end %><%# each %>
</table>
<% end -%>

<%mftext('Resueltas') do %>
<table>
<%Alert.get(:closed, alerts_filter.merge(:order => 'completed_on DESC', :limit => 10)).each do |sle| %>
<tr class="<%=oddclass%>" id="sle<%=sle.id%>" style="vertical-align: top;">
	<td style="width: 16px;"><img class="sprite1 alert-type<%=sle.type_id%>" src="/images/blank.gif" /></td>
	<td><%=sle.headline%>
	<div class="right infoinline">Resuelto por <%=user_link(sle.reviewer)%> (<%=print_tstamp(sle.completed_on)%>)</div>
	</td>
</tr>
<% end %><%# each %>
</table>
<div class="right infoinline"><a href="/alertas/historial?domain=<%=alerts_filter[:domain]%>&scope=<%=alerts_filter[:scope]%>">Ver historial</a></div>
<% end -%>
</div>
