<%=render :partial => 'scope_selector', :locals => { :collection => @available_scopes, :active_scope => @scope } %>

<%=render :partial => 'task_browser', :locals => { :alerts_filter => { :domain => :bazar_district_bigboss, :scope => @scope } } %>

<div class="grid-9 glast">
<% bd = BazarDistrict.find(@scope)%>

<%mftext('Estadísticas', :has_submodules => true) do%>
<%mftext('Karma', :blast => true) do %>
	<%=sparkline(:size => '250x50', :data => Stats::Portals.daily_karma(BazarDistrictPortal.find_by_code(bd.slug), 31.days.ago, 1.day.ago))%>
<% end -%>
<%mftext('Visitas', :blast => true) do %>
	<%=sparkline(:size => '250x50', :data => Stats::Portals.daily_pageviews(BazarDistrictPortal.find_by_code(bd.slug), 31.days.ago, 1.day.ago))%>
<% end -%>
<% end -%>

<%mftext('Staff', :has_submodules => true) do %>
<%mftext('Eventos pendientes', :grid => 4, :blast => true) do %>
<table>
	<tr class="<%=oddclass%>">
		<td>Sicarios</td>
		<td class="centered"><a href="/alertas/sicario?scope=<%=@scope%>"><%=Alert.ccount(:open, { :domain => :sicario, :scope => @scope})%></a></td>
	</tr>
</table>
<% end -%>
<% end -%>
<div class="right"><strong><a href="/cuenta/distrito">Administración</a></strong></div>
</div>
