<%=render :partial => 'scope_selector', :locals => { :collection => @available_scopes, :active_scope => @scope } %>

<%=render :partial => 'task_browser', :locals => { :alerts_filter => { :domain => :faction_bigboss, :scope => @scope } } %>

<div class="grid-9 glast">
<% f = Faction.find(@scope)%>

<%mftext('Estadísticas', :has_submodules => true) do%>
<%mftext('Karma', :blast => true) do %>
	<%=sparkline(:size => '250x50', :data => Stats::Portals.daily_karma(Portal.find_by_code(f.code), 31.days.ago, 1.day.ago))%>
<% end -%>
<%mftext('Visitas', :blast => true) do %>
	<%=sparkline(:size => '250x50', :data => Stats::Portals.daily_pageviews(Portal.find_by_code(f.code), 31.days.ago, 1.day.ago))%>
<% end -%>
<% end -%>

<%mftext('Staff', :has_submodules => true) do %>
<%mftext('Eventos pendientes', :grid => 4, :blast => true) do %>
<table>
	<tr class="<%=oddclass%>">
		<td>Moderadores</td>
		<td class="centered"><a href="/alertas/moderator?scope=<%=@scope%>"><%=Alert.ccount(:open, { :domain => :editor, :scope => @scope})%></a></td>
	</tr>
	<%
cnames = Cms::CONTENTS_WITH_CATEGORIES.collect { |cname| "'#{cname}'" }
ContentType.find(:all, :conditions => "name IN (#{cnames.join(',')})", :order => 'lower(name)').each do |ct|
scope = Alert.encode_editor_scope(@scope, ct.id) %>
	<tr class="<%=oddclass%>">
		<td>Editores de <%=Cms::translate_content_name(ct.name)%></td>
		<td class="centered"><a href="/alertas/editor?scope=<%=scope%>"><%=Alert.ccount(:open, { :domain => :editor, :scope => scope})%></a></td>
	</tr>
<% end -%>
</table>
<% end -%>


<% end -%>

<%mftext('Los que más karma han generado en la última semana') do %>
<%
fp = FactionsPortal.find_by_code(f.code)
dbk = User.db_query("SELECT COALESCE(sum(karma), 0) as sum FROM stats.portals WHERE portal_id = #{fp.id} AND created_on >= date_trunc('day', now() - '1 week'::interval) and created_on < date_trunc('day', now())")
dbh = User.db_query("select sum(pageviews) from stats.portals where portal_id = #{fp.id} and created_on >= date_trunc('day', now() - '1 week'::interval) and created_on < date_trunc('day', now())")
total_karma = dbk.size > 0 ? dbk[0]['sum'].to_f : 0.1
dbu = User.db_query("select sum(karma), (select login from users where id = stats.users_karma_daily_by_portal.user_id) as login from stats.users_karma_daily_by_portal where portal_id = #{fp.id} and created_on >= date_trunc('day', now() - '1 week'::interval) group by portal_id, user_id order by sum(karma) desc limit 10")
%>
<table>
<% dbu.each do |dbi| %>
<tr>
  <td style="width: 150px;"><a href="http://<%=App.domain%>/miembros/<%=dbi['login']%>"><%=dbi['login']%></a></td>
  <td style="text-align: right; width: 50px;"><%=dbi['sum']%></td>
  <td style="text-align: right; width: 40px;"><%="%.2f" % ((dbi['sum'].to_i / total_karma)*100)%>%</td>
  <td style="width: 200px;"><%=draw_pcent_bar(dbi['sum'].to_f / total_karma)%></td>
</tr>
<% end -%>
</table>
<% end -%>

<div class="right"><strong><a href="/cuenta/faccion">Administración</a></strong></div>
</div>
