<%
alerts = Alert.closed.in_domain_and_scope(@domain, @scope).paginate(
    :page => params[:page], :per_page => 50, :include => [:reviewer, :reporter],
    :order => 'alerts.id DESC')
%>
<%= render :partial => 'shared/pager2',
           :locals => {:collection => alerts,
                       :pos => 'top',
                       :options => {
                           :preserve_keys => [:domain, :scope],
                           :params => {:domain => @domain, :scope => @scope}
                       }
                      } %>

<table>
	<tr class="<%=oddclass%>">
		<th style="width: 16px;"></th>
		<th class="w125 centered infoinline">Creada</th>
		<th>Suceso</th>
		<th>Reportero</th>
		<th>Ejecutor</th>
		<th class="w125 centered infoinline">Completada</th>
</tr>
<% alerts.each do |sle| %>
<tr class="<%=oddclass%>">
	<td style="width: 16px;">
    <img class="sprite1 alert-type<%=sle.type_id%>" src="/images/blank.gif" />
  </scope_conditionstd>
	<td class="w125 centered infoinline"><%=print_tstamp(sle.created_on, 'compact')%></td>
	<td><%=sle.headline%></td>
	<td class="infoinline"><%=user_link(sle.reporter) if sle.reporter%></td>
	<td class="infoinline"><%=user_link(sle.reviewer) if sle.reviewer%></td>
	<td class="w125 centered infoinline"><%=print_tstamp(sle.completed_on, 'compact')%></td>
</tr>
<% end -%>
</table>
<%= render :partial => 'shared/pager2',
           :locals => {:collection => alerts,
                       :pos => 'bottom',
                       :options => {
                           :preserve_keys => [:domain, :scope],
                           :params => {:domain => @domain, :scope => @scope}
                       }
                      } %>
