<% generic_support do %>
  <%= render :partial => 'top_bloggers' %>
  <%= render :partial => 'best_entries' %>
<% end %>

<% content_main do %>
<% mftext('Últimas entradas') do %>
<%# TODO cachear !!!
%>
<% @blogentries = Blogentry.paginate(:page => params[:page], :per_page => 20, :conditions => "state = #{Cms::PUBLISHED}", :order => 'created_on DESC') %>
<%= render :partial => 'shared/pager2', :locals => {:collection => @blogentries, :pos => 'top'} %>

<% for blogentry in @blogentries
u = blogentry.user
%>
<div style="height: 60px; clear: left; margin-bottom: 10px; padding: 2px;" class="<%=oddclass%>">
<div style="float: left;"><img src="<%=ASSET_URL%><%=u.show_avatar%>" /></div>
<h2><a href="/blogs/<%=u.login%>/<%=blogentry.id%>"><%=blogentry.title%></a></h2>
<div class="infoinline"><a href="<%=gmurl(u)%>"><%=u.login%></a> | <%=print_tstamp(blogentry.created_on)%></div>
</div>
<% end -%>
<%= render :partial => 'shared/pager2', :locals => {:collection => @blogentries, :pos => 'bottom'} %>
<% end -%>
<% end -%>