<%mftext('Mapa de contenidos') do %>
<table>
  <tr>
    <td style="width: 20px;"></td>
    <% Cms::CONTENTS_WITH_CATEGORIES.each do |cls_name|
		c = "#{ActiveSupport::Inflector::pluralize(cls_name)}Category"
        next if %w(TopicsCategory ReviewsCategory EventsCategory).include?(c)
     %>
    <td class="centered" style="width: 125px;"><%=Cms::translate_content_name(cls_name).capitalize%></td>
    <% end -%>
  </tr>
<%
Faction.find(:all, :order => 'lower(name) asc').each do |f|
%>
<tr>
  <td><img class="icon16" src="<%=ASSET_URL%>/storage/games/<%=f.code%>.gif" /></td>
<%

  Cms::CONTENTS_WITH_CATEGORIES.each do |cls_name|
  c = "#{ActiveSupport::Inflector::pluralize(cls_name)}Category"
    next if %w(TopicsCategory ReviewsCategory EventsCategory).include?(c)
    max_t = Cms::SAFE_PUBLICATION_THRESHOLDS[cls_name]
	root_t = Term.single_toplevel(:slug => f.code)
    last = root_t.find(:published, :content_type => cls_name, :order => 'created_on DESC')

    if last.size > 0 then
		last = last[0]
        last_t = (Time.now - last.created_on).to_i
        if last_t > max_t then
          last_t = max_t
        end
    else
      last_t = max_t
    end
    %>
    <td><div class="warning<%=(last_t.to_f/max_t * 10).to_i%>"><%=draw_pcent_bar(last_t.to_f / max_t, format_interval(last_t)) %></div></td>
    <%
    end %>
</tr>
<%
end
%>
</table>
<% end -%>
