<% generic_support do %>
	<%mftext('Apuestas pendientes de completar') do %>
  <ul class="content-hid">
  	<%# TODO perf cache("/common/admin/contenidos/index/pending_bets") do %>
  <% Bet.published.awaiting_result.find(:all).each do |bet| %>
    <% if Authorization.can_edit_content?(@user, bet) then %>
    <li><%=link_to bet.resolve_hid, "/apuestas/resolve/#{bet.id}"%></li>
    <% else %>
    <li><%=bet.resolve_hid%></li>
    <% end -%>
  <% end -%>
  <%# end -%>
  </ul>
  <% end -%>

<%=mfcontents_basic("Preguntas en el limbo",
					Proc.new { Question.find(:published, :conditions => "created_on < '#{Time.at(Time.now.to_i - Question::WARNING_AFTER_OPEN_FOR).strftime('%Y-%m-%d %H:%M:%S')}' AND answered_on is null", :order => 'created_on ASC') },
					[],
					:truncate_at => 28, :faction_favicon => true, :blast => true)%>

  <% if nil then %>
  <%# esto no funciona pq no sabemos cuándo se ha modificado el estado de un contenido por última vez %>
  <div class="subheader"><div>Últimos contenidos resueltos</div></div>
  <ul class="content-hid">
    <% Content.find(:all, :conditions => "state IN (#{Cms::PUBLISHED}, #{Cms::DELETED})", :order => 'updated_on DESC', :limit => 20).each do |obj| %>
<li class="<%=oddclass%>"><%=obj.name%></li>
<%  end %>
</ul>
<%  end %>
<% end %>

<% content_main do %>
<% end -%>
