<%mftext('Últimas decisiones de publicación') do %>
<% cpublishable = Cms::contents_classes_publishable.collect { |c| "'#{c.name}'" }
cond = "content_type_id IN (SELECT id FROM content_types WHERE name IN (#{cpublishable.join(',')})) AND state > 1"
if controller.portal.id < 0 then
	cond<< " AND clan_id IS NULL"
elsif controller.portal.kind_of?(BazarDistrictPortal) then
	cond<< " AND clan_id IS NULL"
else %>

<%# Facción, cargamos los platform_ids y game_ids válidos más los que sean null %>
<%# TODO inconsistencia, la lista d eelementos a moderar muestra _todo_ %>
<%
	g = controller.portal.games
	g = g.collect { |x| x.id } if g.size > 0
	if g.size > 0
    	cond<< " AND game_id IN (#{g.join(',')})"
	else %><%# si no tiene games tiene platforms%><% 
		plat_codes = controller.portal.factions.find(:all, :conditions => 'is_platform = \'t\'').collect { |x| "'#{x.code}'" }
		plats_ids = Platform.find(:all, :conditions => "code IN (#{plat_codes.join(',')})").collect { |x| x.id }
		cond<< " AND platform_id IN (#{plats_ids.join(',')})" if plats_ids.size > 0
	end
end

@contents = Content.paginate(:page => params[:page], :per_page => 50, :conditions => cond, :order => 'id DESC')
%>
<%=render :partial => 'shared/pager2', :locals => { :collection => @contents, :pos => 'top' } %>

<table>
  <tr>
    <th class="w25">Tipo</th>
    <th>Contenido</th>
    <th class="w50"></th>
    <th class="w50"></th>
    <th class="w50"></th>
    <th>Publicado hace</th>
    <th>Autor</th>
  </tr>
<% 
cache_category_paths = {}
@contents.each do |uniq|
  content = uniq.real_content
  @item = content
  sums = PublishingDecision.find_sum_for_content(content, true)
  vcount = PublishingDecision.find_voters_count_for_content(content)
%>
  <tr class="content<%=uniq.id%> <%=oddclass%>">
  <td class="infoinline" style="font-weight: bold;"><%=Cms::translate_content_name(@item.class.name)[0..2].upcase%></td>
    <% 
        if @item.class.name == 'Image' then %>
        <%
            if cache_category_paths.keys.include?(@item.main_category.id)
              paths = cache_category_paths[@item.main_category.id]
            else
              paths, navpath = controller.get_category_address(@item.main_category, 'ImagesCategory')
              cache_category_paths[@item.main_category.id] = paths
            end
          %>
          <td><table class="compact">
              <tr>
                <td class="w100"><%=link_to fc_thumbnail(@item.file, 'f', '85x60', false), gmurl(@item).gsub('show', 'edit')%><br /><span class="infoinline"><%=format_interval((Time.now - @item.created_on).to_i)%></span></td>
                <td>
                  <span class="infoinline">en <strong><%=paths.join(' &raquo; ')%></strong></span>
                </td>
              </tr>
            </table>
        </td>
        <% else %>
        <% if Cms::user_can_edit_content?(@user, @item) then %>
      <td><a href="<%=gmurl(@item).gsub('show', 'edit')%>"><%=@item.resolve_hid%></a></td>
      <% else %>
      <td><%=@item.resolve_hid%></td>
      <% end %>
      <% end -%>
    <td><%=member_state('active')%> <%=vcount%></td>
    <td <% if @item.state == Cms::PUBLISHED then%>style="background: #99CF9A;"<% end -%>><img class="publish16" src="/images/blank.gif" /> <%=(sums[0]*10).to_i.to_f / 10%></td>
    <td <% if @item.state == Cms::DELETED then%>style="background: #C99A9A;"<% end -%>><img class="deny16" src="/images/blank.gif" /> <%=(sums[1]*10).to_i.to_f / 10%></td>
    <td class="infoinline" style="width: 200px;"><%=format_interval((Time.now.to_i - @item.updated_on.to_i), 'minutos')%></td>
    <td style="width: 125px;"><%=link_to @item.user.login, :controller => '/miembros', :action => @item.user.login%></td>
    </tr>
<% end -%>
</table>
<%=render :partial => 'shared/pager2', :locals => { :collection => @contents, :pos => 'bottom' } %>
<% end -%>