<% content_main do %>
<% mftext('Editar imagen') do %>

<%= form_tag({:action => 'update', :id => @image}, {:multipart => true, :class => 'editing-content' }) %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar', :class => 'button' %>
</form>
<%=render :partial => '/shared/change_authorship', :locals => {:object => @image}%>

<br />
<%= link_to 'Mostrar imagen publicada', gmurl(@image) %> |
<%= link_to 'Volver', :action => 'list' %>
<% end -%>
<% end -%>

<% generic_support do %>
  <%= render :partial => 'shared/content_details', :locals => { :object => @image} %>
<% end -%>

