<% content_main do %>
  <% mftext("#{@category.parent.name} &raquo; #{@category.name}") do %>
<div class="imagesgallery">
<%
images = Image.in_term(@category).published.paginate(
    :page => params[:page], :per_page => 15, :order => 'id')
%>
<%= render :partial => 'shared/pager2',
           :locals => {:collection => images, :pos => 'top'} %>
<% cache("/common/imagenes/gallery/#{@category.id}/page_#{params[:page]}") do
images.each do |image| %>
  <span class="screenshot">
    <%=link_to fc_thumbnail(image.file, 'i', '153x115', false), gmurl(image)%>
  </span>
<% end %>
<% end %>
<div style="clear: both;">&nbsp;</div>
<%= render :partial => 'shared/pager2',
           :locals => {:collection => images, :pos => 'bottom'} %>
</div>
<% end -%>
<% end -%>

<% generic_support do %>
	<%#= render :partial => '/imagenes/random', :locals => {:category => @category} %>

	<%= render :partial => '/imagenes/best_rated', :locals => {:category => @category} %>

  <%=render :partial => '/shared/category_tag_browser', :locals => {:category => @category}%>

  <% mftext('Aportaciones a la galería') do %>
  <ul class="content-hid">
<% cache("/common/imagenes/gallery/#{@category.id}/aportaciones") do %>
  <%
	@category.top_contributors(:limit => 10).each do |h| %>
  <li><%=draw_user_info(h[:user])%><br /><%=draw_pcent_bar(h[:pcent], "#{h[:count]} imágenes")%></li>
  <% end %>
  </ul>
  <% end -%>

  <% mftext("Otras galerías de #{@category.parent.name}") do %>
  <ul class="content-hid">
    <strong></strong>
  <% for gallery in @category.parent.children.find(:all, :conditions => ['taxonomy = \'ImagesCategory\' and id <> ?', @category.id]) %>
  <% if @category.id == gallery.id then %>
  <li class="current"><%=link_to gallery.name, gmurl(gallery)%></li>
  <% else %>
  <li><%=link_to gallery.name, gmurl(gallery)%></li>
  <% end -%>
  <% end -%>
<% end -%>
  </ul>
  <% end -%>
<% end -%>

