<% generic_support do %>
  <%= render :partial => '/shared/drafts', :locals => { :cls => Image } if user_is_authed %>
  <% mftext('Información') do %>
  <p>Las imágenes gore y las imágenes porno no están permitidas.</p>
  <% end -%>
  <br />
  <% mftext('Alegría del día') do %>
  <p>Elige <strong>Bazar &raquo; Babes</strong> (Chicas) o <strong>Bazar &raquo; Dudes</strong> (Chicos) si quieres enviar imágenes para esas galerías.</p>
  <% end -%>
<%= render :partial => 'shared/pending', :object => Image.pending %>
<% end -%>

<% content_main do %>
<% mftext('Nueva imagen') do %>

<%= form_tag({:action => 'create'}, :multipart => true)%>
  <%= render :partial => 'form' %>
  <%= render :partial => '/shared/new_content_tags' %>
  <br />
  <%= submit_tag 'Crear' %>
</form>
<br />

<% end -%>
<% if Authorization.can_bulk_upload?(@user) then %>
<%mftext('Añadir imágenes en masa') do %>
<%= form_tag({:action => 'create_from_zip'}, :multipart => true) %>
<%=render :partial => '/shared/category_term_select', :locals => { :index => 100, :content_type => 'Image' } %>
  <p><label for="image_file">Archivo</label><br/>
  <%= file_field 'image', 'file' %></p>
  <%= submit_tag 'Crear' %>
</form>
<% end -%>
<br />
<% end -%>
<%= link_to 'Volver', :action => 'list' %>
<% end -%>
