<% content_main do %>
<% mftext('Imágenes del día') do %>

<div class="imagesgallery">
	<% @potds = Potd.paginate(:page => params[:page], :conditions => ['portal_id = ?', controller.portal.id], :order => 'date ASC', :per_page => 18, :include => [:image]) %>
<%= will_paginate @potds, :class => 'digg_pagination'%>
<%
cache("/#{controller.portal_code}/imagenes/potds/page_#{params[:page]}") do

@potds.each do |potd| %>
<div class="screenshot" style="float: left; width: 160px;"><div style="text-align: center"><%=potd.date%></div><%=link_to "<img src=\"#{ASSET_URL}/cache/thumbnails/i/153x115/#{potd.image.file}\" />", gmurl(potd.image)%></div>
<% end %>
<% end %>
<div style="clear: both;">&nbsp;</div>
<%= will_paginate @potds, :class => 'digg_pagination'%>
</div>
<% end -%>
<% end -%>

<% generic_support do %>

<% if nil then %>
<% mftext('Mejor valoradas') do %>
<ul class="content-hid">
<%  # TODO BUG portal unsafe
  cache("/common/imagenes/potds/best_rated_all#{Time.now.strftime('%Y%m%d')}") do %>
  <% for c in ImagesCategory.most_rated_items(:content_type => 'Image') %>
  <li class="<%=oddclass%>"><span class="screenshot"><%=link_to fc_thumbnail(c.file, 'f', '85x60', false), gmurl(c)%></span><br /><%=draw_rating(c.rating)%></li>
  <% end -%>
<% end -%>
</ul>
<% end -%>


<% end -%>
<% end -%>

