<% generic_support do %>
<% end -%>

<% content_main do %>
<% mftext(@category.name) do %>

<%
galleries = Term.paginate(
    :conditions => ["parent_id = ? AND taxonomy = 'ImagesCategory'",
                    @category.id],
    :order => 'LOWER(name)',
    :page => params[:page],
    :per_page => 10)

%>
<%= render :partial => 'shared/pager2',
           :locals => {:collection => galleries, :pos => 'top'} %>
<dl class="root-gallery">
<%
cache("/common/imagenes/toplevel/#{@category.id}/page_#{params[:page]}") do
  galleries.each do |subcategory| %>
<dt style="clear: left;">
  <h2><%= link_to subcategory.name, gmurl(subcategory)%></h2>
</dt>
<dd>
	<% lastit = subcategory.last_published_content('Image')%>
  <div class="gallery-info infoinline">
    Imágenes: <strong><%=subcategory.contents_count%></strong>
    <% if lastit then %>
      <br />Actualizada: <%=lastit.created_on.strftime("%d/%m/%Y")%>
    <% end -%>
  <br />
  <% topcontrib = subcategory.top_contributors(
        :taxonomy => 'ImagesCategory', :limit => 1)[0]

  if topcontrib then %>
    Contribuyente principal:
    <%=topcontrib[:login]%> (<%=(topcontrib[:pcent]*100).to_i%>%)
  <% end -%>
  </div>
  <div class="gallery-preview">
  <% Image.in_term(subcategory).published.find(
      :all,
      :order => 'created_on DESC',
      :limit => 3).each do |image| %>
      <span class="screenshot">
        <%=link_to fc_thumbnail(image.file, 'f', '85x60', false), gmurl(image)%>
      </span>
  <% end -%>
  </div>

  </dd>
<% end -%>
<% end -%>
</dl>

<%= render :partial => 'shared/pager2',
           :locals => {:collection => galleries, :pos => 'bottom'} %>
<% end -%>
<% end -%>
