<% cache("/common/foros/_all_time_users/#{@forum.class.name}/#{@forum.id}_#{Time.now.to_i/86400}") do %>
<% mftext("Top global de #{@forum.name}") do %>
<table id="most_active_users">
  <% @forum.most_active_users('TopicsCategory', nil).each do |u,data|%>
  <tr class="<%=oddclass%>">
    <td style="padding-left: 3px;"><%=member_state(u.hstate)%>
      <span class="nick"><%=link_to u.login, gmurl(u) %></span>
    </td>
    <td style="padding-left: 3px; width: 100px;" class="infoinline">
          <%="<strong>#{data[:topics]}</strong> tópics &nbsp;" if data[:topics] > 0 %>
          <%="<span class=\"comments-count\" title=\"Comentarios\"><span>#{data[:comments]}</span></span>" if data[:comments] > 0 %>
          <br />
        <%=draw_pcent_bar(data[:relative_pcent], "#{data[:karma_sum]} puntos de karma")%>
    </td>
  </tr>
  <% end -%>
</table>
<script type="text/javascript">Gm.Slnc.marklinks('most_active_users', '_xs=maut');</script>
<% end -%>
<% end -%>
