<%
cache("/common/foros/_forums_list/#{parent.id}") do
p = nil
parent.children.find(:all, :conditions => ['taxonomy = ?', 'TopicsCategory'], :order => 'lower(name)').each do |forum|
  p = forum.root if p.nil? %>
<tr class="<%=oddclass%>">
  <td style="width: 20px;"><img src="<%=ASSET_URL%>/storage/games/<%=p.code%>.gif" /></td>
  <td><%=render(:partial => 'forumdescription', :object => @object = forum)%></td>
  <td class="w50 infoinline right"><%=forum.contents_count%></td>
  <td class="w50 infoinline right"><%=forum.comments_count%></td>
  <td class="timestamp infoinline"><%last = forum.get_or_resolve_last_updated_item
    if last then %><%=print_tstamp(last.updated_on)%> <a class="content" href="<%=gmurl(last)%>">Ir</a><% end -%></td>
</tr>
<% end -%>
<% end -%>
