<% content_main do %>
    <%mftext('Editar tópic') do %>
<form method="post" action="/foros/update_topic/<%=@topic.id%>" name="REPLIER">
<%= hidden_field_tag('topic[id]', @topic.id) %>
<table>
<tr>
  <td>Título</td>
  <td><%= text_field(:topic, "title", :class => 'text') %></td>
</tr>
<tr>
  <td>Sticky</td>
  <td><%=check_box(:topic, "sticky") %></td>
</tr>
<tr style="vertical-align: top;">
  <td>Texto</td>
  <td><%= bbeditor :name => 'topic[main]', :id => 'comment_comment', :value => Formatting.html_to_bbcode(@topic.main), :style => ' height: 50px;' %></td>
</tr>
<tr>
<td></td>
<td><%= submit_tag("Guardar") %></td>
</tr>
</table>
</form>
<% end -%>

<%mftext('Mover tópic') do %>
<%= form_tag(:action => "move_topic", :id => @topic.id) %>
<%= hidden_field_tag('topic[id]', @topic.id) %>
<%=render :partial => '/shared/category_term_select', :locals => { :content_type => 'Topic', :index => 0, :selterm => @topic.terms[0] } %>
<table>
  <tr>
<td></td>
<td><%= submit_tag("Mover") %></td>
</tr>
</table>
</form>
<% end -%>

<% end -%>

<% generic_support(:show_ads => false) do %>
<% end -%>

