<% content_main do %>
<% mftext('Foros') do %>
<table>
  <tr>
    <th colspan="2">Foro</td>
    <th style="text-align: right; width: 50px;">Tópics</td>
    <th style="text-align: right; width: 50px;">Respuestas</td>
    <th style="text-align: right; width: 150px;">Último</td>
  </tr>
<%
controller.portal.categories('Topic').each do |toplevelt|
toplevelt.children.find(:all, :conditions => ['taxonomy = ?', 'TopicsCategory'], :order => 'lower(name)').each do |category|
  %>
  <tr class="subheader f_deca <%= 'forum-category' if controller.portal_code and controller.portal.id > -1%>">
    <td style="width: 20px;"><%=faction_favicon(category)%></td>
    <td><strong><div style="float: left; vertical-align: middle; width: 20px;"></div> <a class="nav" href="<%=gmurl(category, :taxonomy => 'TopicsCategory')%>"><%=category.name%></a></strong></td>
    <td style="" class="infoinline timestamp"><%=category.contents_count(:cls_name => 'Topic')%></td>
    <td style="" class="infoinline timestamp"><%=category.comments_count%></td>
    <td class="timestamp infoinline" style="font-weight: normal;"><%last = category.get_or_resolve_last_updated_item
    if last then %><%=print_tstamp(last.updated_on)%> <a class="nav" href="<%=gmurl(last)%>">Ir</a><% end -%></td>
  </tr>
  <% if controller.portal_code and controller.portal.id > -1 then %>
  <%= render(:partial => 'forums_list', :locals => {:parent => category}) %>
  <% end -%>
  <tr>
    <td class="spacer" style="height: 10px;"></td>
  </tr>
  <% end %>
<% end %>
<% end %>
</table>
<% end -%>

<% generic_support do %>
  <%=render :partial => '/foros/nuevo_topic'%>
<% end -%>

