<% content_main do %>
    <%mftext('Nuevo tópic') do %>
<form method="post" action="/foros/create_topic" name="REPLIER" style="width: 100%;">
<% @topic = Topic.new unless defined?(@topic) %>

<table>
  <tr class="<%=oddclass%>">
    <td style="padding: 5px 0;" class="w100">Foro</td>
    <td style="padding: 5px 0;"><%=render :partial => '/shared/category_term_select', :locals => { :content_type => 'Topic', :index => 0, :selterm => @forum } %></td>
  </tr>
  <tr class="<%=oddclass%>">
    <td style="padding: 5px 0;">Título</td>
    <td style="padding: 5px 0;"><%=text_field(:topic, "title", :class => 'text w200') %></td>
  </tr>
<tr  class="<%=oddclass%>" style="vertical-align: top;">
<td style="padding: 5px 0;">Texto</td>
<td style="padding: 5px 0;">
	<%= bbeditor :name => 'topic[main]', :id => 'comment_comment', :value => Formatting.html_to_bbcode(@topic.main), :style => 'width: 500px; height: 50px;' %>
  </td>
<input type="hidden" name="add_to_tracker" value="1" />
</table>
<div class="right"><input type="submit" class="button" value="Crear" /></div>
</form>
<% end -%>
<% end -%>

<% generic_support do %>
  <%mftext('Consejos') do %>
<p>Malos Títulos:</p>
<ul>
<li>Ayuda</li>
<li>omfg! habeis visto esto??</li>
<li>Nuevo Clan</li>
</ul>

<p>Buenos títulos:</p>
<ul>
<li>Problemas con pb y cod2</li>
<li>Intento de timo de un newbie</li>
<li>Lords of the Underground: nuevo clan de ut2004</li>
</ul>
<% end %>
<% end -%>

