<% content_main do %>
  <%=mfcontent(@topic)%>
<%end -%>

<% content_support(:content => @topic) do %>
  <%=render :partial => '/shared/content_summary', :locals => { :content => @topic }%>
  <%=render :partial => '/foros/nuevo_topic'%>

  <%=render :partial => '/shared/last_commented_items_in_category', :locals => { :category => @forum, :content_type => 'Topic' }%>
  <%=render :partial => 'most_active_users', :object => @object = @forum%>
  <%=render :partial => 'most_active_topics', :object => @object = @forum%>
  <%=render :partial => 'go_to_competition', :object => @object = @forum%>
  <%=render :partial => 'all_time_users', :object => @object = @forum%>

<% if (not @forum.respond_to?(:competition) or not @forum.competition) and @forum.parent then %>
  <%mftext('Subforos') do %>
<ul class="content-hid">
<strong><%=@forum.parent.name%></strong>
<% for subforum in @forum.parent.children.find(:all, :conditions => 'taxonomy = \'TopicsCategory\'', :order => 'lower(name)') %>
<li><%=link_to subforum.name, :action => 'forum', :id => subforum.id%></li>
<% end -%>
</ul>
<% end -%>
<% end -%>
<% end -%>
