<%mftext('Trabajos recientes') do %>
<table>
	<tr>
	<th></th>
	<th class="w16"></th>
	<th>command</th>
	<th>duration</th>
	<th class="right">submitted_at</th>
	<th class="right">started_at</th>
	<!-- <th>tag</th> -->
	<!-- <th>priority</th> -->
	<!-- <th>exit_status</th> -->
	<!-- <th>stdin</th> -->
	<!-- <th>stdout</th> -->
</tr>
<% User.db_query("SELECT * FROM bj_job ORDER BY submitted_at DESC LIMIT 100").each do |bjj|
if bjj['state'] == 'finished' && bjj['exit_status'].to_s == '0'
icon = 'ok'
elsif bjj['state'] == 'finished'
icon = 'error'
elsif bjj['state'] == 'running'
icon = 'running'
elsif bjj['state'] == 'pending'
icon = 'waiting'
else
icon = 'error'
end
%>
<tr class="<%=oddclass%>">
	<td><a href="/admin/bj_jobs/job?bj_job_id=<%=bjj['bj_job_id']%>"><%=bjj['bj_job_id']%></a></td>
	<td><img src="/skins/default/images/icons/job_<%=icon%>.png" /></td>
	<td><%=bjj['tag']%></td>
	<td class="infoinline timestamp"><%="#{(bjj['finished_at'].to_time.to_i - bjj['started_at'].to_time.to_i)}s" if bjj['finished_at'] %></td>
	<td class="infoinline timestamp"><%=print_tstamp(bjj['submitted_at'].to_time)%></td>
	<td class="infoinline timestamp"><%=print_tstamp(bjj['started_at'].to_time) if bjj['started_at']%></td>
	<!-- <td><%=bjj['command']%></td> -->
	
	<!-- <td><%=bjj['priority']%></td> -->
	<!-- <td><%=bjj['exit_status']%></td> -->
	<!-- <td><%=bjj['stdin']%></td> -->
	<!-- <td><%=bjj['stdout']%></td> -->
</tr>
<% end %>
</table>
<% end %>

<%mftext('Trabajos archivados') do %>
<table>
	<tr>
	<th></th>
	<th></th>
	<th>command</th>
	<th>duration</th>
	<th class="right">submitted_at</th>
	<th class="right">started_at</th>
	<!-- <th>tag</th> -->
	<!-- <th>priority</th> -->
	<!-- <th>exit_status</th> -->
	<!-- <th>stdin</th> -->
	<!-- <th>stdout</th> -->
</tr>
<% User.db_query("SELECT * FROM bj_job_archive WHERE submitted_at >= now() - '3 days'::interval ORDER BY submitted_at DESC").each do |bjj|
if bjj['state'] == 'finished' && bjj['exit_status'].to_s == '0'
icon = 'ok'
elsif bjj['state'] == 'finished'
icon = 'error'
elsif bjj['state'] == 'running'
icon = 'running'
elsif bjj['state'] == 'pending'
icon = 'waiting'
else
icon = 'error'
end
%>
<tr class="<%=oddclass%>">
	<td><a href="/admin/bj_jobs/job?bj_job_archive_id=<%=bjj['bj_job_archive_id']%>"><%=bjj['bj_job_archive_id']%></a></td>
	<td><img src="/skins/default/images/icons/job_<%=icon%>.png" /></td>
	<td><%=bjj['tag']%></td>
	<td class="infoinline timestamp"><%="#{(bjj['finished_at'].to_time.to_i - bjj['started_at'].to_time.to_i)}s" if bjj['finished_at'] %></td>
	<td class="infoinline timestamp"><%=print_tstamp(bjj['submitted_at'].to_time)%></td>
	<td class="infoinline timestamp"><%=print_tstamp(bjj['started_at'].to_time)%></td>
	<!-- <td><%=bjj['command']%></td> -->
	
	<!-- <td><%=bjj['priority']%></td> -->
	<!-- <td><%=bjj['exit_status']%></td> -->
	<!-- <td><%=bjj['stdin']%></td> -->
	<!-- <td><%=bjj['stdout']%></td> -->
</tr>
<% end %>
</table>
<% end %>
