<%=render :partial => '/shared/edit_content_taxonomy', :locals => { :acts_as_content => @demo, :only_games => true } %>

<p><label>Juego</label><br/>
<select id="demo_game_id" name="demo_game_id">
	<option></option>
<% Game.find(:all, :conditions => "has_demos = 't'", :order => 'lower(name)').each do |g| %>
    <option <%='selected="selected"' if g.id == @demo.games_mode_id && @demo.games_mode.game_id%>value="<%= g.id %>"><%= g.name %></option>
<% end -%>
</select>
</p>

<p><label>Modo de juego</label><br/>
<select id="games_mode_id" name="demo[games_mode_id]">
<% if @demo.games_mode_id then %>
<%
g_id = User.db_query("SELECT id FROM games WHERE name = '#{@demo.games_mode.game.name}'")[0]['id'].to_i
GamesMode.find(:all, :conditions => ['game_id = ?', g_id]).each do |gm| %>
    <option <%='selected="selected"' if gm.id == @demo.games_mode_id%>value="<%= gm.id %>"><%= gm.name %></option>
<% end %>
<% end -%>
</select>
</p>

<p><label for="image_file">Archivo</label><br/>
<% if @demo.file then
real_path = "#{Rails.root}/public/" + @demo.file
%>
<a href="<%=fc_path(@demo.file)%>"><%=File.basename(@demo.file)%></a> <span class="infoinline"><%=(File.exists?(real_path) ? number_to_human_size(File.size(real_path)) : 'El archivo físico no existe')%></span>
<% end -%>
<%= file_field 'demo', 'file' %><span class="infoinline">Subir ZIPs o RARs.</span></p>

<table class="skeletal">
<tr>
    <td>Jugador/Equipo 1</td>
    <td><input type="text" class="text" name="demo[entity1_external]" value="<%=@demo.entity1_local_id ? @demo.entity1.to_s : @demo.entity1_external%>" /> &nbsp; &nbsp; <input type="checkbox" name="demo[entity1_is_local]" value="1" <%='checked="checked"' if @demo.entity1_local_id%> /> Registrado en gm</td>
</tr>
<tr>
    <td>Jugador/Equipo 2</td>
    <td><input type="text" class="text" name="demo[entity2_external]" value="<%=@demo.entity2_local_id ? @demo.entity2.to_s : @demo.entity2_external%>" /> &nbsp; &nbsp; <input type="checkbox" name="demo[entity2_is_local]" value="1" <%='checked="checked"' if @demo.entity2_local_id%> /> Registrado en gm</td>
</tr>
</table>

<p><strong>Los campos a partir de aquí son opcionales</strong></p>
<p><label>Fecha en que se jugó</label><br/>
<%= date_select("demo", "played_on", {:start_year => 2000, :include_blank => true})%></p>

<p><label >Tipo</label><br/>
<%= select("demo", "demotype", Demo::DEMOTYPES.each {|k,v| [ k, v ] })%></p>

<p><label >POV</label><br/>
<%= select("demo", "pov_type", Demo::POVS.each {|k,v| [ k, v ]  })%></p>

<p><label>Mapa</label><br/>
<select id="games_map_id" name="demo[games_map_id]">
<% if @demo.games_mode_id then %>
<%
GamesMap.find(:all, :conditions => ['game_id = ?', g_id], :order => 'lower(name) asc').each do |gm| %>
    <option <%='selected="selected"' if gm.id == @demo.games_map_id%>value="<%= gm.id %>"><%= gm.name %></option>
<% end %>
<% end -%>
</select>
</p>

<p><label>Versión</label><br/>
<select id="games_version_id" name="demo[games_version_id]">
<% if @demo.games_mode_id then %>
<%
GamesVersion.find(:all, :conditions => ['game_id = ?', g_id]).each do |gm| %>
    <option <%='selected="selected"' if gm.id == @demo.games_version_id%>value="<%= gm.id %>"><%= gm.version %></option>
<% end %>
<% end -%>
</select>
</p>

<p><label>Evento</label><br/>
<%= select("demo", "event_id", Event.published.find(
      :all,
      :conditions => 'parent_id is null',
      :order => 'lower(title) ASC').collect { |p| [ p.title, p.id ] }, { :include_blank => true })%></p>
</p>

<script type="text/javascript">
$('#demo_game_id').blur(function() {
	$.ajax({data:'game_id=' + $('#demo_game_id').val(), success:function(request){ $('#games_mode_id').html(request);}, type:'post', url:'/demos/get_games_modes'});
	$.ajax({data:'game_id=' + $('#demo_game_id').val(), success:function(request){ $('#games_version_id').html(request);}, type:'post', url:'/demos/get_games_versions'});
	$.ajax({data:'game_id=' + $('#demo_game_id').val(), success:function(request){ $('#games_map_id').html(request);}, type:'post', url:'/demos/get_games_maps'});
	})
</script>

<p><label for="demo_description">Descripción</label><br/>
<%=wysiwyg('demo[description]', :value => @demo.description, :height => '200px')%></p>

<strong>Mirrors</strong><br />
<% @demo.demo_mirrors.find(:all, :order => 'id ASC').each do |mirror| %>
<input type="text" class="text" name="demo[mirrors][<%=mirror.id.to_s%>]" value="<%=mirror.url%>" /> &nbsp; <label><input type="checkbox" name="demo[mirrors_delete][]" value="<%=mirror.id.to_s%>" /> Borrar</label><br />
<% end %>

<br /><strong>Añadir mirrors:</strong><br />
<style type="text/css">
	#newmirrors input.text { width: 175px; margin-bottom: 5px; }
</style>
<span id="newmirrors">
  <input type="text" class="text" name="demo[mirrors_new][]" value="" /><br />
  <% if @demo.new_record? then %><input type="text" class="text" name="demo[mirrors_new][]" value="" /><br /><% end -%>
</span>

<%=draft_check_box(@demo)%>
