<% generic_support do %>
<% mftext('Últimas demos subidas') do %>
<%=generic_contents_list(Demo.in_portal(controller.portal).published.find(
      :all, :order => 'created_on DESC', :limit => 5))%>
<% end -%>

<% mftext('Las más descargadas') do %>
<ul class="content-hid">
<%	# TODO cache %>
<% Demo.in_portal(controller.portal).published.find(
    :all, :order => 'downloaded_times DESC', :limit => 5).each do |d| %>
<li class="<%=oddclass%>"><%=link_to d.title, gmurl(d)%>
  <div class="infoinline"><span class="downloads-count"><%=d.downloaded_times%></span> | <%=draw_rating(d.rating)%></div></li>
<% end -%>
</ul>
<% end -%>

<% end -%>

<% content_main do %>
<% mftext('Buscar demos') do %>

<form method="get" action="/demos/buscar">
<% @demo = Demo.new %>
<table>
<tr>
    <td>Juego</td>
    <% games = controller.portal.respond_to?(:factions) ? controller.portal.factions.find(:all).collect { |f| "#{f.code}" } : Game.find(:all, :conditions => "has_demos = 't'").collect { |g| "#{g.slug}" } %>
    <td>

		<%= select_tag("demo_term_id", options_for_select(['',''] + Term.top_level.find(:all, :conditions => ['slug IN (?)', games], :order => 'lower(name) ASC').collect {|p| [ p.name, p.id ] }), { :include_blank => true })%></p></td>
</tr>
<tr>
    <td>Modo de juego</td>
    <td><select id="games_mode_id" name="demo[games_mode_id]">
</select></td>
</tr>
<tr>
    <td>Jugador/Clan</td>
    <td><input type="text" class="text" name="demo[entity]" /></td>
</tr>
<tr>
    <td>Evento</td>
    <td><%= select("demo", "event_id", Event.published.find(
          :all,
          :conditions => 'parent_id is null',
          :order => 'lower(title) ASC').collect {|p| [ p.title, p.id ] }, { :include_blank => true })%></td>
</tr>
<tr>
    <td>Tipo</td>
    <td><%= select("demo", "demotype", Demo::DEMOTYPES.each {|k,v| [ k, v ] }, { :include_blank => true })%></td>
</tr>
<tr>
    <td>Mapa</td>
    <td><select id="games_map_id" name="demo[games_map_id]">
<% if @demo.games_map_id then %>
<% end -%>
</select></td>
</tr>
<tr>
    <td>POV</td>
    <td><%= select("demo", "pov_type", Demo::POVS.each {|k,v| [ k, v ] }, { :include_blank => true })%></td>
</tr>


<tr>
    <td>Versión del juego</td>
    <td><select id="games_version_id" name="demo[games_version_id]">
</select></td>
</tr>
</table>
<script type="text/javascript">
  <%= observe_field "demo_term_id", :update => "games_map_id", :with => 'demo_term_id', :function => "UpdateGamesMap()" %>
<%= observe_field "demo_term_id", :update => "games_mode_id", :with => 'demo_term_id', :url => '/demos/get_games_modes' %>
<%= observe_field "demo_term_id", :update => "games_version_id", :with => 'demo_term_id', :url => '/demos/get_games_versions' %>

	value = $('#demo_term_id').val();
	if (value != undefined) {
	jQuery.ajax({data:'demo_term_id=' + value, success:function(request){jQuery('#games_map_id').html(request);}, type:'post', url:'/demos/get_games_maps'});
	jQuery.ajax({data:'demo_term_id=' + value, success:function(request){jQuery('#games_mode_id').html(request);}, type:'post', url:'/demos/get_games_modes'});
	jQuery.ajax({data:'demo_term_id=' + value, success:function(request){jQuery('#games_version_id').html(request);}, type:'post', url:'/demos/get_games_versions'});
	}

  function UpdateGamesMap() {
    value = $('#demo_term_id').val();
    jQuery.ajax({data:'demo_term_id=' + value, success:function(request){jQuery('#games_map_id').html(request);}, type:'post', url:'/demos/get_games_maps'});

    return false;
  }

	</script>
<input type="submit" class="button" class="button" value="Buscar" />
</form>
<% end -%>
<% end -%>
