<script type="text/javascript">
function open_demo_win(demo_id)
{
  window.open('/demos/download/'+demo_id, 'demo_'+demo_id, 'height=300,width=600,menubar=no,resizable=no,scrollbars=yes');
  return false;
}
</script>

<% content_support(:content => @demo.unique_content) do %>
	<% if @demo.is_public? then %>
	<%=mfcontents_basic("Más demos de #{@demo.main_category.name}",
	controller.portal.demo,
	[:published, { :order => 'created_on DESC', :limit => 5}],
 	:rating => true,
	:cache => "/common/demos/show/_latest_cat#{@demo.main_category.id}",
	:skip_id => @demo.id,
	:downloads_count => true,
	:comments_count => true,
	:more_link => "<a href=\"/demos/buscar?demo_term_id=#{@demo.main_category.id}\">Ver todas</a>")%>
	<% else %>
<%= render :partial => '/shared/content_publishing_state', :locals => { :object => @demo } %>
	<% end -%>
<% end -%>

<% content_main do %>
  <% mfcontent(@demo) do %>
  <div style="float: right; margin: 5px;"><%=fc_thumbnail(@demo.games_map.screenshot, 'k', '153x115', false) if @demo.games_map%></div>
<table class="skeletal">
	<tr class="<%=oddclass%>">
		<th class="w100">Equipo 1</th>
    <td><%=demo_participant(@demo.entity1)%></td>
	</tr>
	<tr class="<%=oddclass%>">
		<th class="w100">Equipo 2</th>
    <td><%=demo_participant(@demo.entity2)%></td>
	</tr>
	<tr class="<%=oddclass%>">
		<th class="w100">Modo de juego</th>
		<td><%=@demo.games_mode.name%></td>
	</tr>
	<% if @demo.games_version_id then %>
	<tr class="<%=oddclass%>">
		<th class="w100">Versión</th>
		<td><%=@demo.games_version.version%></td>
	</tr>
	<% end -%>
	<% if @demo.event_id then %>
	<tr class="<%=oddclass%>">
		<th class="w100">Evento</th>
		<td><%=demo_event(@demo.event)%></a></td>
	</tr>
	<% end -%>
	<% if @demo.pov_type then %>
	<tr class="<%=oddclass%>">
		<th class="w100">POV</th>
		<td><%=demo_pov_type(@demo.pov_type)%></td>
	</tr>
	<% end -%>
	<% if @demo.demotype then %>
	<tr class="<%=oddclass%>">
		<th class="w100">Tipo</th>
		<td><%=demo_demotype(@demo.demotype)%></td>
	</tr>
	<% end -%>
</table>
<div style="clear: left;">
<%=auto_link_raw(smilelize(@demo.description))%>
</div>

	<div style="margin: 20px; text-align: center;">
    <%=demo_download_link(@demo)%>

	<% mirrors = @demo.demo_mirrors.find(:all, :order => 'lower(url)')
if mirrors.size > 0 then %>
	<table style="margin-top: 20px; border: 1px solid #efefef;">
		<tr>
			<th colspan="2">Descargas alternativas</th>
		</tr>
		<%mirrors.each do |dm| %>
		<% begin
      mirror_name = URI.parse(dm.url).host.gsub(/www./, '')
    rescue
      mirror_name = nil
    end
%>
		<tr class="<%=oddclass%>">
			<td style="text-align: left;"><% if mirror_name then %><a target="_blank" href="http://<%=mirror_name%>/"><%=mirror_name%></a><% end -%></td>
			<td class="right"><a href="/demos/download/<%=@demo.id%>?r=<%=dm.url%>"><img class="icon" src="/skins/default/images/btn_descargar_mirror.png" /></a></td>
		</tr>
		<% end -%>
	</table>
	<% end -%>
	</div>

	<% if @demo.file.to_s == '' && mirrors.size == 0 then %>
		<div class="warning">Esta demo no tiene ni enlaces ni tenemos el archivo para descargar en gamersmafia.</div>
	<% end -%>
  <% end %>
<%end -%>
