<div class="header f_hecto decision-title">
  <%=decision_title(@decision)%>
</div>

<% if controller.request.xhr? %>
  <div class="facebox-content page-level-content">
<% end -%>

<div class="decision-context"><%=decision_context(@decision)%></div>

<% if user_is_authed && @user.id != @decision.context[:initiating_user_id] %>
<div class="centered decision-title-n-choice">¿<%=decision_title(@decision)%>?
<%current_choice = @decision.decision_user_choices.find_by_user_id(@user.id) %>
<% if current_choice %>
  <br />
  <br />
  Tu decisión:
  <strong><%=current_choice.decision_choice.name%></strong>
  <% if @decision.state == Decision::PENDING %>
  (<a href="" data-reveal-selector=".decision-choices">cambiar</a>).
  <% end -%>
<% end -%>
</div>
<% end -%>

<% if @decision.state == Decision::PENDING %>
  <% if user_is_authed && @user.id != @decision.context[:initiating_user_id] %>
<div class="decision-choices choice-type-<%=@decision.choice_type_name%> <%="hidden" if current_choice%>">
  <form method="post" action="/decisiones/<%=@decision.id%>/make_decision"
    data-remote="true" data-decision-id="<%=@decision.id%>"
    data-remote-on-success-update=".decision-comments">
  <input type="hidden" name="final_decision_choice" />
<% if @decision.binary? %>
  <% @decision.decision_choices.find(:all, :order => "name DESC").each do |decision_choice| %>
    <input type="submit" class="button" value="<%=decision_choice.name%>"
    data-choice-id="<%=decision_choice.id%>" />
  <% end -%>
<% else %>
  <% raise "not implemented yet" %>
<% end %>
</form>
</div>
  <% end -%>
<% else %>
  <div class="centered">
    Decisión final: <strong><%=@decision.final_decision_choice.name%></strong>
    <% if @decision.context[:result] %>
      <br />
      <br />
      <%=@decision.context[:result]%>
    <% end -%>
  </div>
  <div class="decision-participants">
    Han participado en esta decisión:
    <ul>
      <%@decision.decision_user_choices.find(:all, :order => 'LOWER(users.login)', :include => :user).each do |choice|%>
        <li><%=user_link(choice.user)%></li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<%=render :partial => '/decision_comments/index', :locals => {:decision => @decision}%>

<% if controller.request.xhr? %>
  </div>
<% end -%>
