<div class="<%=oddclass%>">
  <div class="content<%=poll.unique_content.id%> new">
    <a href="<%=gmurl(poll)%>"><%=content_category(poll)%><%=poll.title%></a>
  </div>

<%= form_tag(:action => 'vote', :controller => 'encuestas', :id => poll.id) %>
    <ul style="padding-left: 3px; clear: left;">
   <% if user_is_authed && poll.user_voted(@user)
        stats_reg = poll.registered_users_stats
        stats_anon = poll.anonymous_users_stats
        max_reg = 1
        max_anon = 1
        stats_reg.each do |option|
          max_reg = option['count'].to_i if option['count'].to_i > max_reg
        end
        stats_anon.each do |option|
          max_anon = option['count'].to_i if option['count'].to_i > max_anon
        end

        i = 0
        stats_reg.each do |option| %>
      <li class="option"><%=option['name']%>
        <div class="percent" style="margin-bottom: 0;"><%=draw_pcent_bar(option['count'].to_f / max_reg)%></div>
        <div class="percent" style="margin-top: 1px;"><%=draw_pcent_bar(stats_anon[i]['count'].to_f / max_anon)%></div>
      </li><%
          i += 1
        end
      else  # usuario puede votar
        poll.polls_options.find(:all, :order => 'id asc').each do |option| %>
      <li><label><input id="poll_option[<%=option.id%>]" name="poll_option" value="<%=option.id%>" type="radio" /><%=option.name%></label></li>
        <% end %>
    <% end %>
    </ul>

  <% if !(user_is_authed && poll.user_voted(@user)) then %>
    <input type="submit" class="button submit" value="Votar" style="margin-top: 10px;" />
  <% end -%>

    <div class="infoinline" style="text-align: right; padding-right: 3px;">
      <strong><%=poll.votes%></strong> votos |
      <span class="f_milli"><%=gm_icon("comment", "small")%> <a style="display: inline;" href="<%=gmurl(poll)%>#comments"><%=poll.cache_comments_count%></a></span>
    </div>
  </form>
  <br />
</div>
