<% content_main do %>
    <% mftext('Encuestas') do %>
	<% @polls = Poll.published.paginate(:order => 'created_on', :page => params[:page], :per_page => 20) %>
    <%= render :partial => 'shared/pager2', :locals => {:collection => @polls, :pos => 'top'} %>

    <table>
<% @polls.each do |poll| %>
    <tr class="<%=oddclass%>">
      <td class="icon"><%=faction_favicon(Organizations.find_by_content(poll))%></td>
      <td><strong><%=link_to poll.title, gmurl(poll) %></strong><br /><br /></td>
      <td class="infoinline w75 right"><strong><%=poll.votes%></strong> votos</td>
      <td class="w50"><span class="f_milli" title="Leído <%=poll.hits_anonymous + poll.hits_registered%> veces"><%=gm_icon("pageviews", "small")%><%=poll.hits_anonymous + poll.hits_registered%></span> </td>
      <td class="w50"><span class="f_milli"><%=gm_icon("comment", "small")%> <a title="Ver comentarios" href="<%=controller.url_for_content_onlyurl(poll)%>#comments"><%=poll.cache_comments_count%></a></span></td>
      <td class="timestamp infoinline"><%=print_tstamp(poll.created_on)%></td>
    </tr>
  <% end %>
</table>
    <%= render :partial => 'shared/pager2', :locals => {:collection => @polls, :pos => 'bottom'} %>
	<% end -%>
<% end -%>

<% generic_support do %>
<%
mfcontents_list('Más votadas',
				   Proc.new { Poll.published.find(:all, :order => 'polls_votes_count DESC', :limit => 5) }) do |o| %>
<a href="<%=gmurl(o)%>"><%=content_category(o)%><%=o.title%></a><br />
<div class="infoinline right"><%=o.votes%> votos</div>
<% end %>

<% cache ("/encuestas/index/most_commented/#{Time.now.strftime('%Y%m%d')}") do %>
<%
mfcontents_list('Más leídas',
				   Proc.new { Poll.published.find(:all, :order => 'hits_anonymous + hits_registered DESC', :limit => 5) }) do |o| %>
<a href="<%=gmurl(o)%>"><%=content_category(o)%><%=o.title%></a><br />
<div class="infoinline right"><%=(o.hits_anonymous + o.hits_registered)%></span> lecturas</div>
<% end %>
<% end -%>

<% cache ("/encuestas/index/most_read/#{Time.now.strftime('%Y%m%d')}") do %>
<%
mfcontents_list('Más comentadas',
				   Proc.new { Poll.published.find(:all, :order => 'cache_comments_count DESC', :limit => 5) }) do |o| %>
<a href="<%=gmurl(o)%>"><%=content_category(o)%><%=o.title%></a><br />
<div class="infoinline right"><span class="f_milli"><%=gm_icon("comment", "small")%> <a style="display: inline;" href="<%=gmurl(o)%>#comments"><%=o.cache_comments_count%></a></span></div>
<% end %>
<% end -%>

<% end -%>

