<% content_main do %>
<% mftext('Nueva encuesta') do %>

<%= form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= render :partial => '/shared/new_content_tags' %>
  <br />
  <%= submit_tag 'Crear', :class => 'button' %>
</form>

<%= link_to 'Volver', :action => 'list' %>
<% end -%>
<% end -%>

<% generic_support do %>
<% mftext('Consejos') do %>
<ul class="content-hid">
<li>Mínimo 2 opciones</li>
<li>Máximo 5 o 6</li>
<li>De interés general</li>
</ul>
<% end -%>
<% end -%>

