<% content_main do %>
<%mftext('Editar portal') do %>
<form method="post" action="/admin/portales/update/<%=@theportal.id%>" enctype="multipart/form-data">
	<table>
		<tr class="<%=oddclass%>">
			<td>Cabecera por defecto</td>
			<td><select name="portal[default_gmtv_channel_id]"><% @theportal.channels.each do |channel| %><option <%="selected=\"selected\"" if channel.id == @theportal.default_gmtv_channel_id%> value="<%=channel.id%>"><%=channel.id%> (<%=File.basename(channel.file)%>)</option><%end%></select></td>
		</tr>

		<tr class="<%=oddclass%>">
			<td>Cabecera pequeña</td>
			<td>
			<p><label for="game_file">Archivo .PNG o JPG de 194x108</label><br/>
<% if @theportal.small_header then %><img src="/<%=@theportal.small_header%>" /><% end -%>
<%= file_field 'portal', 'small_header' %></p>
			</td>
		</tr>
				
		<tr class="<%=oddclass%>">
			<td>Skin</td>
			<td><%= select("portal", "skin_id", FactionsSkin.public.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Ninguna'}) %>
</td>
		</tr>
		
		<tr class="<%=oddclass%>">
			<td>Code</td>
			<td><%=@theportal.code%></td>
		</tr>
		
		<tr class="<%=oddclass%>">
			<td>Tipo</td>
			<td><%=@theportal.type%></td>
		</tr>
		<% if @theportal.respond_to? :factions_portal_home then %>
		<tr class="<%=oddclass%>">
			<td>Home</td>
			<td><select name="portal[factions_portal_home]"><option name=""></option>
			<% FactionsPortal::VALID_HOMES.each do |home| %><option <%="selected=\"selected\"" if home == @theportal.factions_portal_home%> value="<%=home%>"><%=home%></option>
			<%end%></select></td>
		</tr>
		<% end -%>
	</table>
	<input type="submit" class="button" value="Guardar" />
</form>
<% end -%>
<% end -%>