<% content_main do %>
<% mftext('Editando columna') do %>

<%= form_tag({:action => 'update', :id => @column}, { :multipart => true, :class => 'editing-content' }) %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar', :class => 'button' %>
</form>
<%=render :partial => '/shared/change_authorship', :locals => {:object => @column}%>

<br />
<%= link_to 'Ver columna publicado', gmurl(@column) %> |
<%= link_to 'Volver', :action => 'list' %>
<% end -%>
<% end -%>

<% generic_support do %>
<%=render :partial => 'shared/content_details', :locals => { :object => @column} %>
<% mftext('Consejos') do %>
<ul class="content-hid">
<li>Debe tener una cierta longitud</li>
<li>Revisar ortografía y gramática</li>
<li>De interés general</li>
</ul>
<% end -%>
<% end -%>

