<% content_main do %>
    <% mftext('Columnas') do %>
<% @columns = Column.published.paginate(:order => 'created_on', :page => params[:page], :per_page => controller.class::COLUMNS_PER_PAGE) %>
<%= render :partial => 'shared/pager2', :locals => {:collection => @columns, :pos => 'top'} %>
<% @columns.reverse.each do |column| %>
    <div class="<%=oddclass%>">
            <h2 class="f_hecto"><%= link_to column.title, gmurl(column) %></h2>
      <%=draw_contentheadline(column)%>
      <% if column.home_image then %><div style="float: left;  margin-top: 5px;margin-right: 10px;"><%=fc_thumbnail(column.home_image, 'f', Cms::IMG_ARTICLE_THUMB, false)%></div><% end -%>
      <div style="margin-left: 110px;" class="summary"><%=column.description%></div>
    </div>
    <br />
    <% end %>

	<%= render :partial => 'shared/pager2', :locals => {:collection => @columns, :pos => 'bottom'} %>
	<% end -%>
<% end -%>

<% generic_support do %>
<% mftext('Mejor valoradas') do %>
<ul class="sidelist">
<% cache("/columnas/index/best_rated#{Time.now.strftime('%Y%m%d')}") do %>
<% Column.most_rated.find(:all, :limit => 3).each do |c| %>
  <li style="padding-left: 3px;" class="<%=oddclass%>"><%=url_for_content(c, c.title)%><div class="infoinline"><%=draw_rating(c.rating)%> <span class="f_milli"><%=gm_icon("comment", "small")%> <a style="display: inline;" href="<%=gmurl(c)%>#comments"><%=c.cache_comments_count%></a></span></li>
  <% end -%>
<% end -%>
</ul>
<% end -%>

<% mftext('Más populares') do %>
<ul class="sidelist">
<% cache ("/columnas/index/most_popular_#{Time.now.to_i/(86400)}") do %>
<% Column.most_popular.find(:all, :limit => 3).each do |c| %>
  <li style="padding-left: 3px;" class="<%=oddclass%>"><%=url_for_content(c, c.title)%><div class="infoinline"><%=draw_rating(c.rating)%> <span class="f_milli"><%=gm_icon("comment", "small")%> <a style="display: inline;" href="<%=gmurl(c)%>#comments"><%=c.cache_comments_count%></a></span></li>
  <% end -%>
<% end -%>
</ul>
<% end -%>

<% mftext('Autores más populares') do %>
<ul class="sidelist">
<% cache("/columnas/index/most_popular_authors_#{Time.now.to_i/(86400)}") do %>
<% Column.most_popular_authors.each do |u| %>
  <li class="<%=oddclass%>"><%=draw_user_info(u[0])%><div class="more"><a href="<%=gmurl(u[0])%>/contenidos/columnas">Ver sus columnas (<%=u[0].columns.published.count%>)</a></div></li>
  <% end -%>
<% end -%>
</ul>
<% end -%>
<% end -%>

