<% generic_support do %>
<%= render :partial => '/shared/drafts', :locals => { :cls => Column } if user_is_authed %>
<% mftext('Consejos') do %>
<ul class="content-hid">
<li>Debe tener una cierta longitud</li>
<li>Revisar ortografía y gramática</li>
<li>De interés general</li>
</ul>
<% end -%>

<%= render :partial => 'shared/pending', :object => Column.pending %>
<% end -%>

<% content_main do %>
<% mftext('Nueva columna') do %>

<%= form_tag({:action => 'create'}, :multipart => true )%>
<%= render :partial => 'form' %>
<%= render :partial => '/shared/new_content_tags' %>
  <br />
  <%= submit_tag 'Crear' %>
</form>
<% end -%>
<% end -%>
