<% if curuser.has_admin_permission?(:capo) then %>
<div class="centered-link"><strong>100%</strong> en todos los contenidos</div>
<% else %>
<table>
<% curuser.publishing_personalities.find(:all, :order => 'content_type_id ASC').each do |pp| %>
  <tr class="<%=oddclass%>">
    <td><%=Cms.translate_content_name(pp.content_type.name).capitalize%></td>
    <td class="w100"><%=draw_pcent_bar(pp.experience)%><% if defined?(detailed) && detailed == true then%><br /><span class="infoinline"><%=pp.successes%> aciertos<br /><%=pp.failures%> fallos</span><% end -%></td>
  </tr>
<% end -%>
</table>
<% end -%>
