<% content_main do %>
<% mftext('Miembros') do %>
<div>
  <%=form_tag :action => 'buscar'%>

  </form>
</div>

<%= render :partial => 'shared/pager2', :locals => {:collection => @members, :pos => 'top', :pager_params => {:s => params[:s]}} %>
<table>
  <tr>
    <th class="sm-icon"></th>
    <th>Nick</th>
    <th class="sm-icon"></th>
    <th>Karma</th>
    <th>Fe</th>
    <th class="timestamp">Última actividad</th>
  </tr>

<%
time1 = Time.now
time_3_month_ago = Time.at(time1.to_i + 86400 * 30 * 3) # TODO eughh

for member in @members
  if member.faction then
    game = Game.find_by_name(member.faction.name)
  else
    game = nil
  end
%>
  <tr class="<%=oddclass%>">
    <td class="sm-icon"><%=member_state(member.hstate)%></td>
    <td><%=link_to member.login, :action => member.login%></td>
    <td class="sm-icon"><% if game then %><img src="<%=ASSET_URL%>/storage/games/<%=game.slug%>.gif" /><% end -%></td>
    <td class="infoinline" style="width: 150px;"><%=render :partial => '/shared/karmabar', :locals => {:user => member}%></td>
    <td class="timestamp infoinline"><%=print_tstamp(member.lastseen_on)%></td>
  </tr>
<% end %>
</table>

<%= render :partial => 'shared/pager2', :locals => {:collection => @members, :pos => 'bottom', :pager_params => {:s => params[:s]}} %>
<% end -%>
<% end -%>

<% generic_support do %>
  <%= render :partial => 'rightside'%>
<% end -%>

