<% content_main do %>
<% mftext("#{params[:content_name].capitalize}") do %>
<% cache("/common/miembros/#{@curuser.id % 1000}/#{@curuser.id}/contenidos/#{@c.name.downcase}/page_#{params['page']}") do
if @c.new.respond_to?(:clan_id)
   @contents = @c.published.paginate(:conditions => ['user_id = ? and clan_id IS NULL', @curuser.id], :order => 'created_on ASC', :page => params[:page], :per_page => 30)
else
	@contents = @c.published.paginate(:conditions => ['user_id = ?', @curuser.id], :order => 'created_on ASC', :page => params[:page], :per_page => 30)
end
%>
<%= render :partial => 'shared/pager2', :locals => {:collection => @contents, :pos => 'top'} %>
<table>
<% @contents.each do |content| %>
  <tr class="<%=oddclass%>">
    <td><%=url_for_content(content, content.resolve_hid)%></td>
    <td style="width: 75px;"><%=draw_rating(content.rating)%></td>
    <td style="width: 35px;"><span class="infoinline f_milli"><%=gm_icon("comment", "small")%> <a href="<%=controller.url_for_content_onlyurl(content)%>"><%=content.cache_comments_count%></a></span></td>
    <td style="width: 75px;"><abbr title="Puntos de karma">K: </abbr> <%=content.unique_content.karma_points || '<abbr title="Todavía no han pasado 2 semanas. Puntos de karma no disponibles.">-</abbr>'%></td>
    <td class="infoinline" style="width: 125px;"><%=print_tstamp(content.created_on)%></td>
  </tr>
<% end -%>
</table>
<%= render :partial => 'shared/pager2', :locals => {:collection => @contents, :pos => 'bottom'} %>
<% end -%>
<% end -%>
<% end -%>

<% generic_support do %>
<% end -%>

