<% if not (@curuser.hw_mouse.nil? or @curuser.hw_mouse.empty?) or
      not (@curuser.hw_processor.nil? or @curuser.hw_processor.empty?) or
      not (@curuser.hw_motherboard.nil? or @curuser.hw_motherboard.empty?)  or
      not (@curuser.hw_ram.nil? or @curuser.hw_ram.empty?) or
      not (@curuser.hw_hdd.nil? or @curuser.hw_hdd.empty?) or
      not (@curuser.hw_graphiccard.nil? or @curuser.hw_graphiccard.empty?) or
      not (@curuser.hw_monitor.nil? or @curuser.hw_monitor.empty?) or
      not (@curuser.hw_soundcard.nil? or @curuser.hw_soundcard.empty?) or
      not (@curuser.hw_headphones.nil? or @curuser.hw_headphones.empty?) or
      not (@curuser.hw_connection.nil? or @curuser.hw_connection.empty?) then %>
        <% mftext('Hardware') do %>
  <table>
<% if not @curuser.hw_mouse.nil? or @curuser.hw_mouse.empty? then %>
    <tr class="<%=oddclass%>">
      <td style="width: 150px;">Ratón</td>
      <td><%=@curuser.hw_mouse%></td>
    </tr>
<% end -%>
<% if not @curuser.hw_processor.nil? or @curuser.hw_processor.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Procesador</td>
      <td><%=@curuser.hw_processor%></td>
    </tr>
<% end -%>
<% if not @curuser.hw_motherboard.nil? or @curuser.hw_motherboard.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Placa</td>
      <td><%=@curuser.hw_motherboard%></td>
    </tr>
<% end -%>
<% if not @curuser.hw_ram.nil? or @curuser.hw_ram.empty? then %>
    <tr class="<%=oddclass%>">
      <td>RAM</td>
      <td><%=@curuser.hw_ram%></td>
    </tr>
<% end -%>
<% if not @curuser.hw_hdd.nil? or @curuser.hw_hdd.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Disco duro</td>
      <td><%=@curuser.hw_hdd%></td>
    </tr>
<% end -%>
<% if not @curuser.hw_graphiccard.nil? or @curuser.hw_graphiccard.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Gráfica</td>
      <td><%=@curuser.hw_graphiccard%></td>
    </tr>
<% end -%>
<% if not @curuser.hw_monitor.nil? or @curuser.hw_monitor.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Monitor</td>
      <td><%=@curuser.hw_monitor%></td>
    </tr>
<% end -%>
<% if not @curuser.hw_soundcard.nil? or @curuser.hw_soundcard.empty? then %>
    <tr class="<%=oddclass%>">
      <td>T. de sonido</td>
      <td><%=@curuser.hw_soundcard%></td>
    </tr>
<% end -%>
<% if not @curuser.hw_headphones.nil? or @curuser.hw_headphones.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Auriculares</td>
      <td><%=@curuser.hw_headphones%></td>
    </tr>
<% end -%>
<% if not @curuser.hw_connection.nil? or @curuser.hw_connection.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Conexión</td>
      <td><%=@curuser.hw_connection%></td>
    </tr>
<% end -%>
  </table>
<% end -%>
<% end -%>