<% if !@curuser.hw_processor.to_s.empty? or
      !@curuser.pref_hw_heatsink.to_s.empty? or
      !@curuser.hw_motherboard.to_s.empty?  or
      !@curuser.hw_ram.to_s.empty? or
      !@curuser.hw_graphiccard.to_s.empty? or
      !@curuser.hw_hdd.to_s.empty? or
      !@curuser.pref_hw_ssd.to_s.empty? or
      !@curuser.pref_hw_powersupply.to_s.empty? or
      !@curuser.hw_soundcard.to_s.empty? or
      !@curuser.pref_hw_case.to_s.empty? or
      !@curuser.hw_monitor.to_s.empty? or
      !@curuser.hw_headphones.to_s.empty? or
      !@curuser.pref_hw_speakers.to_s.empty? or
      !@curuser.hw_mouse.to_s.empty? or
      !@curuser.pref_hw_mousepad.to_s.empty? or
      !@curuser.pref_hw_keyboard.to_s.empty? or
      !@curuser.hw_connection.to_s.empty? then %>
        <% mftext('Hardware') do %>
  <table>
<% if !@curuser.hw_processor.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Procesador</td>
      <td><%=@curuser.hw_processor%></td>
    </tr>
<% end -%>
<% if !@curuser.pref_hw_heatsink.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Disipador</td>
      <td><%=@curuser.pref_hw_heatsink%></td>
    </tr>
<% end -%>
<% if !@curuser.hw_motherboard.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Placa</td>
      <td><%=@curuser.hw_motherboard%></td>
    </tr>
<% end -%>
<% if !@curuser.hw_ram.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>RAM</td>
      <td><%=@curuser.hw_ram%></td>
    </tr>
<% end -%>
<% if !@curuser.hw_graphiccard.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Gráfica</td>
      <td><%=@curuser.hw_graphiccard%></td>
    </tr>
<% end -%>
<% if !@curuser.hw_hdd.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Disco duro</td>
      <td><%=@curuser.hw_hdd%></td>
    </tr>
<% end -%>
<% if !@curuser.pref_hw_ssd.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>SSD</td>
      <td><%=@curuser.pref_hw_ssd%></td>
    </tr>
<% end -%>
<% if !@curuser.pref_hw_powersupply.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>F. Alimentacion</td>
      <td><%=@curuser.pref_hw_powersupply%></td>
    </tr>
<% end -%>
<% if !@curuser.hw_soundcard.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>T. de sonido</td>
      <td><%=@curuser.hw_soundcard%></td>
    </tr>
<% end -%>
<% if !@curuser.pref_hw_case.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Torre</td>
      <td><%=@curuser.pref_hw_case%></td>
    </tr>
<% end -%>
<% if !@curuser.hw_monitor.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Monitor</td>
      <td><%=@curuser.hw_monitor%></td>
    </tr>
<% end -%>
<% if !@curuser.hw_headphones.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Auriculares</td>
      <td><%=@curuser.hw_headphones%></td>
    </tr>
<% end -%>
<% if !@curuser.pref_hw_speakers.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Altavoces</td>
      <td><%=@curuser.pref_hw_speakers%></td>
    </tr>
<% end -%>
<% if !@curuser.hw_mouse.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td style="width: 150px;">Ratón</td>
      <td><%=@curuser.hw_mouse%></td>
    </tr>
<% end -%>
<% if !@curuser.pref_hw_mousepad.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Alfombrilla</td>
      <td><%=@curuser.pref_hw_mousepad%></td>
    </tr>
<% end -%>
<% if !@curuser.pref_hw_keyboard.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Teclado</td>
      <td><%=@curuser.pref_hw_keyboard%></td>
    </tr>
<% end -%>
<% if !@curuser.hw_connection.to_s.empty? then %>
    <tr class="<%=oddclass%>">
      <td>Conexión</td>
      <td><%=@curuser.hw_connection%></td>
    </tr>
<% end -%>
  </table>
<% end -%>
<% end -%>
