<%content_3col do %>
<%mftext('Top Karma') do%>
      <table>
        <% cache("/common/miembros/index/top_karma_#{Time.now.to_i/21600}") do %>
        <% i=0
        User.can_login.humans.find(:all, :conditions => "cache_karma_points is not null and cache_karma_points > 0", :order => 'cache_karma_points DESC', :limit => 10).each do |u| %>
        <tr class="<%=oddclass%>">
          <td class="sm-icon number f_number"><%=i+=1%></td>
          <td><%if i <= 3 then %><%=draw_user_info(u)%>
            <% else %><%=member_state(u.hstate)%> <%=link_to u.login, gmurl(u) %><br /> <div class="infoinline" style="width: 67px;"><%=render :partial => '/shared/karmabar', :locals => {:user => u}%></div><% end -%></td>
        </tr>
        <% end -%>
      <% end -%>
      </table>
	  <% end -%>

	  <%mftext('Top amigos') do %>
	  <table>
          <% cache("/common/miembros/index/top_popularity_#{Time.now.to_i/21600}") do
          %>
          <%
          i=0
          max = nil

          for dbu in User.most_friends
            u = dbu[:user]
            max = dbu[:friends].to_f if max.nil?
          %>
          <tr class="<%=oddclass%>">
            <td class="sm-icon number f_number"><%=i+=1%></td>
            <td>
              <%=member_state(u.hstate)%> <span class="nick"><%=link_to u.login, gmurl(u) %></span><br /> <div class="infoinline" style="width: 67px;"><%=draw_pcent_bar(dbu[:friends].to_f / max, "#{dbu[:friends]} usuarios activos le consideran su amigo")%></div></td>
          </tr>
          <% end -%>
          <% end %><%# cache de 6h
          %>
        </table>
		<% end -%>
<% end -%>

<%content_3col do %>
<%mftext('Top ricos') do %>
<table>
          <% cache("/common/miembros/index/top_richest_#{Time.now.to_i/21600}") do
          %>
          <%
          i = 0
          max = nil
          User.can_login.humans.find(:all, :conditions => 'cash > 0', :order => 'cash DESC', :limit => 10).each do |u|
            max = u.cash if max.nil?
          %>
          <tr class="<%=oddclass%>">
            <td class="sm-icon number f_number"><%=i+=1%></td>
            <td>
              <%=member_state(u.hstate)%> <span class="nick"><%=link_to u.login, gmurl(u) %></span><br /> <div class="infoinline" style="width: 67px;"><%=draw_pcent_bar(u.cash / max, "#{(Math.log10(u.cash) + 1).to_i} dígitos")%></div></td>
          </tr>
          <% end -%>
          <% end %><%# cache de 6h %>
        </table>
		<% end -%>
<% end -%>

<%content_3col do %>

	<% cache("/common/miembros/index/top_real_popularity_#{Cache.after_daily_key}") do %>
	<% max = nil
	mflist('Top popularidad', User.can_login.humans.find(:all, :conditions => 'ranking_popularity_pos is not null', :order => 'ranking_popularity_pos ASC, lower(login)', :limit => 10)) do |u|
	  max = u.cache_popularity.to_f if max.nil? %>
            <td class="sm-icon number f_number"><%=u.ranking_popularity_pos%></td>
            <td>
		    <%=member_state(u.hstate)%> <span class="nick"><%=link_to u.login, gmurl(u) %></span><br /> <div class="infoinline" style="width: 67px;"><%=draw_pcent_bar(u.cache_popularity.to_f / max, "#{u.cache_popularity} puntos")%></div></td>
<% end -%>
<% end -%>

<%mftext('Top personas referidas') do%>
		<table>
          <% cache("/common/miembros/index/top_referrals_logins_#{Time.now.to_i/21600}") do
          %>
          <%
          i = 0
          max = nil
          for dbu in User.db_query("select count(referer_user_id), referer_user_id as user_id from users where state NOT IN (#{User::STATES_CANNOT_LOGIN.join(',')}) and lastseen_on > now() - '3 months'::interval and referer_user_id not in (select id from users where state IN (#{User::STATES_CANNOT_LOGIN.join(',')})) group by(referer_user_id) order by count(referer_user_id) DESC limit 10")
            next if dbu['user_id'].to_i == 0
            u = User.find(dbu['user_id'].to_i)
            if max.nil? then
              max = dbu['count'].to_f
            end
          %>
          <tr class="<%=oddclass%>">
            <td class="sm-icon number f_number"><%=i+=1%></td>
            <td>
              <%=member_state(u.hstate)%> <span class="nick"><%=link_to u.login, gmurl(u) %></span><br /> <div class="infoinline" style="width: 67px;"><%=draw_pcent_bar(dbu['count'].to_i / max, "#{dbu['count']} usuarios referidos activos")%></div></td>
          </tr>
          <% end -%>
          <% end %><%# cache de 6h
          %>
        </table>
		<% end -%>

		<%mftext('Top visitas referidas') do %>
		<table>
          <% cache("/common/miembros/index/top_referrals_#{Time.now.to_i/21600}") do
          %>
          <%
          i = 0
          max = nil
          for dbu in User.db_query("select user_id, count(user_id) from refered_hits group by (user_id) HAVING user_id NOT IN (select id from users where state IN (#{User::STATES_CANNOT_LOGIN.join(',')})) order by count(user_id) desc limit 10")
            u = User.find(dbu['user_id'].to_i)
            if max.nil? then
              max = dbu['count'].to_f
            end
          %>
          <tr class="<%=oddclass%>">
            <td class="sm-icon number f_number"><%=i+=1%></td>
            <td>
              <%=member_state(u.hstate)%> <span class="nick"><%=link_to u.login, gmurl(u) %></span><br /> <div class="infoinline" style="width: 67px;"><%=draw_pcent_bar(dbu['count'].to_i / max, "#{dbu['count']} visitas referidas")%></div></td>
          </tr>
          <% end -%>
          <% end %><%# cache de 6h %>
        </table>
		<% end -%>

<% if nil then %>
<%mftext('Top online') do %>
<% end -%>

<%mftext('Top mejores comentarios') do %>
<% end -%>

<%mftext('Top mejores contenidos') do %>
<% end -%>
<% end -%>
<% end -%>
