<table class="matchmap-tourney">
  <tr>
    <th style="width: 14%">Cuartos</th>
    <th style="width: 14%">Semifinal</th>
    <th style="width: 14%">Final</th>
    <th style="width: 14%">Semifinal</th>
    <th style="width: 14%">Cuartos</th>
  </tr>
  <tr>
    <td class="match"><%=match_vs_name_tourney(competition, base_stage + 0, 0)%></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="match"><%=match_vs_name_tourney(competition, base_stage + 0, 1)%></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="match"><%=match_vs_name_tourney(competition, base_stage + 1, 0)%></td>
    <td class="match"><%=match_vs_name_tourney(competition, base_stage + 2, 0)%></td>
    <td class="match"><%=match_vs_name_tourney(competition, base_stage + 1, 1)%></td>
    <td></td>
  </tr>
  <tr>
    <td class="match"><%=match_vs_name_tourney(competition, base_stage + 0, 2)%></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="match"><%=match_vs_name_tourney(competition, base_stage + 0, 3)%></td>
  </tr>
</table>
