<% generic_support do %>
<%  if user_is_authed && @competition.user_can_challenge(@user) then
      p = @competition.get_active_participant_for_user(@user)
      if p.id != @competitions_participant.id then %>
        <% mftext('Retar') do %>
      <% if @competition.matches(:unapproved, :participants => [p, @competitions_participant]).size > 0 or @competition.matches(:result_pending, :participants => [p, @competitions_participant]).size > 0 then %>
         <p>Tienes partidas no finalizadas contra este participante.</p>
     <% else %>
      <% if @competition.kind_of?(Tournament) then %> <input type="hidden" name="owner_clan_id" value="<%=@user.last_clan_id%>"> <% end %>
      <%# no quito el form porque esta línea de arriba del  kind_of?(Tournament) no sé qué hace aquí
      %>
        <form method="post" action="/competiciones/retar/<%=@competitions_participant.id%>">
        <div class="centered"><%=participant_roster(@competition.get_active_participant_for_user(@user))%> <img class="competition-vs" src="/images/blank.gif" /> <%=participant_roster(@competitions_participant)%></div>
        <div class="centered-link"><strong><a href="/competiciones/retar/<%=@competitions_participant.id%>">Retar a <%=notags(@competitions_participant.name)%></a></strong></div>
        </form>
		<% end -%>
     <% end -%>
   <% end -%>
  <% end -%>

  <% if @competition.kind_of?(Ladder) && @competition.state >= 3 then %>
  <% cache("/common/competiciones/participante/#{@competitions_participant.id % 1000}/#{@competitions_participant.id}/retos_esperando_respuesta") do %>
  <% mftext('Retos esperando respuesta') do %>
  <table>
    <% for cm in @competition.matches(:unapproved, :participant => @competitions_participant, :order => 'play_on ASC, id ASC') %>
    <tr class="<%=oddclass%>">
      <td><a href="/competiciones/partida/<%=cm.id%>"><%=match_vs_name(cm, @competitions_participant)%></a></td>
    </tr>
    <% end -%>
  </table>
  <% end -%>
  <% end -%>
<% end -%>

<% if @competition.state >= 3 then %>

  <% mftext('Pendientes de jugar') do %>
  <table class="compact">
  <% cache("/common/competiciones/participante/#{@competitions_participant.id % 1000}/#{@competitions_participant.id}/retos_pendientes_de_jugar") do %>
    <% for cm in @competition.matches(:result_pending, :participant => @competitions_participant, :order => 'play_on ASC, id ASC') %>
    <tr class="<%=oddclass%>">
      <td class="w125" style="padding-left: 3px;"><a href="/competiciones/partida/<%=cm.id%>"><%=match_vs_name(cm, @competitions_participant)%></a></td>
      <td class="timestamp infoinline"><%=print_tstamp(cm.play_on)%></td>
    </tr>
    <% end -%>
<% end -%>
  </table>
  <% end -%>

  <% mftext('Últimas partidas') do %>
  <table class="compact">
  <% cache("/common/competiciones/participante/#{@competitions_participant.id % 1000}/#{@competitions_participant.id}/ultimas_partidas") do %>
    <% for cm in @competition.matches(:completed, :participant => @competitions_participant, :limit => 30, :order => 'completed_on DESC')

    if cm.result == 1
      p1_class = p2_class = 'match-tie'
    else
      p1_class = (cm.result == 0) ? 'match-won' : 'match-lost'
      p2_class = (cm.result == 2) ? 'match-won' : 'match-lost'
    end

      if cm.participant1_id == @competitions_participant.id then
      %>
      <tr class="<%=oddclass%>">
        <td><a href="/competiciones/partida/<%=cm.id%>"><%=match_vs_name(cm)%></a></td>
        <td class="<%=p1_class%>"><%=cm.score_participant1%></td>
        <td class="<%=p2_class%>"><%=cm.score_participant2%></td>
      </tr>
      <% else %>
      <tr class="<%=oddclass%>">
        <td><a href="/competiciones/partida/<%=cm.id%>"><%=match_vs_name(cm, @competitions_participant)%></a></td>
        <td class="<%=p2_class%>"><%=cm.score_participant2%></td>
        <td class="<%=p1_class%>"><%=cm.score_participant1%></td>
      </tr>
      <% end -%>
    <% end -%>
<% end -%>
  </table>
  <% end -%>
<% end -%>
<% end -%>

<% content_main do %>
<% mftext(notags(@competitions_participant.name)) do %>
  <% real_thing = @competitions_participant.the_real_thing %>
  <div class="avatar" style="float: left; margin: 5px 5px 5px 5px ;"><%=participant_roster(@competitions_participant)%></div>
  <div style="padding-left: 60px;">
    <p style="line-height: 16px;">
    <% if real_thing.class.name == 'User' then %>
    <% if not real_thing.msn.to_s.empty? then %><img class="competition-msn" src="/images/blank.gif" /> <%=hide_email(real_thing.msn)%><br /><% end %>
    <% if not real_thing.irc.to_s.empty? then %><img class="competition-irc" src="/images/blank.gif" /> <%=real_thing.irc%><br /><% end %>
      <% if real_thing.homepage then %><%=auto_link_raw(real_thing.homepage, :all, :target => '_blank') do |text|
      text.gsub!('http://', '')
      text = text[0..-2] if text.count('/') == 1
      text
      end %><br /><% end %>
      <span class="infoinline">Último acceso: <%=print_tstamp(real_thing.lastseen_on)%></span><br />
    <% else %><%#clan %>
    <%=real_thing.name%><br />
      <% if not real_thing.irc_channel.to_s.empty? then %><img class="competition-irc" src="/images/blank.gif" /> <%=real_thing.irc_server%>#<%=real_thing.irc_channel%><br /><% end %>
      <% if real_thing.website_external then %><%=auto_link_raw(real_thing.website_external, :all, :target => '_blank') do |text|
      text = text.gsub('http://', '')
      text = text[0..-2] if text.count('/') == 1
      text
      end %><br /><% end %>
      Admins:
      <% real_thing.admins.each do |u| %>
      <a href="<%=gmurl(u)%>"><%=u.login%></a>
        <% if not u.msn.to_s.empty? then %> <span class="infoinline">(<img class="competition-msn" src="/images/blank.gif" /><%=hide_email(u.msn)%>)</span><% end -%>,
      <% end -%>
    <% end %>
    </p>


  </div>
  <div class="right" style="margin: 10px 5px 10px 0; clear: left;"><a href="<%=gmurl(real_thing)%>">Más información &raquo;</a></div>
  <% end -%>

  <%
    if @competition.competitions_participants_type_id == 1 then
      users = [@competitions_participant.the_real_thing]
    else
      users = @competitions_participant.the_real_thing.members_of_game(@competition.game)
    end
    users ||= []
  %>
  <% mftext('GUID') do %>
  <table>
    <tr>
      <th>Participante</th>
  <% if @competition.game.has_guids then %>
      <th>GUID</th>
      <th>Razón del cambio</th>
      <th class="timestamp">Último cambio</th>
  <% end -%>
    </tr>
    <%
    for user in users
      guid = user.users_guids.find_by_game_id(@competition.game_id, :order => 'id DESC')
    %>
    <tr class="<%=oddclass%>">
      <td><a href="<%=gmurl(user)%>"><%=user.login%></a></td>
    <% if @competition.game.has_guids then %>
      <td><code><%= guid unless guid.nil? %></code></td>
      <td><%= guid.reason unless guid.nil? %></td>
      <td class="timestamp infoinline"><%= print_tstamp(guid.created_on) unless guid.nil? %></td>
    <% end -%>
    </tr>
  <% end%>
</table>
<% end -%>
<% end -%>