<div class="content-right">

</div>

<div class="content-left">
<%= error_messages_for @ab_test %>

<!--[form:ab_test]-->
<table class="formfields">
  <tr class="<%=oddclass%>">
    <td class="formlabel">Nombre</td>
    <td><%=text_field('ab_test', 'name')%></td>
  </tr>

  <tr class="<%=oddclass%>">
    <td class="formlabel">Sensibilidad</td>
    <td><%=text_field('ab_test', 'min_difference')%> <span class="f_milli">de 0.00 a 1.00</span></td>
  </tr>

  <tr class="<%=oddclass%>">
    <td class="formlabel">Tratamientos</td>
    <td><%=text_field('ab_test', 'treatments')%></td>
  </tr>

  <tr class="<%=oddclass%>">
    <td class="formlabel">Activo</td>
    <td><%=check_box('ab_test', 'active')%></td>
  </tr>

  <tr class="<%=oddclass%>">
    <td class="formlabel">URL Info</td>
    <td><%=text_field('ab_test', 'info_url')%>
	<strong><% if @ab_test.info_url then %><a href="<%=@ab_test.info_url%>">Visitar</a><% end %></strong></td>
  </tr>

  <tr class="<%=oddclass%>">
    <td class="formlabel">Métricas medidas</td>
    <td>
    	<% Stats::Goals.available_goals.each do |ag| %>
			<input type="checkbox" name="ab_test[metrics][]" <%='checked="checked"' if @ab_test.metrics && (@ab_test.metrics.include?(ag.to_s) || @ab_test.metrics.include?(ag))%> value="<%=ag%>" /><%=ag%><br />
		<% end -%>
    </td>
  </tr>
</table>
<!--[eoform:ab_test]-->
</div>
