<%mftext("Distrito de bazar: #{@bd.name}") do %>
<%= form_tag('/admin/bazar_districts/update', {:multipart => true}) %>
<form method="post" action="">
<input type="hidden" name="id" value="<%=@bd.id%>" />	

<table>
	<tr class="<%=oddclass%>">
		<td>Don</td>
		<td><input type="text" name="don" class="text" value="<%=@bd.don.login if @bd.has_don?%>" /></td>
	</tr>
	<tr class="<%=oddclass%>">
		<td>Mano Derecha</td>
		<td><input type="text" name="mano_derecha" class="text" value="<%=@bd.mano_derecha.login if @bd.has_mano_derecha?%>" /></td>
	</tr>
	<tr class="<%=oddclass%>">
		<td>Icono</td>
		<td>
<% if @bd.icon then 
real_path = "#{Rails.root}/public/" + @bd.icon
%>
<a href="<%=fc_path(@bd.icon)%>"><%=File.basename(@bd.icon)%></a> <span class="infoinline"><%=(File.exists?(real_path) ? number_to_human_size(File.size(real_path)) : 'El archivo físico no existe')%></span>
<% end -%>
<%= file_field 'bd', 'icon' %></p></td>
	</tr>
	<tr><td><label for="bazar_district_file">Building Top (PNG)</label></td>
	<td><img src="<%=ASSET_URL%>/<%=@bd.building_top%>" />
<%= file_field 'bd', 'building_top' %></td></tr>

<tr><td><label for="bazar_district_file">Building Middle (PNG)</label></td>
<td><img src="<%=ASSET_URL%>/<%=@bd.building_middle%>" />
<%= file_field 'bd', 'building_middle' %></td></tr>

<tr><td><label for="bazar_district_file">Building Bottom (PNG)</label></td>
<td><img src="<%=ASSET_URL%>/<%=@bd.building_bottom%>" />
<%= file_field 'bd', 'building_bottom' %></td></tr>

</table>

<input type="submit" value="Guardar" />
</form>
<% end -%>

<%mftext('Sicarios') do %>
<table>
    <% @bd.sicarios.each do |member| %>
    <tr class="<%=oddclass%>">
      <td><a href="<%=gmurl(member)%>"><%=member.login%></a></td>
    </tr>
    <% end -%>
  </table>
<% end -%>