<%=render :partial => 'task_browser', :locals => { :slog_entries_filter => { :domain => :capo } } %>

<div class="grid-9 glast">
	<%mftext('Bans', :has_submodules => true, :blast => true) do %>
	<%mftext('Pendientes', :grid => 4, :blast => true) do %>
	<ul class="skeletal">
		<% brs = BanRequest.find(:all, :conditions => 'confirming_user_id is null or (unban_user_id is not null and unban_confirming_user_id is null)', :order => 'ban_requests.id desc', :include => :banned_user)%>
		<% if brs.size > 0 then %>
	<%brs.each do |b|%>
	<li><%=member_state('active')%> <a href="/admin/usuarios/confirmar_ban_request/<%=b.id%>"><%=b.banned_user.login%></a></li>
	<% end%>
	</ul>
	<% else %>
	<div class="centered infoinline">(No hay bans pendientes)</div>
	<% end %>
	<% end %>

	<%mftext('Últimas aprobaciones', :grid => 5, :glast => true, :blast => true) do %>
	<table class="skeletal">
	<%BanRequest.find(:all, :conditions => 'confirming_user_id is not null or unban_confirming_user_id is not null', :order => 'coalesce(ban_requests.unban_confirmed_on, ban_requests.confirmed_on) desc', :limit => 5, :include => :banned_user).each do |b|%>
	<tr class="<%=oddclass%>">
		<td><%=member_state(b.banned_user.hstate)%> <a href="/admin/usuarios/confirmar_ban_request/<%=b.id%>"><%=b.banned_user.login%></a></td>
		<td class="infoinline timestamp"><%=print_tstamp(b.unban_confirmed_on ? b.unban_confirmed_on : b.confirmed_on)%></td>
	</tr>
	<% end%>
	</table>
	<ul>
		<li><a href="/hq/bans_requests">Historial de bans</a></li>
		<li><a href="/hq/antifloods">Antifloods activos</a></li>
		<li><a href="/site/carcel">Usuarios baneados</a></li>
	</ul>
	<% end -%>

	<% end -%>

	<%mftext('Usuarios en el punto de mira', :grid => 4) do %>
	<% suspi = User.suspicious_users %>
	<% if suspi.size > 0 then %>
		<table>
		<% suspi.each do |dbu|%>
			<tr class="<%=oddclass%>">
				<td><%=user_link(dbu[:user])%></td>
				<td><%=dbu[:suspiciousness]%></td>
			</tr>
		<% end -%>
		</table>
		<% else %>
		<div class="centered infoinline">(No hay usuarios sospechosos, vivimos en un mundo lleno de paz y amor)</div>
		<% end -%>
	<% end %>

	<%mftext('Información sobre IP', :grid => 5, :glast => true) do %>
	<%load_javascript_lib('http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAEOjv-mMw1xr-JlZWx6sROxRJVT2NB8JzbEZfe8sDjFMVxsRdOxQYcc_XlpviiJUle379pMJdOqwNEQ') %>
	<%=form_tag(:url => '/site/ipinfo', :update => 'ipinfo', :evalscripts => true,
      :remote => true)%>
		<input type="text" name="ip" style="width: 100px;" /> <input type="submit" value="Geolocalizar" />
	</form>
	<div id="ipinfo">
	</div>
	<% end %>

	<div class="grid-9 glast">
		<%cache("/common/slog/capo/#{Time.now.to_i / (3600 * 6)}") do %>
			<%=render :partial => 'organization_status', :locals => { :cls => Faction }%>
		<% end -%>
		<div class="infoinline">Esta tabla se refresca cada 6h.</div>
	</div>
</div>
