<%=render :partial => 'scope_selector', :locals => { :collection => @available_scopes, :active_scope => @scope } %>

<%=render :partial => 'task_browser', :locals => { :slog_entries_filter => { :domain => :faction_bigboss, :scope => @scope } } %>

<div class="grid-9 glast">
<% f = Faction.find(@scope)%>

<%mftext('Estadísticas', :has_submodules => true) do%>
<%mftext('Karma', :blast => true) do %>
	<%=sparkline(:size => '250x50', :data => Stats::Portals.daily_karma(Portal.find_by_code(f.code), 31.days.ago, 1.day.ago))%>
<% end -%>
<%mftext('Visitas', :blast => true) do %>
	<%=sparkline(:size => '250x50', :data => Stats::Portals.daily_pageviews(Portal.find_by_code(f.code), 31.days.ago, 1.day.ago))%>
<% end -%>
<% end -%>

<%mftext('Staff', :has_submodules => true) do %>
<%mftext('Eventos pendientes', :grid => 4, :blast => true) do %>
<table>
	<tr class="<%=oddclass%>">
		<td>Moderadores</td>
		<td class="centered"><a href="/slog/moderator?scope=<%=@scope%>"><%=SlogEntry.ccount(:open, { :domain => :editor, :scope => @scope})%></a></td>
	</tr>
	<%
cnames = Cms::CONTENTS_WITH_CATEGORIES.collect { |cname| "'#{cname}'" } 
ContentType.find(:all, :conditions => "name IN (#{cnames.join(',')})", :order => 'lower(name)').each do |ct| 
scope = SlogEntry.encode_editor_scope(@scope, ct.id) %>
	<tr class="<%=oddclass%>">
		<td>Editores de <%=Cms::translate_content_name(ct.name)%></td>
		<td class="centered"><a href="/slog/editor?scope=<%=scope%>"><%=SlogEntry.ccount(:open, { :domain => :editor, :scope => scope})%></a></td>
	</tr>
<% end -%>
</table>
<% end -%>


<% end -%>

<div class="right"><strong><a href="/cuenta/faccion">Administración</a></strong></div>	
</div>
