<%= render :partial => '/notification_email/header' %>

<strong><a href="<%=gmurl(@sender)%>"><%=@sender.login%></a></strong> quiere ser tu amigo.<br /><br />

<table  style="border: 0;">
	<tr style="vertical-align: top;">
		<td style="width: 120px;"><% if @sender.photo then %><img style="border: 1px solid #000;" src="http://<%=App.domain%>/cache/thumbnails/k/100x150/<%=@sender.show_photo%>" /><% end -%></td>
		<td><%=@sender.age%> años<br />
      <%=@sender.city%> <%=ip_country_flag(@sender.ipaddr)%><br />
      Miembro desde el <strong><%=print_tstamp(@sender.created_on, 'date')%></strong><br />
		</td>
	</tr>
</table>
<% if @invitation_text then %>
<%=@invitation_text%>
<% end %>

<div style="margin-right: 5px; margin-top: 20px; text-align: right;"><a href="http://<%=App.domain%>/cuenta/amigos/aceptar_amistad?eik=<%=@invitation_key%>"><img style="border: 0;" src="http://<%=App.domain%>/skins/default/images/btn_aceptar.png" /></a>
&nbsp; &nbsp; &nbsp; <a href="http://<%=App.domain%>/cuenta/amigos/cancelar_amistad?eik=<%=@invitation_key%>"><img style="border: 0;" src="http://<%=App.domain%>/skins/default/images/btn_rechazar.png" /></a>
</div>

<%= render :partial => '/notification_email/footer' %>