<%= render :partial => '/notification_email/header' %>
<div style="font-size: 11px; color: #9d9c9c; margin-bottom: 10px;"><strong><a href="<%=gmurl(@message.sender)%>"><%=@message.sender.login%></a></strong> | <%=print_tstamp(@message.created_on)%></div>
<table style="border: 0; border-collapse: collapse; margin: 0; padding: 0;">
	<tr style="vertical-align: top;">
		<td style="width: 60px; text-align: center;"><img src="http://<%=App.domain%><%=@message.sender.show_avatar%>" /></td>
		<td><%=Formatting.format_bbcode(@message.message).gsub('="/', "=\"http://#{App.domain}/")%></td>
	</tr>
</table>
<div style="margin-right: 5px; margin-top: 20px; text-align: right;">
<a href="http://<%=App.domain%>/cuenta/mensajes/mensaje/<%=@message.id%><%=@sl%>"><img style="border: 0;" src="http://<%=App.domain%>/skins/default/images/notifications/btn_responder.png" /></a>
</div>
<%= render :partial => '/notification_email/footer' %>
