<% content_support do %>
	<a href="/admin/global_notifications/new">Nueva</a>
<% end -%>

<% content_main do %>
<%mftext('Borradores') do %>
<table class="w100pc">
  <tr>
    <th>Nombre</th>
	<th>Creada</th>
	<th>Tipo</th>
  </tr>
  
<% for global_notification in GlobalNotification.find(:all, :conditions => 'confirmed = \'f\'', :order => 'LOWER(title)') %>
  <tr class="<%=oddclass%>">
    <td><a href="/admin/global_notifications/edit/<%=global_notification.id%>"><%=global_notification.title%></a></td>
	<td class="infoinline timestamp"><%=print_tstamp(global_notification.created_on) %></td>
	<td class="infoinline w75"><%=global_notification.recipient_type %></td>
  </tr>
<% end %>
</table>
<% end %>

<%mftext('Confirmadas') do %>
<table>
  <tr>
    <th>Nombre</th>
	<th class="w100">% completado</th>
	<th>Creada</th>
	<th>Tipo</th>
	<th class="right">Completada</th>
	<th class="right w125">Enviada a</th>
	<th class="right w125">Lecturas confirmadas</th>
  </tr>
  
<% for global_notification in GlobalNotification.find(:all, :conditions => 'confirmed = \'t\'', :order => 'completed_on is null, LOWER(title)') %>
  <tr class="<%=oddclass%>">
    <td><a href="/admin/global_notifications/edit/<%=global_notification.id%>"><%=global_notification.title%></a></td>
	<td class="w100"><%=draw_pcent_bar(global_notification.completedness)%></td>
	<td class="infoinline timestamp"><%=print_tstamp(global_notification.created_on) %></td>
	<td class="infoinline"><%=global_notification.recipient_type %></td>
	<td class="infoinline timestamp"><%=global_notification.completed_on.nil? ? "Incompleta" : print_tstamp(global_notification.completed_on)%></td>
    <td class="infoinline"><%=global_notification.recipients_count%></td>
    <td class="infoinline"><%=draw_pcent_bar(global_notification.confirmed_readings)%></td>
  </tr>
<% end %>
</table>
<% end -%>
<% end -%>