<div class="<%=oddclass%>" style="padding: 5px;">

<h2 id="news<%=@object.id%>"><a class="content" href="<%=gmurl(@object)%>"><%=@object.title%></a></h2>
<div class="infoinline">por <%=link_to @object.user.login, gmurl(@object.user) %> | <%=@object.main_category.root.name%> | <%=print_tstamp(@object.created_on, 'time')%> | <span class="f_milli"><%=gm_icon("comment", "small")%> <a title="Leer los comentarios de esta noticia" href="/noticias/show/<%=@object.id%>#comments"><%=@object.cache_comments_count%></a></span></div>
<div style="float: right; width: 190px; margin-top: -25px;">
<% if @object.main_category.file then %><%=show_news_category_file(@object.main_category.file)%><% end %>
</div>
<div class="summary"><%=@object.description%></div>
<% if @object.main and not strip_tags(@object.main.strip).to_s.empty? then %>
<div class="more"><a class="f_milli" class="content" href="<%=gmurl(@object)%>">Seguir leyendo..</a></div>
<% end -%>
<br />
<br />
</div>
