<% generic_support do %>
<% cache ("/#{controller.portal_code}/noticias/index/best_rated#{Time.now.strftime('%Y%m%d')}") do %>
<%mftext('Mejor valoradas') do %>
<ul class="sidelist">
<% controller.portal.news.most_rated_items(
    :content_type => 'News', :limit => 5).each do |c| %>
  <li style="padding-left: 3px;" class="<%=oddclass%>">
    <%=url_for_content(c, c.title)%>
    <div class="infoinline"><%=draw_rating(c.rating)%>
      <span class="comments-count">
        <a style="display: inline;" href="<%=gmurl(c)%>#comments"><%=c.cache_comments_count%></a>
      </span>
    </div>
  </li>
  <% end -%>
  </ul>
<% end -%>
<% end -%>
<% end -%>

<% content_main do %>
<% if nil then %>
<%= mfcontents_summaries('Noticias',
        News.in_portal(controller.portal),
        [:order => 'created_on asc'],
				{:cache =>
             "/#{controller.portal_code}/noticias/index/page_#{params['page']}",
				 :show_day_separator => true,
         :page => params['page'],
         :pager => true})%>
<% end -%>
<% end -%>
