<% generic_support do %>
  <%= render :partial => 'searchbox' %>
<% end -%>

<% content_main do
	page_title = 'Clanes'
	page_title << " que contienen '#{h params[:s]}' en el nombre" if params[:s]
%>
  <%mftext(page_title) do %>
  <%= render :partial => 'shared/pager2', :locals => {:collection => @clans, :pos => 'top', :pager_params => {:s => params[:s]}} %>
  <table>
    <tr class="<%=oddclass%>">
      <th>Nombre</th>
      <th>Tag</th>
      <th>Juegos</th>
      <th>Miembros</th>
      <th>Web oficial</th>
    </tr>

<% for clan in @clans %>
    <tr class="<%=oddclass%>">
      <td><a href="/clanes/clan/<%=clan.id%>"><%=clan.name%></a></td>
      <td><%=notags(clan.tag)%></td>
      <td><% for game in clan.games%><%=faction_favicon(game)%> <% end -%></td>
      <td><%=clan.members_count%></td>
      <td><%if clan.website_external.to_s =~ (/^http:\/\//) then %><a href="<%=clan.website_external%>">Web oficial</a><% end -%></td>
    </tr>
  <% end -%>
</table>

<%= render :partial => 'shared/pager2', :locals => {:collection => @clans, :pos => 'bottom', :pager_params => {:s => params[:s]}} %>

<% end -%>
<% end -%>