<% content_main do %>
  	<% received_pending = @user.friendships_received_pending
if received_pending.size > 0 then %>
<%mftext('Quieren ser tus amigos') do %>
  	<table>
  	<% received_pending.each do |f| %>
		<tr class="<%=oddclass%>" id="friendship<%=f.id%>">
			<td class="sm-icon"><%=member_state(f.sender.hstate)%></td>
			<td><%=user_link(f.sender)%></td>
			<td class="timestamp"><%=print_tstamp(f.created_on, 'date')%></td>
			<td style="width: 117px; text-align: center;">
        <%=link_to(
            '<span class="button">Aceptar</span>',
            "/cuenta/amigos/aceptar_amistad/#{f.sender.login}?aj=1",
            :remote => true)%>
      </td>
			<td style="width: 117px; text-align: center;">
        <%=link_to(
            '<span class="button">Rechazar</span>',
            "/cuenta/amigos/cancelar_amistad/#{f.sender.login}?aj=1",
            :remote => true)%>
      </td>
		</tr>
	<% end -%>
	</table>
<% end -%>
<% end -%>


<%mftext('Invitar por email') do %>
<form method="post" action="/cuenta/amigos/invitar_email" style="margin-top: 10px;">
<table>

	<tr>
		<th>Email</th>
		<th>Mensaje</th>
	</tr>
	<% (1..7).each do |i| %>
	<tr class="<%=oddclass%>">
		<td><input type="text" style="width: 150px;" name="email_invitation_eml<%=i%>" /></td>
		<td><input style="width: 220px;" type="text" name="email_invitation_msg<%=i%>" value="Te invito a unirte a mi red de amigos en Gamersmafia" /></td>
	</tr>
	<% end %>
	</table>
	<input type="submit" class="button" value="Enviar invitación" />

	</form>
<% end -%>

<%mftext('Tus amigos') do %>
<% friends = @user.friends
if friends.size == 0 then %>
<div class="centered f_milli">Todavía no tienes amigos.</div>
<% else  %>
  	<table class="w100pc">
  	  	<% friends.each do |f| %>
		<tr id="friendshipu<%=f.id%>" class="<%=oddclass%>">
			<td class="sm-icon"><%=member_state(f.hstate)%></td>
			<td><%=user_link(f)%></td>
			<td class="w100 f_milli" style="text-align: right;">
        <%=link_to(
            'Terminar amistad',
            "/cuenta/amigos/cancelar_amistad/#{f.login}?aj=1",
            :confirm => '¿Estás seguro de que deseas terminar con esta' +
                        ' amistad? Mira que nunca sabemos qué puede pasar en' +
                        ' el futuro..',
            :remote => true)%>
      </td>

		</tr>
	<% end -%>
	</table>
<% end -%>
<% end -%>

<% end -%>

<% generic_support do %>
<%mftext('¿Sabías que..') do %>
<div style="text-align: right;">..cada amigo que introduzcas en Gamersmafia hace subir tu nivel de fe*?</div>
<div class="infoinline" style="margin-top: 15px;">*Sólo mientras no se vuelvan <a href="/site/faq#cat1">zombies</a>.</div>
<%end%>

<% pending_users = @user.friendships_sent_pending
if pending_users.size > 0 then %>
<%mftext('Te tienen que responder') do %>
  	<table class="w100pc">
  	<% pending_users.each do |f| %>
		<tr class="<%=oddclass%>" id="friendship<%=f.id%>">
			<td class="sm-icon"><%=member_state(f.receiver.hstate) if f.receiver%></td>
			<% if f.receiver then %>
			<td><%=user_link(f.receiver)%><br /><span class="infoinline">enviada el <strong><%=print_tstamp(f.created_on, 'date')%></strong></span></td>
			<% else %>
			<td><%=f.receiver_email%></td>
			<% end %>
			<% cancel_params = f.external_invitation_key ? "eid=#{f.external_invitation_key}" : "login=#{f.receiver.login}"%>
			<td style="text-align: right;">
        <%=link_to(
            'Cancelar',
            "/cuenta/amigos/cancelar_amistad/?#{cancel_params}&aj=1",
            :confirm => '¿Estás seguro de que deseas cancelar esta invitación?',
            :remote => true)%></td>
		</tr>
	<% end -%>
	</table>
<% end %><%# mftext -%>
<% end %><%# if pending -%>
<% end %><%# csupport -%>

