<%mftext('Movimientos') do %>
<%
if params[:min_cash]
  cond = " AND ammount >= #{params[:min_cash].to_f}"
else
  cond = ""
end %>

<% show_amount_filter ||= false
if show_amount_filter then %>
<form class="right" method="get" action="?">
<span class="f_milli infoinline">Mostrar solo movimientos de al menos <input class="text w50" type="text" name="min_cash" value="<%=params[:min_cash] if params[:min_cash].to_f > 0 %>" /> <%=gm_icon("gmf", "small")%></span>
</form>
<% end -%>


<% @cash_movements = CashMovement.paginate(:conditions => "((object_id_to = #{entity.id} and object_id_to_class = \'#{entity.class.name}\') or (object_id_from = #{entity.id} and object_id_from_class = \'#{entity.class.name}\')) #{cond}", :order => 'created_on DESC', :page => params[:page], :per_page => 30) %>

<%= render :partial => 'shared/pager2', :locals => {:collection => @cash_movements, :pos => 'top'} %>

<table class="cash_movements">
<tr>
  <th style="width: 25px; text-align: right;"> <%=gm_icon("gmf", "small")%></th>
  <th>Concepto</th>
  <th>Entidad</th>
  <th>Fecha</th>
</tr>
<%
odd = 0 %>
<%# TODO broken%>
<%
for cash_movement in @cash_movements
  if cash_movement.object_id_from == entity.id then
    css_class = 'cash-out bad'
    amount_sign = "-"
  else
    css_class = 'cash-in good'
    amount_sign = ""
  end
%>
  <%# TODO PERF 1 + n queries!! %>
  <%
  if cash_movement.object_id_from == entity.id and cash_movement.object_id_to then
    other_user = cash_movement.receiver
  elsif cash_movement.object_id_to == entity.id and cash_movement.object_id_from then
    other_user = cash_movement.sender
  else
    other_user = 'Banco'
  end

  odd = 1 - odd%>
<tr class="alt<%=odd%>">
  <td class="right <%=css_class%>"><%=amount_sign%><%=cash_movement.ammount%></td>
  <td><%=cash_movement.description%></td>
  <td>
    <% if other_user == 'Banco' then %><%=other_user%>
    <% elsif other_user then %><%="<a href=\"#{gmurl(other_user)}\">#{other_user}</a>"%>
    <% else %>Desconocido<% end -%>
  <td class="timestamp infoinline"><%=print_tstamp cash_movement.created_on%></td>
</tr>
<% end %>
</table>
<%= render :partial => 'shared/pager2', :locals => {:collection => @cash_movements, :pos => 'bottom'} %>

<% end %>
