<% if Authorization.can_edit_content?(@user, object) && object.created_on >= 1.month.ago then %>
<%mftext('Cambiar autoría') do %>
<%=form_tag :controller => '/admin/contenidos', :action => 'change_authorship'%>
<input type="hidden" name="redirto" value="<%=controller.request.fullpath%>" />
<input type="hidden" name="content_id" value="<%=object.unique_content.id%>" />
Autor actual: <strong><%=object.user.login%></strong><br />
Nuevo autor: <input type="text" class="text" name="login" /><br />
<%=submit_tag 'Cambiar' %>
</form>
<% end -%>
<% end -%>
