<div class="comment<%= " hidden" if comment.hidden?%>" id="comment<%=comment.id%>">
<script type="text/javascript">
  comments[<%=comment.id%>] = new Array(
      <%=comment.created_on.to_i%>, <%=comment.user_id%>);
</script>
  <div class="user-info">
  	<div class="user-info-holder">
     <div class="avatar"><img src="<%=ASSET_URL%><%=comment.user.show_avatar%>" /></div>
     <div class="user-info-bar"><%=draw_karma_bar_sm(comment.user)%></div>
     <div class="user-info-bar"><%=draw_faith_bar_sm(comment.user)%></div>
     <div class="user-info-bar"><%=draw_comments_bar_sm(comment.user, comment)%></div>
	   <div class="emblemas">
	 <% if ckey != 'perm' && comment.user.emblems_mask.to_s.index('1') then
		    emi = 0
			comment.user.emblems_mask.split('').each do |char|
			  if char == '1' then
			 %>
		 	<img class="sprite1 emblema emblema-<%=Emblems::EMBLEMS_BY_INDEX[emi]%>" src="/images/blank.gif" title="<%=Emblems::EMBLEMS[Emblems::EMBLEMS_BY_INDEX[emi]][:title]%>" />
			<% end %><%# if -%>
		<% emi+=1
end %><%# each -%>
		<% end %><%# if -%>
		 </div>
   </div>
 </div>

  <div class="comment-header">
    <div class="comment-info infoinline">
      <span class="hidden" id="comment<%=comment.id%>editlink"><a class="action" href="" onclick="document.location='/comments/edit/<%=comment.id%>?redirto=<%=request.path%>'; return false;">Editar</a> |</span>
      <%=print_tstamp comment.created_on%>
      <span class="commentlink">
        <a title="Enlace a este comentario" href="#comment<%=comment.id%>"><img src="/images/blank.gif" class="icon16 sprite1" /></a>
      </span>
    </div>

    <div class="comment-number f_number">#<span><%=comment_number-1%></span></div>

    <div class="author" style="padding-left: 15px;">
      <a class="nav" href="<%=gmurl(comment.user)%>"><%=comment.user.login%></a>
      <%=faction_favicon(comment.user)%>
    </div>
  </div>

  <% crating = comment.get_rating
    colour = case crating[0].direction
             when 0
               'normal-rating'
             when 1
               'positive-rating'
             when -1
               'negative-rating'
             else
               raise "error! #{crating[0].direction}"
      end
  if crating[0].name != 'Normal' then
    if crating[1] == 1.0
      opacity = '1.0'
      ie_opacity = '100'
    else
       opacity = (crating[1]*10).to_i / 10.0
       ie_opacity = (crating[1]*100).to_i
    end
  %>
  <div class="comment-rating-state <%=colour%>"
       style="opacity: <%=opacity%>; filter=alpha(opacity=<%=ie_opacity%>)">
    <div>
      <%=comments_icon(crating[0].name.to_sym, true)%> <%=crating[0].name%>
    </div>
  </div>
  <% end -%>

  <div class="text" id="commenttext<%=comment.id%>">
    <%=auto_link_raw(smilelize(comment.comment)) do |text|
      truncate(text.gsub(/http:\/\//, ''), 50)
    end %>

	<% if questions_mode && comment.user.id != object.user_id then %>
		<div class="questions-best-answer hidden"><a href="/respuestas/mejor_respuesta/<%=comment.id%>" onclick="return confirm('¿Est&aacute;s seguro? Una vez marcada no se puede cambiar la mejor respuesta.');"><img class="icon" src="/skins/default/images/btn_mejor_respuesta.png" /></a></div>
	<% end -%>

	<% if show_signature then %>
	<div class="hidden comments-sig"><%=h comment.user.comments_sig%></div>
	<% end -%>
	</div>

	<div class="hidden report-comments infoinline <%='report-comment-with-sig' if show_signature %>" id="report-comments<%=comment.id%>">
		<a href="" title="Reportar este comentario por violaci&oacute;n del c&oacute;digo de conducta" onclick="return report_comment(<%=comment.id%>);">Reportar</a>
	</div>

  <div class="moderate-comments-opener-detail">
    <div class="moderate-comments-opener hidden" id="moderate-comments-opener<%=comment.id%>" onmouseout="$j('#moderate-comments<%=comment.id%>').hide();" onmouseover="$j('#moderate-comments<%=comment.id%>').show();">Mi valoraci&oacute;n: <strong><span id="moderate-comments-opener-rating<%=comment.id%>">Ninguna</span></strong><br />
      <div class="hidden moderate-comments" id="moderate-comments<%=comment.id%>">
      <ul class="positive">
      <% CommentsValorationsType.find_positive.each do |cvt| %>
      <li><a href="" onclick="GM.utils.rate_comment(<%=comment.id%>, '<%=cvt.name%>', <%=cvt.id%>); return false;"><%=comments_icon(cvt.name.to_sym, true)%> <%=cvt.name%></a></li>
      <% end -%>
      </ul>
      <ul class="negative">
      <% CommentsValorationsType.find_negative.each do |cvt| %>
      <li><a href="" onclick="return GM.utils.rate_comment(<%=comment.id%>, '<%=cvt.name%>', <%=cvt.id%>); return false;"><%=comments_icon(cvt.name.to_sym, true)%> <%=cvt.name%></a></li>
      <% end -%>
      </ul>
      <ul class="neutral">
      <% CommentsValorationsType.find_neutral.each do |cvt| %>
      <li><a href="" onclick="return GM.utils.rate_comment(<%=comment.id%>, '<%=cvt.name%>', <%=cvt.id%>); return false;"><%=comments_icon(cvt.name.to_sym, true)%> <%=cvt.name%></a></li>
      <% end -%>
      </ul>
      </div>
    </div>
  </div>
</div>

<div class="clearb"></div>
