<div class="comment<%= " hidden" if comment.hidden?%>" id="comment<%=comment.id%>">
<script type="text/javascript">
  comments[<%=comment.id%>] = new Array(
      <%=comment.created_on.to_i%>, <%=comment.user_id%>);
</script>
  <div class="user-info secondary-block f_milli">
  	<div class="user-info-holder">
     <div class="avatar"><img src="<%=ASSET_URL%><%=comment.user.show_avatar%>" /></div>
     <div class="user-info-bar"><%=draw_karma_bar_sm(comment.user)%></div>
     <div class="user-info-bar"><%=draw_comments_bar_sm(comment.user, comment)%></div>
	   <div class="emblemas">

       <% emblems_to_show = user_emblem_stats(comment.user)
       if emblems_to_show.size > 0
         chunked = emblems_to_show.each_slice(3).to_a
     %>
       <table>
         <% chunked.each do |chunk| %>
           <tr>
             <%chunk.each do |frequency, count| %>
               <td style=" width: 20px;"><%=gm_icon("emblem-#{frequency}", "small")%></td>
             <% end -%>
           </tr>
           <tr>
             <%chunk.each do |frequency, count| %>
               <td class="f_milli" style=" width: 18px;"><%=count%></td>
             <% end -%>
           </tr>
         <% end -%>
       </table>
       <% end  # if emblems_to_show.size > 0 -%>

		 </div>
   </div>
 </div>

  <div class="comment-header secondary-block">
    <div class="comment-info infoinline">
      <span class="hidden" id="comment<%=comment.id%>editlink"><a class="action" href="" onclick="document.location='/comments/edit/<%=comment.id%>?redirto=<%=request.path%>'; return false;">Editar</a> |</span>
      <%=print_tstamp comment.created_on%>
      <span class="commentlink">
        <a title="Enlace a este comentario" href="#comment<%=comment.id%>"><%=gm_icon("bookmark", "small")%></a>
      </span>
    </div>

    <div class="comment-number f_deca">#<span><%=comment_number-1%></span></div>

    <div class="author">
      <a href="<%=gmurl(comment.user)%>"><%=comment.user.login%></a>
      <%=faction_favicon(comment.user)%>
    </div>
  </div>

  <% crating = comment.get_rating
    colour = case crating[0].direction
             when 0
               'normal-rating'
             when 1
               'good'
             when -1
               'bad'
             else
               raise "error! #{crating[0].direction}"
      end
  if crating[0].name != 'Normal' then
    if crating[1] == 1.0
      opacity = '1.0'
      ie_opacity = '100'
    else
       opacity = (crating[1]*10).to_i / 10.0
       ie_opacity = (crating[1]*100).to_i
    end
  %>
  <div class="comment-rating-state secondary-block <%=colour%> f_milli"
       style="opacity: <%=opacity%>; filter=alpha(opacity=<%=ie_opacity%>)">
    <div>
      <%=gm_icon(crating[0].icon, "small")%> <%=crating[0].name%>
    </div>
  </div>
  <% end -%>

  <div class="text" id="commenttext<%=comment.id%>">
    <%=Formatting.format_bbcode(
         Formatting.comment_with_expanded_short_replies(
           comment.comment, comment)) %>

	<% if questions_mode && comment.user.id != object.user_id then %>
    <div class="questions-best-answer hidden">
      <a class="confirm-click" href="/respuestas/mejor_respuesta/<%=comment.id%>"><%=button("Mejor respuesta")%></a>
    </div>
	<% end -%>

	<% if show_signature then %>
	<div class="hidden comments-sig"><%=h comment.user.comments_sig%></div>
	<% end -%>
	</div>

	<div class="hidden report-comments infoinline <%='report-comment-with-sig' if show_signature %>" id="report-comments<%=comment.id%>">
		<a href="" title="Reportar este comentario por violaci&oacute;n del c&oacute;digo de conducta" onclick="return report_comment(<%=comment.id%>);">Reportar</a>
	</div>

  <div class="moderate-comments-opener-detail secondary-block f_milli">
    <div class="moderate-comments-opener secondary-block hidden" id="moderate-comments-opener<%=comment.id%>" onmouseout="$('#moderate-comments<%=comment.id%>').hide();" onmouseover="$('#moderate-comments<%=comment.id%>').show();">Mi valoraci&oacute;n: <strong><span id="moderate-comments-opener-rating<%=comment.id%>">Ninguna</span></strong><br />
      <div class="hidden moderate-comments secondary-block" id="moderate-comments<%=comment.id%>">
      <ul class="good">
      <% CommentsValorationsType.find_positive.each do |cvt| %>
        <li><a href="" onclick="Gm.Utils.rate_comment(<%=comment.id%>, '<%=cvt.name%>', <%=cvt.id%>); return false;"><%=gm_icon(cvt.icon, "small")%> <%=cvt.name%></a></li>
      <% end -%>
      </ul>
      <ul class="bad">
      <% CommentsValorationsType.find_negative.each do |cvt| %>
      <li><a href="" onclick="return Gm.Utils.rate_comment(<%=comment.id%>, '<%=cvt.name%>', <%=cvt.id%>); return false;"><%=gm_icon(cvt.icon, "small")%> <%=cvt.name%></a></li>
      <% end -%>
      </ul>
      <ul class="neutral">
      <% CommentsValorationsType.find_neutral.each do |cvt| %>
      <li><a href="" onclick="return Gm.Utils.rate_comment(<%=comment.id%>, '<%=cvt.name%>', <%=cvt.id%>); return false;"><%=gm_icon(cvt.icon, "small")%> <%=cvt.name%></a></li>
      <% end -%>
      </ul>
      </div>
    </div>
  </div>
</div>

<div class="clearb"></div>
