<% # -*- encoding : utf-8 -*- %>
<%= adsense_comments %>
<%
resolve_comments_page(object)
uniq_id = object.unique_content.id
ckey = (object.updated_on < 1.month.ago) ? 'perm' : Time.now.to_i/(86400*7)
questions_mode = (object.class.name == 'Question')

cache("/comments/#{ckey}/#{uniq_id%100}/#{uniq_id}_#{Cms.comments_per_page}_#{params[:page]}") do
@comments = get_comments(object)
%>
<script type="text/javascript">var comments = new Array();</script>
<div class="comments-container"><a name="comments"></a>
<div class="comments-area">
<%= render :partial => 'shared/pager2', :locals => { :collection => @comments, :pos => 'top', :pager_params => { :anchor => 'comments' } } %>
<%
i = (params[:page].to_i - 1) * Cms.comments_per_page + 1

@comments.each do |comment|
  i += 1
  show_signature = comment.user.enable_comments_sig? && comment.user.comments_sig.to_s != ''
  show_signature = false if questions_mode
%>
<%= render :partial => 'shared/comment', :locals => {
    :comment => comment,
    :ckey => ckey,
    :comment_number => i,
    :questions_mode => questions_mode,
    :object => object,
    :show_signature => show_signature,
} %>
<% end -%>
<%= render :partial => 'shared/pager2', :object => @comments_pages, :locals => { :collection => @comments, :pos => 'bottom', :pager_params => { :anchor => 'comments' } } %>

<%
end %><%# cache %>

<% if questions_mode && user_is_authed && object.answered_on.nil? && (@_cache_can_select ||= Cms.user_can_select_best_answer(@user, object)) then %>
<script type="text/javascript">$j('div.questions-best-answer').removeClass('hidden');</script>
<% end -%>

<% if (user_is_authed && @user.comment_show_sigs?) then %>
<script type="text/javascript">$j('div.comments-sig').removeClass('hidden');</script>
<% end -%>

<%# TODO moderadores de faccion no pueden moderar ahora mismo %>
<% if user_is_authed and not (defined?(nohighlight) and nohighlight == true) then %>
<script type="text/javascript">
function load_comments()
{
       if (arguments.callee.done) return;
       // flag this function so we don't do the same thing twice
       arguments.callee.done = true;
      check_comments_controls(<%=Comments::user_can_moderate_comments_of_content(@user, object)%>, <%=@user.id%>, <%=@object_lastseen_on.to_i%>, <%=Time.now.to_i%>, <%=ActiveSupport::JSON.encode(Comments::comments_ratings_for_user_in_object_in_page(@user, object, params[:page]))%>, <%=Karma.level(@user.karma_points) > 0 ? @user.remaining_rating_slots : 0%>, <%=ActiveSupport::JSON.encode(@user.created_on < 7.days.ago)%>, <%=@user.is_hq?%>, <%=@first_time_content%>, '<%=@user.pref_comments_autoscroll%>');
}
   /* for Mozilla */
   if (document.addEventListener) {
       document.addEventListener("DOMContentLoaded", load_comments, false);
   }

    window.onload = load_comments;
</script>
<% end -%>

<div class="infoinline right gotop"><a href="#" onclick="return GM.utils.gototop();">Volver arriba</a></div>
<%
if user_is_authed then
  begin
	  Comments.require_user_can_comment_on_content(@user, object)
  rescue Exception => e
    %><p class="centered"><%=e.to_s%></p><%
  else
    if @user.antiflood_level > -1 then
      max = (5 - @user.antiflood_level) * 5
      cur = Comment.count(:conditions => "user_id = #{@user.id} and created_on::date = now()::date")
    end
%>
    <form action="/comments/create" method="post" name="REPLIER" style="padding-top: 25px;">
      <%= hidden_field_tag 'comment[content_id]', uniq_id %>
      <%= hidden_field_tag 'redirto', request.path %>
	  <div class="comment-textarea">
	  <%= bbeditor(:name => 'comment[comment]', :id => 'comment_comment').force_encoding("utf-8") %>
	  <% if @user.comment_adds_to_tracker_enabled? then %><input type="hidden" value="1" name="add_to_tracker"  /><% end -%>
      <div class="right"><input type="image" src="/images/blank.gif" class="btn-<%= (questions_mode && @user.id != object.user_id) ? 'responder' : 'comentar'%>" /></div>
    </div>
  </form>

    <% end %><%# begin..rescue %>
    <% end %><%# if user_is_authed %>

<% if !user_is_authed then %>
    <div class="system-message">
      <% h_imgs = ['009d48', '14826d', '2d3058', '73ec88', 'e5cbc8', '068b5b', '21db24', '2e7ded', '74254', 'ff0d19', '1108b2', '2bc937', '334d5e', '7984ec'] %>

      <div class="register-now"><a href="/cuenta/alta"><img src="/images/hentai/<%=h_imgs[Kernel.rand(13)]%>.jpg" /></a></div>
      <p style="text-align: center;"><a href="/cuenta/alta"><img style="border: 0;" src="/skins/default/images/btn_register.png" /></a> <br />y comenta.</p>
    </div>
<% end -%>
  </div>
</div>
