<%mftext('Más información') do %>
<div>
  <div class="centered"><%=draw_rating(object.rating)%><br /><span class="infoinline">(<%=object.rating[1]%> valoraciones)</span></div>
  <div class="infoinline centered" style="margin-top: 9px; margin-bottom: 5px;"><span class="f_milli" title="Leído <%=object.hits_anonymous + object.hits_registered%> veces"><%=gm_icon("pageviews", "small")%><%=object.hits_anonymous + object.hits_registered%></span> &nbsp;
    <span class="f_milli">
      <%=gm_icon("comment", "small")%>
      <a title="Leer los comentarios de este contenido" href="<%=controller.url_for_content_onlyurl(object)%>#comments"><%=object.unique_content.comments_count%></a></span>
    <% if %w(Download Demo).include?(object.class.name) then%>
      &nbsp;
      <span title="Descargado <%=object.downloaded_times%> veces"><%=gm_icon("download", "small")%> <%=object.downloaded_times%></span>
    <% end -%>
    <br /><br />
    <%
    udata = Comments.get_comments_ratings_for_content(object)
    cvt = udata[0]
    %>
    Ambiente: <strong><%=gm_icon(cvt.icon)%><%=cvt.name%></strong> <span class="infoinline"><%=(udata[1]*100).to_i%>%</span>
    </div>
</div>
<% end -%>
