<% # -*- coding: UTF-8 -*- %>
<div id="tags" class="f_milli infoinline">
	<div class="system">
    <div class="floatl"><%=gm_icon("tag")%></div>
    <div class="tag">
      <a href="/<%=Cms::CONTENTS_CONTROLLERS[object.content_type.name]%>"><%=Cms::CLASS_NAMES[object.content_type.name]%></a>
    </div>

		<% if Cms::CATEGORIES_TERMS_CONTENTS.include?(object.content_type.name) then
		root_slugs = []

	%>
	<% object.terms.find(:all, :conditions => "taxonomy LIKE '%Category'").each do |tt|
		this_root = tt.root
%>
<% if !root_slugs.include?(this_root) then
root_slugs<< this_root
%><div class="tag"><a href="http://<%=this_root.slug%>.<%=App.domain%>/"><%=this_root.slug%></a></div><% end -%>
                          <div class="tag"><a href="<%=gmurl(tt)%>"><%=tt.slug%></a></div>
			<% end -%>
		<% else %>
			<% object.terms.find(:all, :conditions => 'taxonomy IS NULL and terms.id = terms.root_id').each do |tt| %>
			<div class="tag"><a href="http://<%=tt.slug%>.<%=App.domain%>/"><%=tt.slug%></a></div>
			<% end -%>
		<% end -%>
		<div class="tag"><a href="<%=gmurl(object.user)%>"><%=object.user.login%></a></div>
		<div class="clearl"></div>
	</div>

	<div id="top-content-tags">
  <div class="floatl"><%=gm_icon("tag")%></div>
	<%object.terms.contents_tags.find(:all, :order => 'lower(name)').each do |t| %>
    <div class="tag">
      <a title="Ver los <%=t.contents_count%> contenidos con este mismo tag" href="/tags/<%=t.slug%>"><%=t.name%></a>
      <span title="Contenidos con el mismo tag">(<%=t.contents_count%>)</span>
    </div>
	<% end -%>
	<div class="clearl"></div>
	</div>

<% if user_is_authed && @user.has_skill_cached?("TagContents") %>
<div id="tag-this-content">
  <div class="floatl"><%=gm_icon("tag-add")%></div>
</div>
<div id="new-tag-input">
<% # TODO(slnc): crear el elemento por ajax %>
<%= form_tag('/admin/contenidos/tag_content') do %>
  <input type="hidden" name="id" value="<%=object.id%>" />
  <div id="tags-placeholder" class="text-input">
    <input id="new-tag-input-text" type="text" name="tags"
      class="autocomplete-me user-input" data-autocomplete-url="/tags/autocomplete"
      data-autocomplete-click="Gm.Utils.TagsAutocomplete" />
  </div>
  <input type="submit" id="new-tags-submit" class="button" value="Asociar" />
<% end -%>
</div>

<div id="my-content-tags">
  <%object.users_contents_tags.find(
      :all,
      :conditions => ['user_id = ?', @user.id],
      :order => 'lower(original_name)').each do |uct| %>
	<div class="tag one-of-my-tags" id="one-of-my-tags<%=uct.id%>">
	<div style="display: none;" class="one-of-my-tags-ops" id="one-of-my-tags-ops<%=uct.id%>">
    <%=link_to(
        gm_icon("tag-del"),
        "/admin/contenidos/remove_user_tag/?id=#{uct.id}",
        :remote => true)%>
  </div>
	<%=uct.original_name%></div>
<% end -%>
	<div class="clearl"></div>
</div>


<% end %><%# if user_is_authed -%>

<script type="text/javascript">
$('#tag-this-content').unbind('click').click(function () {
  var tagsPlaceholder = $('#tags-placeholder');
  var newTagsSubmit = $('#new-tags-submit');
  var tagsInput = $('#new-tag-input-text');
  tagsPlaceholder.toggle();
  if (tagsPlaceholder.is(":visible")) {
    newTagsSubmit.show();
    tagsInput.show();
    tagsInput.focus();
  }
});

$('.one-of-my-tags').mouseover(function () {
  $(this).children('.one-of-my-tags-ops').show();
});
$('.one-of-my-tags').mouseout(function () {
  $(this).children('.one-of-my-tags-ops').hide();
});
</script>

<div class="clearl"></div>
</div>
