<%mftext('Publicar en ') do %>

<% @NUM_SELECTS = 6 %>

<% if (Cms::CATEGORIES_TERMS_CONTENTS + Cms::ROOT_TERMS_CONTENTS).include?(acts_as_content.class.name) then %>
<div id="categories_terms_root_more" class="infoinline" style="float: right;"><a href="" style="" class="nav" onclick="return show_all_categories_terms_contents();">Asociar a más de una categoría</a></div>
<% end -%>
<% if Cms::ROOT_TERMS_CONTENTS.include?(acts_as_content.class.name) then %>
<% created_selects = 0 %>
<% if !acts_as_content.new_record? then %>
<% acts_as_content.terms.editable_taxonomies.find(:all, :conditions => 'terms.id = terms.root_id').each do |tt| %>
	<%=render :partial => '/shared/root_term_select', :locals => { :index => created_selects + 1, :content_type => acts_as_content.class.name, :selterm => tt} %>
	<% created_selects += 1
end %>
<% end -%>

<% if params[:presel_term_id] then %>
	<%=render :partial => '/shared/root_term_select', :locals => { :index => created_selects + 1, :content_type => acts_as_content.class.name, :selterm => Term.find(params[:presel_term_id]) } %>
	<% created_selects += 1
 end -%>

<%(@NUM_SELECTS - created_selects).times do |time| %>
	<%=render :partial => '/shared/root_term_select', :locals => { :index => created_selects + 1, :selterm => nil } %>
<%
created_selects += 1
end -%>
<% end -%>

<% if Cms::CATEGORIES_TERMS_CONTENTS.include?(acts_as_content.class.name) then %>
<% created_selects = 0 %>
<% if !acts_as_content.new_record? then %>
<% acts_as_content.terms.find(:all, :conditions => 'taxonomy LIKE \'%Category\'').each do |tt| %>
	<%=render :partial => '/shared/category_term_select', :locals => { :index => created_selects + 1, :content_type => acts_as_content.class.name, :selterm => tt} %>
	<% created_selects += 1
end %>
<% end -%>

<% if params[:presel_term_id] then
tt = Term.find(params[:presel_term_id])
if tt.parent_id.nil?
tt = tt.children.find(:first, :conditions => "taxonomy = \'#{ActiveSupport::Inflector.pluralize(acts_as_content.class.name)}Category\'")
end
%>
	<%=render :partial => '/shared/category_term_select', :locals => { :index => created_selects + 1, :content_type => acts_as_content.class.name, :selterm => tt } %>
	<% created_selects += 1
 end -%>



<%(@NUM_SELECTS - created_selects).times do |time| %>
	<%=render :partial => '/shared/category_term_select', :locals => { :index => created_selects + 1, :content_type => acts_as_content.class.name, :selterm => nil} %>
<%
created_selects += 1
end -%>
<% end -%>

<% if (Cms::CATEGORIES_TERMS_CONTENTS + Cms::ROOT_TERMS_CONTENTS).include?(acts_as_content.class.name) then %>
<script type="text/javascript">
	hidden = 0;
  for(var i=2; i<='<%= @NUM_SELECTS %>'; i++){
    if ($('#categories_terms_root'+i).val() == '') {
      $('#categories_terms_root'+i).hide();
      hidden = 1;
    }
  }

Gm.Slnc.hide('categories_terms_root_more');

	if (hidden == 1) {
		Gm.Slnc.show('categories_terms_root_more');
		}

function show_all_categories_terms_contents() {
  for(var i=2; i<='<%= @NUM_SELECTS %>'; i++){
    $('#categories_terms_root'+i).show();
  }

		Gm.Slnc.hide('categories_terms_root_more');
		return false;
}

</script>
<% end -%>


<% end -%>
