<%
begin
  Comments.require_user_can_comment_on_content(@user, content)
rescue Exception => e
%><p class="centered"><%=e.to_s%></p><%
else
  if @user.antiflood_level > -1
    max = (5 - @user.antiflood_level) * 5
    cur = Comment.count(
        :conditions => ["user_id = ? AND created_on::date = now()::date",
                        @user.id])
  end
  if questions_mode && @user.id != content.user_id
    btn_action_class = 'Responder'
  else
    btn_action_class = 'Comentar'
  end
%>
<form id="new_comment" action="/comments/create" method="post" name="REPLIER" style="padding-top: 25px;">
  <%= hidden_field_tag 'comment[content_id]', uniq_id %>
  <%= hidden_field_tag 'redirto', request.path %>
  <div class="comment-textarea">
    <div class="comment-main-fields-area">
    <%= bbeditor(:name => 'comment[comment]',
                 :class => 'comment-textarea',
                 :id => 'comment_comment').force_encoding("utf-8") %>
    <% if @user.comment_adds_to_tracker_enabled? %>
      <input type="hidden" value="1" name="add_to_tracker"  />
    <% end -%>
    <div class="droparea secondary-area">
      <div class="float-left">
        <span class="f_kilo"><%=gm_icon("upload")%></span>
      </div>
      arrastra imágenes aquí
    </div>
    </div>

    <div id="dropped-files" class="image-gallery-sm"></div>
    <div class="image-editor hidden">
      <canvas class="hidden"></canvas>
      <img src="/images/dot.gif" class="image2" />
      <br />
      <input type="text" name="meme_top" class="meme_top" maxlength="60" />
      <br />
      <input type="text" name="meme_middle" class="meme_middle" maxlength="60" />
      <br />
      <input type="text" name="meme_bottom" class="meme_bottom" maxlength="60" />
      <br />
    </div>

    <div class="draft-feedback f_milli"></div>
    <div class="right">
      <input type="submit" src="/images/dot.gif" class="button comment-button" value="<%=btn_action_class%>" /></div>
  </div>
</form>
<% end %><%# begin..rescue %>
