<div class="homebox">
<div id="home-coverages" class="subheader f_deca first"><div><span>Coverages</span></div></div>
        <ul class="content-hid">
		<% @last_news = Coverage.published.find(:all, :limit => 5, :order => 'created_on DESC')
shown_news = []
for news in @last_news
    shown_news << news.id
%>
<li class="content<%=news.id%> new <%=oddclass%>" style="clear: left;"><%= link_to truncate(news.title, 35), gmurl(news) %><br /><div class="infoinline"><%=content_category(news.event.main_category)%><a href="<%=gmurl(news.event)%>"><%=news.event.title%></a></div></li>
<% end %>
</ul>
	<script type="text/javascript">contents = contents.concat(<%=shown_news.join(',')%>);</script>
    <div class="more"><a title="Ver más coverages" href="/coverages">Más coverages &raquo;</a></div>
</div>
