<% cache("/#{controller.portal.code}/outstanding_clans/#{Time.now.strftime('%Y%m%d')}") do
outstanding_clan = OutstandingClan.current(controller.portal.id)
if outstanding_clan then
u = outstanding_clan.clan
mftext('Clan destacado') do %>
%>
<div class="homebox" style="overflow: hidden; height: 1%;">
  <div id="home-outstanding-clan" class="subheader f_deca first"><div><span>Clan del día</span></div></div>
  <div style="margin: 5px;"><% if u.logo then %><div style="float: left; margin: 0 5px 5px 0;"><a href="/clanes/show/<%=outstanding_clan.id%>"><img src="<%=ASSET_URL%>/cache/thumbnails/f/50x50/<%=u.logo%>" /></a></div><% end -%>
  <strong><a href="/clanes/clan/<%=u.id%>"><%=u.name%></a></strong>
  </div>
</div>
<% end -%>
<% end -%>
<% end %><%# cache-%>
