<% mftext('Slots') do %>
<table>
  <tr>
    <th>Slot</th>
    <th>Comportamiento</th>
    <th>Dimensiones</th>
    <th>Anuncios</th>
  </tr>
<% AdsSlot.find(:all, :conditions =>"advertiser_id IN (#{@advertisers_ids.join(',')})", :order => 'lower(name)').each do |ads|
ads_pageviews30 = ads.pageviews(:sum, 30)
ads_clicks30 = ads.clicks(:sum, 30)
%>
  <tr class="<%=oddclass%>">
    <td><a href="/ads/slot/<%=ads.id%>"><%=ads.name%></a></td>
    <td><%=ads.behaviour.name.gsub('Ads::SlotsBehaviours::', '')%></td>
    <td><%=ads.image_dimensions%></td>
    <td><%=ads.ads_slots_instances.count(:conditions => 'deleted=\'f\'')%></td>
  </tr>
<% end -%>
</table>
<% end -%>
