<div class="grid-8 blast">
<%mftext('Noticias', :has_submodules => true, :blast => true) do %>
	<div class="grid-4">
		<%=mfcontents_basic("Generales",
					Proc.new { controller.portal.news.find(:published, :order => 'created_on desc', :limit => 10) },
					[],
					:truncate_at => 28, :faction_favicon => true, :blast => true, :cache => "/#{controller.portal_code}/home/index/news2")%>
					</div>

<div class="grid-4 glast">
<% cache("/#{controller.portal_code}/home/index/coverages2") do %>
	<% mfcontents_list('Coverages',
				   Proc.new { controller.portal.coverage.find(:published, :order => 'coverages.created_on DESC', :limit => 8, :include => :event)},
				   :blast => true, :truncate_at => 28) do |o| %>
<a href="<%=gmurl(o)%>"><%=content_category(o)%> <%=o.title%></a><br />
<div class="infoinline right"><a href="<%=gmurl(o.event)%>"><%=o.event.title%></a></div>
<% end -%>
<% end -%>
</div>
<div class="clearb"></div>
<% end -%>
</div>

<div class="grid-7 glast blast">
	<%mftext('En los foros', :has_submodules => true, :blast => true) do %>

	<div class="grid-4">
	<%=mfcontents_basic("Tópics activos",
					Proc.new { controller.portal.topic.find(:published, :conditions => 'topics.closed is false', :order => 'contents.updated_on desc', :limit => 10) },
					[],
					:truncate_at => 28, :faction_favicon => true, :blast => true, :cache => "/#{controller.portal_code}/home/index/topics2")%>
	</div>

	<%mftext('Foros activos', :grid => 3, :glast => true, :blast => true) do %>
	<%= render :partial => '/home/foros_list', :locals => { :topterm => controller.portal.categories(Topic)[0] } %>
	<% end -%>

	<% end -%>
</div>

<div class="clearb"></div>

<div class="grid-12">
<% mftext('Últimos resultados', :grid => 4) do %>
		<%=render :partial => '/competiciones/ultimos_resultados' %>
<% end -%>

<div class="grid-4"><%=render :partial => '/home/open_bets' %></div>

<% cache("/#{controller.portal_code}/home/index/demos2") do %>
<%mfcontents_list('Demos',
					Proc.new { controller.portal.demo.find(:published, :content_type => 'Demo', :order => 'demos.created_on desc', :limit => 5) },
					{:faction_favicon => true, :grid => 4, :glast => true}) do |o| %>
<%=content_category(o)%><a href="<%=gmurl(o)%>"><%=o.title%></a><br />
<div style="float: right;" class="downloads-count"><%=o.downloaded_times%></div><div class="infoinline"><% if o.event_id then %><a href="<%=gmurl(o.event)%>"><%=truncate(o.event.title, 24, '..')%></a><% else %>&nbsp;<% end -%></div>
<% end -%>
<% end -%>



<div class="clearb"></div>

<% cache("/#{controller.portal_code}/home/index/articles2") do %>
<%mftext('Artículos', :has_submodules => true, :grid => 12, :glast => true) do
	revs = controller.portal.review.count > 0
	classes = %w(Column Interview Tutorial Review)
	if revs
		classes = classes - ['Review']
		grid_size = 4
		thumb_width = '198'
	else
		grid_size = 3
		thumb_width = '143'
	end

%>
<% classes.each do |it| %>
<% dafirst = true
mfcontents_list(Cms::translate_content_name(it),
					Proc.new { controller.portal.send(it.downcase).find(:published, :content_type => it, :order => 'created_on desc', :limit => 3) },
					{:truncate_at => 28, :grid => grid_size, :glast => (it == classes.last)}) do |o| %>

<%=content_category(o)%><a href="<%=gmurl(o)%>"><%=o.title%></a>
<% if dafirst && o.home_image then %><div style="margin: 5px 0 10px 0;"><a href="<%=gmurl(o)%>"><%=fc_thumbnail(o.home_image, 'i', "#{thumb_width}x54", false)%></a></div><% end -%>
<%	dafirst = false
	end -%>
<% end -%>
<% end -%>
<% end -%>


<div class="clearb"></div>


<%mftext('Descargas', :has_submodules => true, :grid => 8) do
cache("/#{controller.portal_code}/home/index/downloads2") do
category = controller.portal.categories(Download)[0]
%>
	<div class="grid-4">
	<%=mfcontents_basic('Últimas',
					Proc.new { category.root.download.find(:published, :order => 'created_on DESC', :limit => 12) },
					[],
					:truncate_at => 28, :faction_favicon => true)%>
	</div>

	<div class="grid-4 glast">
	<%=mfcontents_basic('Esenciales',
					Proc.new { category.root.download.find(:published, :content_type => 'Download', :conditions => "essential is true", :order => 'created_on DESC', :limit => 12) },
					[],
					:truncate_at => 28, :faction_favicon => true)%>
	</div>
<% end %><%# cache -%>
<% end -%>

<%=render :partial => '/home/poll' %>
</div>

<div class="grid-3 glast">
<%=render :partial => '/home/faction_stats' %>

<%mftext('Destacados') do %>
<%= render :partial => '/home/outstanding_entity', :locals => { :outstanding_entity_cls => OutstandingUser } %>
<%= render :partial => '/home/outstanding_entity', :locals => { :outstanding_entity_cls => OutstandingClan } %>
<% end -%>

<%=render :partial => '/home/questions' %>

<%mftext('Imagen del día') do %>
<% d = Date.today
cache("/#{controller.portal_code}/home/index/potd20085_#{d.strftime('%Y%m%d')}") do

@daily_img = Potd.current_portal(controller.portal)
@daily_img = @daily_img.image if @daily_img

if @daily_img then %>
   	<%=render :partial => '/imagenes/image_thumbnail', :locals => {:image => @daily_img, :size => Cms::IMG_SIZE_GRID3}%>
    <div class="more"><a href="/imagenes/potds">Ver anteriores..</a></div>
<% end -%>
<% end -%>
<% end -%>

<%=render :partial => '/home/eventos2' %>
</div>
