<%=render :partial => '/home/mode_selector'%>

<%content_main do %>
    <% content_ids = []
        stream_main_contents.each do |content|
          content_ids.append(content.id)
        %>
      <%= render :partial => "/contents/headline_generic",
                 :locals => { :content => content } %>
    <% end -%>
    <script type="text/javascript">contents = contents.concat(<%=content_ids.join(",")%>);</script>
<% end -%>

<%generic_support do%>
  <%=render :partial => "bets"%>

  <%mflist("Imágenes", Content.content_type_name("Image").published.recent.of_interest_to(@user).find(:all, :order => "created_on")) do |image| %>
    <%=link_to content_image(image.file), gmurl(image)%>
  <% end -%>

  <%=render :partial => "polls"%>

  <%mflist("Eventos", Content.content_type_name("Event").published.recent.of_interest_to(@user).find(:all, :order => "created_on")) do |event| %>
    <%=link_to event.title, gmurl(event)%>
    <img src="<%=event.main_image%>" />
  <% end -%>

  <%mflist("Descargas", Content.content_type_name("Download").published.recent.of_interest_to(@user).find(:all, :order => "created_on")) do |download| %>
  <div class="content-headline">
    <div class="float-right w100"><%=content_thumbnail_image(download)%></div>
    <%=gm_icon("download")%> <%=link_to download.title, gmurl(download)%>
    <div class="secondary f_milli"><%=content_tags(download)%></div>
  </div>
  <% end -%>

  <%=render :partial => "curiosidades"%>

  <%mflist("Demos", Content.content_type_name("Demo").published.recent.of_interest_to(@user).find(:all, :order => "created_on")) do |demo| %>
    <%=link_to demo.title, gmurl(demo)%>
  <% end -%>

  <%mflist("RecruitmentAd", Content.content_type_name("RecruitmentAd").published.recent.of_interest_to(@user).find(:all, :order => "created_on")) do |ad| %>
    <%=link_to ad.title, gmurl(ad)%>
  <% end -%>

	<%=render :partial => 'daily_joy' %>
  <%=render :partial => "network_updates" if user_is_authed%>
  <%=render :partial => "clan_movements"%>
  <%=render :partial => "birthdays"%>
  <%=render :partial => "last_profile_signatures"%>
<% end -%>
