<% content_main do %>
<% mftext('Nuevo evento') do %>

<%= form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= render :partial => '/shared/new_content_tags' %>
  <br />
  <%= submit_tag 'Crear', :class => 'button' %>
</form>

<br />
<%= link_to 'Volver', :action => 'list' %>
<% end -%>
<% end -%>

<% generic_support do %>
<% end -%>

