<% generic_support do %>
<%= render :partial => '/shared/drafts', :locals => { :cls => Event } if user_is_authed %>
<%= render :partial => 'shared/pending', :object => Event.pending %>
<% end -%>

<% content_main do %>
<% mftext('Nuevo evento') do %>

<%= form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= render :partial => '/shared/new_content_tags' %>
  <br />
  <%= submit_tag 'Crear' %>
</form>

<br />
<%= link_to 'Volver', :action => 'list' %>
<% end -%>
<% end -%>
