<script type="text/javascript">
function create_member_link(tag_id, login) {
  var member_tag = $('#' + tag_id);
  if (member_tag) {
  	member_tag.show();
  } else {
  	var u = document.getElementById('userslist');
  	var li = u.appendChild(document.createElement('li'));
  	li.id = tag_id;
  	var a = li.appendChild(document.createElement('a'));
  	a.href = '/miembros/' + login;
  	a.appendChild(document.createTextNode(login));
  }
}
</script>
<% content_main do %>
<% mfcontent(@event) do %>
<table>
    <tr>
        <td style="width: 100px;">Página web:</td>
        <td><% if @event.website.to_s != '' then %><strong><a href="<%=@event.website%>"><%=@event.website%></a></strong><% end -%></td>
    </tr>
        <td>Comienza</td>
        <td><strong><%=print_tstamp(@event.starts_on)%></strong></td>
    </tr>
        <td>Termina</td>
        <td><strong><%=print_tstamp(@event.ends_on)%></strong></td>
    </tr>
</table>
<p><%=@event.description%></p>
<% end -%>
<% end -%>

<% content_support(:content => @event) do %>
<% if @event.is_public? then %>
<% if @event.respond_to?(:coverages) then %>
<% mftext('Noticias relacionadas') do %>
<%# TODO cache this %>
<%=generic_contents_list(@event.coverages.published.find(:all, :order => 'created_on DESC'))%>
<% end -%>
<% end -%>
<br />

<% end -%>
  <% users = @event.users %>
  <% if user_is_authed then %>
  <% mftext('¿Estarás en este evento?') do %>
  <div class="centered-link">
    <div id="leave-link">
      <%=link_to("No", "/eventos/member_leave/#{@event.id}", :remote => true)%>
    </div>
    <div id="join-link">
      <%=link_to("Sí", "/eventos/member_join/#{@event.id}", :remote => true)%>
    </div>
  </div>
  <% end -%>
    <script type="text/javascript">
    <% if users.find_by_id(@user.id) %>
    $('#leave-link').show(); $('#join-link').hide();
    <% else %>
    $('#join-link').show(); $('#leave-link').hide();
    <% end -%>
    </script>
  <% end -%>

  <% mftext('Estarán en este evento') do %>
  <ul class="skeletal" id="userslist">
  <% for u in users %>
    <li id="user<%=u.id%>"><a href="<%=gmurl(u)%>"><%=u.login%></a></li>
  <% end -%>
</ul>
<% end -%>


<% end -%>

