<%# -*- encoding : utf-8 -*- %>
<div class="decision-comments">
<%cache("/common/decision_comments/#{decision.id % 1000}/#{decision.id}/decision_comments_#{decision.updated_on.to_i}") do %>
  <% i = 1 %>
  <%decision.decision_comments.find(:all, :order => 'id').each do |decision_comment| %>
    <div class="decision-comment">
    <div class="decision-comment-header">
      <span class="decision-comment-position">#<%=i%></span>
      <div style="float: right;" class="infoinline timestamp">
        <%=print_tstamp(decision_comment.created_on)%>
      </div>
      <%=avatar_img(decision_comment.user, :very_small)%>
      <%=user_link(decision_comment.user)%>
    </div>
    <div class="decision-comment-content">
      <%=Formatting.format_bbcode(decision_comment.comment)%>
    </div>
    </div>
    <% i += 1 %>
  <% end -%>
<% end -%>
  <div class="new-comment">
<% if @decision.state == Decision::PENDING %>
    <% if user_is_authed && Authorization.can_comment_on_decision?(@user, decision) %>
      <form method="post" action="<%=decision_decision_comments_url(decision)%>"
        data-remote="true" data-remote-on-success-update=".decision-comments">
      <textarea style="width: 35rem;" name="comment"></textarea>
      <br />
      <input type="submit" class="button" value="Comentar sobre la decisión" />
    </form>
  <% end -%>
  <% end -%>
  </div>
</div>
<%=js_trigger_content_init%>
