<% content_main do %>
<% mftext('Módulos disponibles') do %>
<script type="text/javascript">
function moveup(side) {
	sel = document.getElementById('modules-'+side);
	if (sel.selectedIndex < 1)
		return;
	
	var opt = sel.options[sel.selectedIndex];
	var optparent =  sel.options[sel.selectedIndex -1];
	
	var temp = new Option(sel.options[sel.selectedIndex].text, sel.options[sel.selectedIndex].value);
    var temp2 = new Option(sel.options[sel.selectedIndex-1].text, sel.options[sel.selectedIndex-1].value);
		
	sel.options[opt.index-1] = temp;
    sel.options[opt.index-1].selected = true;
    sel.options[opt.index] = temp2;
}

function movedown(side){
	sel = document.getElementById('modules-' + side);
	if (sel.selectedIndex == sel.length - 1) 
		return;
	
	var opt = sel.options[sel.selectedIndex];
	var optparent =  sel.options[sel.selectedIndex +1];
	
	var temp = new Option(sel.options[sel.selectedIndex].text, sel.options[sel.selectedIndex].value);
    var temp2 = new Option(sel.options[sel.selectedIndex+1].text, sel.options[sel.selectedIndex+1].value);
		
	sel.options[opt.index+1] = temp;
    sel.options[opt.index+1].selected = true;
    sel.options[opt.index] = temp2;
}

function changeselect(orig, dst) {
	var oOrig = document.getElementById('modules-'+orig);
	var oDst = document.getElementById('modules-'+dst);
	var opt = oOrig.options[oOrig.selectedIndex];
	oDst.options[oDst.length] = new Option(opt.text, opt.value);
	oOrig.options[oOrig.selectedIndex] = null; 
}

function changeallselect(orig, dst) {
	var oOrig = document.getElementById('modules-'+orig);
	var oDst = document.getElementById('modules-'+dst);
	while (oOrig.length > 0) {
		oOrig.selectedIndex = 0;
		changeselect(orig, dst);
	} 
	
}

function save_select_contents() {
	// left bar
	var dleft = document.getElementById('modules-left');
	for (var i = 0; i < dleft.length; i ++) {
		var newInput = document.createElement('INPUT');
		newInput.type = 'hidden';
		newInput.name = 'skin[intelliskin][modules_left][]';
		newInput.value = dleft.options[i].value;
		document.getElementById('daform').appendChild(newInput);
	}
	
	dleft = document.getElementById('modules-right');
	for (var i = 0; i < dleft.length; i ++) {
		var newInput = document.createElement('INPUT');
		newInput.type = 'hidden';
		newInput.name = 'skin[intelliskin][modules_right][]';
		newInput.value = dleft.options[i].value;
		document.getElementById('daform').appendChild(newInput);
	}
}
</script>

<form id="daform" method="post" action="/cuenta/skins/do_modulos">
	<input type="hidden" name="id" value="<%=params[:id]%>" />
	<table>
		<tr style="vertical-align: top;">
			<td style="width: 33%;">Columna izquierda<br />
			<select id="modules-left" size="15" style="width: 100%;">
			<%@skin.config[:intelliskin][:modules_left].each do |mod| %>
				<option value="<%=mod%>"><%=mod%></option>
			<% end -%>
			</select>
			<input type="button" class="button" value="Subir" onclick="moveup('left');" /> <input type="button" class="button" value="Bajar" onclick="movedown('left');" /> <input type="button" class="button" value="-&gt;" onclick="changeselect('left', 'center');" /> <input type="button" class="button" value="-&gt;&gt;" onclick="changeallselect('left', 'center');" /><br />
			</td>
			<td style="width: 33%;">Módulos no usados<br />
			<select id="modules-center" size="15" style="width: 100%;">
			<%(Skins::Clans.available_modules - @skin.config[:intelliskin][:modules_left].to_a - @skin.config[:intelliskin][:modules_right].to_a).each do |mod| %>
				<option value="<%=mod%>"><%=mod%></option>
			<% end -%>
			</select><br />
			<input type="button" class="button" value="&lt;&lt;-" onclick="changeallselect('center', 'left');" /> <input type="button" class="button" value="&lt;-" onclick="changeselect('center', 'left');" /> <input type="button" class="button" value="-&gt;" onclick="changeselect('center', 'right');" /> <input type="button" class="button" value="-&gt;&gt;" onclick="changeallselect('center', 'right');" />
			</td>
			<td style="width: 33%;">Columna derecha<br />
			<select id="modules-right" size="15" style="width: 100%;">
			<%@skin.config[:intelliskin][:modules_right].each do |mod| %>
				<option value="<%=mod%>"><%=mod%></option>
			<% end -%>
			</select>
<input type="button" class="button" value="&lt;&lt;-" onclick="changeallselect('right', 'center');" /> <input type="button" class="button" value="&lt;-" onclick="changeselect('right', 'center');" /> <input type="button" class="button" value="Subir" onclick="moveup('right');" /> <input type="button" class="button" value="Bajar" onclick="movedown('right');" /><br />
</td>
		</tr>
		
	</table>
</ul>

<input type="submit" class="button" onclick="save_select_contents();" value="Guardar" />
</form>
<% end %>
<% end %>