<script type="text/javascript" src="/images/colorpicker/colorpicker.js"></script>
<% mftext('Texturas creadas') do %>
<% Skins::TexturesGenerators.texturable_things.each do |thing| %>
Elemento: <%=thing%>
<table>
<% @skin.skin_textures.find(:all, :conditions => "element = '''#{thing}'''", :order => 'texture_skin_position', :include => :texture).each do |sk| %>
<tr class="<%=oddclass%>">
	<td><a href="/cuenta/skins/skin_textura/<%=sk.id%>"><%=sk.texture.screenshot%></a></td>
	<td><a onclick="return confirm('¿Estás seguro?');" href="/cuenta/skins/borrar_skin_textura/<%=sk.id%>">Borrar</a></td>
</tr>
<% end %>
</table>
<% end %>
<% end %>

<% mftext('Crear nueva textura') do %>
<select id="big-element-selector" onchange="update_available_textures(this.value);">
	<option value=""></option>
<% Skins::TexturesGenerators.texturable_things.each do |thing| %>
<option value="<%=thing%>"><%=thing%></option>
<% end %>
</select>
<% end %>

<div id="listaaaaaaa">
	
</div>


<div id="configgg">
	
</div>
<script type="text/javascript">
function update_available_textures(v) {
	$j.get('/cuenta/skins/texturas_por_tipo?id='+v, function(data) { $j('listaaaaaaa').html(data)});
}

function show_new_texture_config_window(v) {
	$j.get('/cuenta/skins/config_textura/'+v, function(data) {
		$j('configgg').html(data);
		$j('#new-texture-skin-id').val(<%=params[:id]%>);
	});
}
</script>
