<% content_main do %>
<% @alerts = Alert.paginate(:conditions => 'reviewer_user_id is NOT NULL', :order => 'alerts.id desc', :include => [:reviewer, :reporter], :page => params[:page], :per_page => 50) %>
<%= render :partial => 'shared/pager2', :locals => {:collection => @alerts, 'pos' => 'top'} %>
<table>
	<tr class="<%=oddclass%>">
		<th style="width: 16px;"></th>
		<th class="w50 centered infoinline"></th>
		<th>Suceso</th>
		<th>Reportero</th>
		<th>Ejecutor</th>	
</tr>
<% @alerts.each do |sle| %>
<tr class="<%=oddclass%>">
	<td style="width: 16px;"><img class="sprite1 alert-type<%=sle.type_id%>" src="/images/blank.gif" /></td>
	<td class="w50 centered infoinline"><%=print_tstamp(sle.created_on, 'intelligent')%></td>
	<td><%=sle.headline%></td>
	<td class="infoinline"><%=user_link(sle.reporter)%></td>
	<td class="infoinline"><%=user_link(sle.reviewer)%></td>
</tr>
<% end -%>
</table>
<%= render :partial => 'shared/pager2', :locals => {:collection => @alerts, 'pos' => 'bottom'} %>
<% end -%>