<% content_main do %>
<% mftext('Curiosidades') do %>
<%
@funthings = Funthing.published.paginate_in_reverse(:page => params[:page], :per_page => 20, :order => 'created_on')
%>
<%= render :partial => 'shared/pager2', :locals => {:collection => @funthings, :pos => 'top'} %>
<table>
<% cache("/common/curiosidades/index/page_#{params[:page]}") do %>
<%
for funthing in @funthings.reverse %>
<tr class="<%=oddclass%>">
  <td><strong><%=link_to funthing.title, gmurl(funthing) %></strong><br /><span class="infoinline"><%=truncate(strip_tags(funthing.description), 150)%></span></td>
  <td><%=draw_rating(funthing.rating)%></td>
  <td class="w50"><span class="f_milli" title="Leído <%=funthing.hits_anonymous + funthing.hits_registered%> veces"><%=gm_icon("pageviews", "small")%><%=funthing.hits_anonymous + funthing.hits_registered%></span> </td>
  <td class="w50"><span class="f_milli"><%=gm_icon("comment", "small")%> <a title="Ver comentarios" href="<%=controller.url_for_content_onlyurl(funthing)%>#comments"><%=funthing.cache_comments_count%></a></span></td>
  <td class="timestamp infoinline"><%=print_tstamp(funthing.created_on)%></td>
</tr>
<% end %>
<% end %>
</table>

<%= render :partial => 'shared/pager2', :locals => {:collection => @funthings, :pos => 'bottom'} %>
<% end -%>
<% end -%>

<% generic_support do %>
  <%= render :partial => 'shared/best_rated', :locals => { :cls => Funthing } %>
<% end -%>


