<div class="content-attribute-name">Juego</div>
<div class="content-attribute-value content-title"><%=game[:name]%></div>

<div class="content-attribute-name">Código</div>
<div class="content-attribute-value content-title"><%=game[:code]%></div>

<div class="content-attribute-name">¿Tiene GUID?</div>
<div class="content-attribute-value content-title"><%=bool_to_str(game[:has_guids])%></div>

<div class="content-attribute-name">Formato GUID</div>
<div class="content-attribute-value content-title"><%=game[:guid_format]%></div>

<div class="content-attribute-name">¿Tiene mapas?</div>
<div class="content-attribute-value content-title"><%=bool_to_str(game[:has_game_maps])%></div>

<div class="content-attribute-name">¿Tiene competiciones?</div>
<div class="content-attribute-value content-title"><%=bool_to_str(game[:has_competitions])%></div>

<div class="content-attribute-name">¿Tiene demos?</div>
<div class="content-attribute-value content-title"><%=bool_to_str(game[:has_demos])%></div>
