<% content_main do %>
<% mftext(@title) do %>
<%
if params[:category]
  cache_path = "/common/tutoriales/index/folders_#{@category.id}"
else
  cache_path = "/#{controller.portal_code}/tutoriales/index/folders"
end

cache(cache_path) do
if params[:category] then
  @categories = @category.children.find(:all, :conditions => 'taxonomy = \'TutorialsCategory\'')
else
  @categories = controller.portal.tutorials_categories[0].children.find(:all, :conditions => 'taxonomy = \'TutorialsCategory\'')
end %>
<ul class="skeletal">
<% for category in @categories %>
<li class="<%=oddclass%>"><strong><%=link_to category.name, gmurl(category, :taxonomy => 'TutorialsCategory')%></strong> (<%=category.contents_count(:cls_name => 'Tutorial')%>)
  <div class="infoinline"><%=category.description%></div><br />
  <% subcategories = category.children.find(:all, :conditions => 'taxonomy = \'TutorialsCategory\'', :order => 'lower(name)')
  if subcategories.size > 0 then %>
    Subcategorías: <ul class="tutorialscategories">
      <% for subcategory in subcategories %>
    <li><%=link_to subcategory.name, gmurl(subcategory)%> (<%=subcategory.contents_count(:cls_name => 'Tutorial')%>)</li>
    <% end -%>
  </ul><% end -%></li>
<% end -%>
</ul>
<% end -%>
<% end -%>

<% if @category then %>


<%
tutorials = Tutorial.in_term(@category).published.paginate(
  :page => params[:page], :per_page => 30, :order => 'LOWER(title)')

if tutorials.size > 0 then %>
<%mftext('Tutoriales en esta categoría') do %>
<%= render :partial => 'shared/pager2',
           :locals => {:collection => tutorials, :pos => 'top'} %>
<% cache("/common/tutoriales/index/tutorials_#{@category.id}/page_#{params[:page]}") do %>
<% tutorials.each do |tutorial| %>
<div class="<%=oddclass%>">
      <h2 class="f_hecto"><%= link_to tutorial.title, gmurl(tutorial) %></h2>
      <%=draw_contentheadline(tutorial)%>
      <% if tutorial.home_image then %>
      <div style="float: left;  margin-top: 5px;margin-right: 10px;">
      <%=fc_thumbnail(tutorial.home_image, 'f', Cms::IMG_ARTICLE_THUMB, false)%>
      </div>
      <% end -%>
    <div style="margin-left: 110px;" class="summary"><%=tutorial.description%></div>
</div>
<% end -%>
<% end -%>
<% end %><%# cache -%>

<%= render :partial => 'shared/pager2',
           :locals => {:collection => tutorials, :pos => 'bottom'} %>
<% end -%>
<% end -%>
<% end -%>

<% generic_support do %>
<%=render :partial => 'other_categories', :locals => {:category => @category} %>

<% if not @category.nil? then %>
<% cache("/common/tutoriales/index/best_rated#{Time.now.strftime('%Y%m%d')}/#{@category.id}") do %>
<% mftext('Mejor valoradas') do %>
<ul class="sidelist">
  <% @category.most_rated_items(:content_type => 'Tutorial').each do |c| %>
    <li style="padding-left: 3px;" class="<%=oddclass%>"><%=url_for_content(c, c.title)%><div class="infoinline"><%=draw_rating(c.rating)%> <span class="f_milli"><%=gm_icon("comment", "small")%> <a style="display: inline;" href="<%=gmurl(c)%>#comments"><%=c.cache_comments_count%></a></div></li>
  <% end -%>
</ul>
<% end -%>
<% end %><%# cache
-%>

<% mftext('Más populares') do %>
<% cache("/common/tutoriales/index/most_popular/#{@category.id}_#{Time.now.to_i/(86400)}") do %>
<ul class="sidelist">
  <% @category.most_popular_items(:content_type => 'Tutorial').each do |c| %>
  <li style="padding-left: 3px;" class="<%=oddclass%>"><%=url_for_content(c, c.title)%><div class="infoinline"><%=draw_rating(c.rating)%> <span class="f_milli"><%=gm_icon("comment", "small")%> <a style="display: inline;" href="<%=gmurl(c)%>#comments"><%=c.cache_comments_count%></a></div></li>
  <% end -%>
</ul>
<% end -%>
<% end -%>
<% end %><%# cache
-%>


<%
if @category then
cache("/common/tutoriales/_latest_by_cat/#{@category.id}") do %>
<% mftext('Más recientes') do %>
<ul class="sidelist">
	<% Tutorial.published.in_term(@category).find(:all, :order => 'created_on DESC', :limit => 5).each do |c| %>
  <li style="padding-left: 3px;" class="<%=oddclass%>"><%=url_for_content(c, c.title)%><div class="infoinline"><%=draw_rating(c.rating)%> <span class="f_milli"><%=gm_icon("comment", "small")%> <a style="display: inline;" href="<%=gmurl(c)%>#comments"><%=c.cache_comments_count%></a></div></li>
  <% end -%>
</ul>
<% end -%>
<% end %><%# cache
-%>


<% cache("/common/tutoriales/_most_productive_author_by_cat/#{@category.id}") do %>
<% mftext('Autores más productivos') do %>
<%=render :partial => '/shared/most_productive_authors', :locals => { :cls => Tutorial, :category => @category, :taxonomy => 'TutorialsCategory'}%>
<% end -%>
<% end -%>
<% end %><%# if
%>
<% end -%>

