<%=render :partial => '/shared/edit_content_taxonomy', :locals => { :acts_as_content => @bet } %>

<p><label for="bet_title">Nombre de la partida (ejemplo: "EUROCUP UTCTF: oG vs P")</label><br/>
<%= text_field 'bet', 'title'  %></p>

<p><label for="bet_title">Información adicional, url del torneo/liga</label><br/>
<%=wysiwyg('bet[description]', :value => @bet.description, :height => '200px')%>
</p>

<% if @bet.winning_bets_option_id then %>
<div class="warning">La apuesta ha sido completada, imposible cambiar la fecha de término.</div>
<% else %>
<p><label for="bet_closes_on">Fecha y hora a la que se juega la partida</label><br/>
<%= datetime_select 'bet', 'closes_on'  %></p>

<strong>Equipos/jugadores</strong><br />
<% @bet.bets_options.each do |option| %>
<input type="text" class="text" name="bet[options][<%=option.id.to_s%>]" value="<%=option.name%>" /> &nbsp; <label><input type="checkbox" name="bet[options_delete][]" value="<%=option.id.to_s%>" /> Borrar</label><br />
<% end %>

<%# if @bet.new_record? then %>
<span id="newoptions">
  <input type="text" class="text" name="bet[options_new][]" value="" /><br /><br />
  <input type="text" class="text" name="bet[options_new][]" value="" />
</span>
<%# end -%>

<br />
<br />
<% end -%>

<%=draft_check_box(@bet)%>
