<% if bets.size > 0 %>
  <%mftext("Apuestas abiertas") do%>
    <% bets.each do |bet|
        opts = bet.bets_options.find(:all, :order => 'lower(name) asc') %>
        <div class="content-snippet">
          <div class="content-title centered">
          <a href="<%=gmurl(bet)%>"><%=bet.title%> - <%=opts[0].name%> vs <%=opts[1].name%></a>
        </div>
        <div class="centered" style="margin-top: 1rem;">
          <strong><%=bet.total_ammount%></strong> <%=gmd11%> en juego
        </div>
        <div class="infoinline timestamp centered">Finaliza el <strong><%=print_tstamp(bet.closes_on)%></strong></div>
      <table>
        <tr>
          <td class="w50pc centered"><strong><%=opts[0].name%></strong></td>
          <td class="w50pc centered"><strong><%=opts[1].name%></strong></td>
        </tr>
      </table>
      </div>
    <% end -%>
  <% end -%>
<% end -%>
