<% content_main do %>
  <%mftext('Apuestas en curso') do %>
  <table>
  <tr>
    <th>Apuesta</th>
    <th class="right w100"> <%=gm_icon("gmf", "small")%> apostados</th>
    <th class="right timestamp" style="width: 150px;">Termina en</th>
  </tr>
  <% Bet.published.find(
      :all,
      :conditions => Bet::OPEN_BETS_SQL,
      :order => 'closes_on ASC, id ASC').each do |bet| %>
  <tr class="<%=oddclass%>">
    <td><%=faction_favicon(bet.main_category)%> <%=link_to bet.title, gmurl(bet) %></td>
    <td class="right"><%=bet.total_ammount.to_i%></td>
    <td class="right infoinline"><%=format_interval(bet.closes_on.to_i - Time.now.to_i)%></td>
  </tr>
  <% end -%>
</table>
<% end -%>

  <%mftext('Apuestas pendientes de confirmar resultado') do %>
  <table>
  <tr>
    <th>Apuesta</th>
    <th style="width: 125px;"> <%=gm_icon("gmf", "small")%> apostados</th>
  </tr>
  <% Bet.published.find(
      :all,
      :conditions => Bet::AWAITING_RESULT_SQL,
      :order => 'closes_on DESC, id DESC').each do |bet| %>
  <tr class="<%=oddclass%>">
    <td><%=faction_favicon(bet.main_category)%> <%=link_to bet.title, gmurl(bet) %></td>
    <td class="right"><%=bet.total_ammount%></td>
  </tr>
  <% end -%>
</table>
<% end -%>

  <%mftext('Últimas apuestas cerradas') do %>
  <table>
  <tr>
    <th>Apuesta</th>
    <th style="width: 125px;"> <%=gm_icon("gmf", "small")%> apostados</th>
    <th class="timestamp">Terminó hace</th>
  </tr>
  <% cache("/apuestas/index/closed_#{Time.now.to_i/3600}") do %>
  <% Bet.closed_bets.published.find(
      :all, :limit => 20).each do |bet| %>
    <tr class="<%=oddclass%>">
      <td><%=faction_favicon(bet.main_category)%> <%=link_to bet.title, gmurl(bet) %></td>
      <td class="right"><%=bet.total_ammount.to_i%></td>
      <td class="infoinline"><%=format_interval(Time.now.to_i - bet.closes_on.to_i, 'horas')%></td>
    </tr>
    <% end -%>
  <% end -%>
</table>
<% end -%>
<% end -%>

<% generic_support do %>

<%= render :partial => "/apuestas/top_accuracy" %>

<% cache_file = Bet::TOP_BET_WINNERS
if File.exists?(cache_file) then %>
<% cache("common/apuestas/los_que_mas_ganan_#{1.hour.ago.strftime('%Y-%m-%d')}") do %>
<% mftext("Los que más ganan") do %>
 <table class="compact">
<%
data = YAML::load(File.open(cache_file).read)
if data != false then %><%# no sé pq a veces se queda a 0, deberíamos guardarlo en bd para evitar problemas%>
<%
data.keys.sort.each do |k|
v = data[k]
u = User.find(k.split('_')[1].to_i) # el indice 0 es para poder ordenar el dict
stop_deleting = false
trimmed = Array.new(v[:individual].reverse).delete_if { |c| stop_deleting = true if c != 0 && !stop_deleting; !stop_deleting }
sum = 0
won = 0
lost = 0
v[:individual].each do |s|
  sum += s
  if s < 0
	  lost += -s
  else
	  won += s
  end
  won += -data[k][:sum] - (won - lost)
end
%>

<tr class="<%=oddclass%>">
	<td style="padding: 0 0 0 2px;"><strong><%=member_state(u.hstate)%> <a href="<%=gmurl(u)%>"><%=u.login%></a></strong></td>
	<td style="padding: 2px 0 2px 0; text-align: right;">
	<img title="<%=-data[k][:sum]%> gmf en el último mes (se muestran últimas 30 apuestas)" src="<%=ASSET_URL%>/storage/minicolumns/bets_top_last30/<%=u.id%>.png?<%=Time.now.strftime('%Y-%m-%d')%>" style="margin-right: 2px; " />
	</td>
	<td style="margin-right: 2px;"><div class="infoinline f_micro" style="font-weight: bold; float: right; text-align: right;">
	<span class="supermini good"><%=won%></span><br />
	<span class="supermini bad"><%=lost%></span></div></td>

</tr>
<% end -%>
</table>
<% end %><%# if data -%>
<% end %><%# mftext -%>
<% end %><%# cache -%>
<% end %><%# if File.exists -%>

<% cache("/common/apuestas/index/stats_laterales_#{Time.now.to_i/86400}") do %>
  <%mftext("#{gm_icon("gmf", "small")} movidos en la última semana") do %>
  <table>
  <% for dbentry in dbinfo = User.db_query("SELECT sum(total_ammount), date_trunc('day', closes_on) FROM bets WHERE closes_on < now() and state = #{Cms::PUBLISHED} group by date_trunc('day', closes_on) order by date_trunc('day', closes_on) DESC LIMIT 7;") %>
  <tr class="<%=oddclass%>">
    <td style="width: 90px;"><%=dbentry['date_trunc']%></td>
    <td class="timestamp"><%=dbentry['sum'].to_i%> <%=gm_icon("gmf", "small")%></td>
  </tr>
  <% end -%>
  </table>

  <% end -%>
  <% end %><%# cache -%>
<% end -%>
