<% content_main do %>
<%mfcontent(@bet) do %>

<%=@bet.description%>
<br />
<%
if @bet.completed?
   if @bet.cancelled then %>
   <div class="bad-block">Partida cancelada</div>
 <% elsif @bet.forfeit then %>
   <div class="bad-block">Forfeit</div>
 <% elsif @bet.tie then %>
   <div class="bad-block">Empate</div>
 <% else %>
   <div class="good-block">Ganador: <strong><%=BetsOption.find(@bet.winning_bets_option_id).name%></strong></div>
 <% end -%>
<% end %>
<%mftext('Estado') do %>
<br />
<table class="betvotes">
<%
total_ammount = @bet.total_ammount

opts = @bet.bets_options.find(:all, :order => 'lower(name) asc')
sum_pc = 0
i = 0
opts.each do |option|
  if total_ammount > 0 then
    cur_pc = option.ammount.to_f / total_ammount
  else
    cur_pc = 0.0
  end
  sum_pc += cur_pc

  if i == opts.length - 1 && sum_pc < 1.0 && option.ammount.to_i > 0
    cur_pc = sum_pc - 1.0
  end
%>
<tr class="<%=oddclass%>">
  <td style="width: 200px;" class="content-hid"><strong><%= option.name %></strong></td>
  <td>
    <%=draw_pcent_bar(cur_pc)%>
    <br />
    <strong><%=option.ammount%></strong> <%=gm_icon("gmf", "small")%>
    <span class="infoinline">(<%=(cur_pc * 100).to_i%>%)</span>
  </td>
</tr>
<%
  i += 1
end
%>
</table>
<% end -%>

<% if user_is_authed && @bet.closes_on > Time.now then %>
<%mftext('Tus apuestas para esta partida') do %>
<div class="infoinline">(mínimo por opción: 5 <%=gm_icon("gmf", "small")%>)</div>
<form method="post" action="/apuestas/update_cash_for_bet/<%=@bet.id%>">
<table class="betvotes">
<%
total_ammount = @bet.total_ammount

for option in @bet.bets_options.find(:all, :order => 'lower(name) asc')
  cash_option = User.db_query("SELECT COALESCE(sum(ammount), 0) as ammount from bets_tickets where bets_option_id = #{option.id} and user_id = #{@user.id}")[0]['ammount'].to_f
  if total_ammount > 0 then
    cur_pc = (option.ammount.to_f / total_ammount * 100).to_i
  else
    cur_pc = 0
  end
%>
<tr class="<%=oddclass%>">
<td style="width: 200px;" class="content-hid"><strong><%= option.name %></strong></td>
<td><input type="text" class="text" name="bet_options[<%=option.id%>]" value="<%=cash_option%>" /> <%=gm_icon("gmf", "small")%> </span></td>
</tr>
<% end %>
</table>
<input type="submit" class="button confirm-click" value="Guardar mi nueva apuesta" />
</form>
<% end -%>
<% end %>
<% end -%>
<% end -%>

<% content_support(:content => @bet.unique_content) do %>
<% if @bet.is_public? then %>
  <% if @bet.can_be_reopened? && user_is_authed && Authorization.can_edit_content?(@user, @bet) then %>
    <%mftext('Cambiar Resultado') do %>
      <div class="centered"><a href="/apuestas/cambiar_resultado/<%=@bet.id%>"
          class="confirm-click">Cambiar resultado</a></div>
  <% end %>
  <% if user_is_authed && Authorization.can_edit_content?(@user, @bet) &&
    @bet.can_be_resolved? then %>
    <%mftext('Resolver Apuesta') do %>
      <div class="centered"><a href="/apuestas/resolve/<%=@bet.id%>"
          class="confirm-click">Resolver apuesta</a></div>
  <% end %>
<% end -%>

<%=bet_open_message(@bet)%>


<%# TODO esto está mal , revisar todas, no podemos poner and id <> ? %>
<% cache("/common/apuestas/show/latest_by_cat_#{@bet.main_category.id}") do %>
<% other_bets = Bet.in_term(@bet.main_category).published.find(
    :all, :order => 'created_on desc', :limit => 5)
if other_bets.size > 0 then %>
<%mfcontents_list('Más apuestas',
                   other_bets,
                   :faction_favicon => true) do |item| %>
                     <%=content_category(item)%><%=url_for_content(item, item.title)%><div class="infoinline"><%=draw_rating(item.rating)%> <span class="f_milli"><%=gm_icon("comment", "small")%> <a style="display: inline;" href="<%=gmurl(item)%>#comments"><%=item.cache_comments_count%></a></span></div>
<% end -%>

<% end -%>
<% end %><%# cache-%>
<% end -%>
<% end -%>
<% end %>
