<% content_main do %>
<% cache("/common/tags/index/#{Time.now.strftime('%Y%m%d')}") do %>
<%mftext('Tags') do%>
<% chunks = Term.with_taxonomy('ContentsTag').find(:all, :conditions => 'contents_count >= 5', :order => 'name').chunk(3) %>
<% chunks.each do |chunk| %>
<div style="width: 31%; float: left; margin-right: 10px;">
	<table>
	<%chunk.each do |tag| %>
	<tr class="<%=oddclass%>">
		<td><a href="<%=gmurl(tag)%>"><%=truncate(tag.name, 24, '..')%></a></td>
		<td class="right f_milli infoinline"><%=tag.contents_count%></td>
	</tr>
	<% end -%>
	</table>
</div>
<% end -%>
<% end -%>
<% end -%>
<% end -%>

<%generic_support do %>

  <% if user_is_authed && Authorization.can_create_entities?(@user) %>
    <% mftext("Nuevo tag") do %>
      <a href="<%=new_tag_path%>">Nuevo tag</a>
    <% end -%>
  <% end -%>


<% cache("/common/tags/top_tags_by_activity/#{Time.now.to_i/86400}") do %>
  <% mftable("Los tags más activos", top_tags_by_activity) do |tuple| %>
    <tr>
      <td><a href="<%=tag_url(tuple[1])%>"><%=tuple[1].name%></a></td>
      <td class="infoinline right"><%=tuple[0]%></td>
    </tr>
  <% end -%>
<% end -%>

<% cache("/common/tags/top_tags_by_interest/#{Time.now.to_i/86400}") do %>
  <% mftable("Los tags con más seguidores", top_tags_by_interest) do |tuple| %>
    <tr>
      <td><%=gm_icon("user", "small")%> <%=tuple[0]%></td>
      <td><a href="<%=tag_url(tuple[1])%>"><%=tuple[1].name%></a></td>
    </tr>
  <% end -%>
<% end -%>

<% mftext("Los que más taguean") do %>
<% cache("/common/top_taggers/#{Time.now.strftime('%Y%m%d')}") do %>
<table id="most_active_users">
  <% UsersContentsTag.biggest_taggers.each do |u, data|%>
  <tr class="<%=oddclass%>">
  <td style="padding-left: 3px;><%=member_state(u.hstate)%> <span class="nick"><%=link_to u.login, gmurl(u) %></span></td>
  <td style="padding-left: 3px; width: 100px;" class="infoinline">
        <%="<span class=\"tags-count\" title=\"Tags\"><span>#{data[:count]}</span></span> tags" %>
      <%=draw_pcent_bar(data[:relative_pcent])%>
  </td>
  </tr>
  <% end -%>
</table>
<% end -%>
<script type="text/javascript">Gm.Slnc.marklinks('most_active_users', '_xs=maut');</script>
<% end -%>

<% mftable("Últimos tags", UsersContentsTag.find(:all, :order => 'created_on DESC', :limit => 20, :include => [:user, :term, :content])) do |uct| %>
<td><a href="<%=gmurl(uct.term)%>"><%=uct.original_name%></a> <br /> <div class="f_milli infoinline"><%=faction_favicon(uct.content)%> <%=link_to truncate(uct.content.name, 30, '..'), gmurl(uct.content)%></div></td>
<td class="w75 right f_milli infoinline"><%=print_tstamp(uct.created_on, 'intelligent')%></td>
<% end -%>

<% end -%>

