<%cache("/common/tags/#{@tag.id % 1000}/#{Time.now.strftime("%Y-%W")}/#{@tag.code}") do %>
<%content_main do %>
<div class="tag-page-header f_giga" style="background-image: url('/<%=@tag.header_image%>'); ">
  <div><%=@tag.name%></div>
</div>

<% if user_is_authed && @user.user_interests.interest_tuple("Term", @tag.id).count == 0 %>
  <div class="align-right">
    <div><a class="button" href="/cuenta/cuenta/create_user_interest?entity_type_class=Term&entity_id=<%=@tag.id%>&redirto=<%=tag_url(@tag)%>" title="Añadir a mis intereses"><%=gm_icon("plus", "big")%> Seguir</a></div>
  </div>
<% end -%>

  <%= render :partial => '/apuestas/top_entry.html.erb', :locals => {
    :bets => Bet.in_term(@tag).published.open_bets.find(
        :all, :order => 'closes_on DESC', :limit => 20)
  } %>

<%content_2colx do %>
  <% tagged_contents = @tag.contents.content_type_name("News").published.find(
      :all, :order => 'created_on DESC', :limit => 10) %>
      <%mftable("Últimas noticias", tagged_contents.uniq.collect { |c| c.real_content},
              :no_mcontent_title => true) do |c| %>
        <td class="content-snippet">
          <a class="f_hecto content-title" href="<%=gmurl(c)%>"><%=c.resolve_hid%></a>
          <br />
          <%=strip_tags(c.description)[0..100]%>
          <br />
          <div class="infoinline timestamp">
            <%=print_tstamp(c.created_on, 'intelligent')%>,
            <span class="infoinline f_milli"><%=gm_icon("comment", "small")%><a href="<%=controller.url_for_content_onlyurl(c)%>"><%=c.cache_comments_count%></a></span>
          </div>
      </td>
    <% end -%>
  <% end -%>

  <%content_2colx do %>
    <%mftable("Artículos",
              @tag.contents.published.content_type_names(
                  %w(Review Column Interview Tutorial)).paginate(
                      :per_page => 25,
                      :page => params[:page],
                      :order => 'created_on DESC',
                      :limit => 2),
                  :no_mcontent_title => true) do |c|
      c = c.real_content %>
      <tr class="<%=oddclass%>">
        <td class="content-snippet">
          <a href="<%=gmurl(c)%>"><img src="/cache/thumbnails/k/300x150/<%=c.home_image%>" /></a>
          <br />
          <a class="f_hecto content-title" href="<%=gmurl(c)%>"><%=c.resolve_hid%></a>
          <br />
          <%=strip_tags(c.description)[0..100]%>
          <br />
          <div class="infoinline timestamp">
            <%=print_tstamp(c.created_on, 'intelligent')%>,
            <span class="infoinline f_milli">
              <%=gm_icon("comment", "small")%>
              <a href="<%=controller.url_for_content_onlyurl(c)%>"><%=c.cache_comments_count%></a>
            </span>
          </div>
      </td>
    </tr>
    <% end -%>
  <% end -%>

  <div class="clearb"></div>
  <%content_2colx do %>
    <%=mfcontents_basic("Tópics activos",
          Proc.new { @tag.contents.published.content_type_name("Topic").find(
              :all,
              :order => 'updated_on DESC',
              :limit => 10).collect {|c| c.real_content} },
            [],
            :faction_favicon => true,
            :blast => true)%>
            <br />
  <% end -%>

  <%content_2colx do %>
    <%=mfcontents_basic("Últimas preguntas",
          Proc.new { @tag.contents.published.content_type_name("Question").find(
              :all,
              :order => 'updated_on DESC',
              :limit => 10).collect {|c| c.real_content} },
            [],
            :faction_favicon => true,
            :blast => true)%>
            <br />
  <% end -%>
<% end -%>
<% end -%>

<%generic_support do%>
  <% if user_is_authed && Authorization.can_edit_term?(@user, @tag, "ContentsTag") %>
    <a href="<%=edit_tag_url%>">Editar tag</a>
  <% end -%>

  <%mftext("Última imagen") do%>
  <div class="imagesgallery centered">
  <% image = Image.in_term(@tag).published.find(
       :first, :order => 'created_on DESC')
     if image then %>
    <span class="screenshot">
      <%=link_to fc_thumbnail(image.file, 'i', '153x115', false), gmurl(image)%>
    </span>
  <% end -%>
  </div>
  <% end -%>

  <%mftable("Expertos", Question.top_term_sages(@tag.id, 10)) do |info|%>
    <td><%=user_link(info[:user])%></td>
    <td><%=info[:points]%></td>
  <%end -%>

  <!--
  <%mftext("Tags relacionados") do%>
  <%end -%>
  -->

  <%mftable("Los que más han aportado",
            @tag.top_contributors(
                :taxonomy => @tag.taxonomy, :limit => 5)) do |info|%>
    <td><%=user_link(info[:user])%></td>
    <td class="w50 right"><%=info[:count]%></td>
    <td class="w50"><%=draw_pcent_bar(info[:pcent])%></td>
<% end -%>

  <%mftext("Estadísticas") do%>
    <table>
      <tr>
        <td>Seguido por</td>
        <td>
          <%=gm_icon("user", "small")%>
          <%=UserInterest.interest_tuple("ContentsTag", @tag.id).count%>
        </td>
      </tr>
      <tr>
        <td>Contenidos</td>
        <td><%=@tag.contents_count%></td>
      </tr>
    </table>
  <%end -%>
<% end -%>
