<% root_term = Term.single_toplevel(faction.referenced_thing_field => faction.referenced_thing.id)
  Cms::CONTENTS_WITH_CATEGORIES.each do |cls_name|
    last = Object.const_get(cls_name).in_term_tree(root_term).published.find(
        :last, :order => 'id DESC')
    max_t = Time.now.to_i - (Time.now.to_i - 86400 * 14)
    %><div class="<%=oddclass%>">
      <strong><%=Cms::translate_content_name(cls_name).capitalize%></strong><br />
    <div class="infoinline"><%if last then
      last_t = (Time.now - last.created_on).to_i
      %>
    Hace <%=format_interval(last_t, 'horas') %>
    <%

      if last_t > max_t then
        last_t = max_t
      end
      %>
    <% else
      last_t = max_t %>
    Nunca
    <% end -%></div>
  <div class="warning<%=(last_t/max_t * 10).to_i%>"><%=draw_pcent_bar(last_t / max_t) %></div>
    <br />
  </div>
  <% end %>
