<% content_main do %>
<% mftext(@title) do %>
<table>
  <tr>
    <th>Carpeta</th>
    <th>Archivos</th>
  </tr>

<%
@categories = @category.children.find(
    :all,
    :conditions => ["taxonomy = 'DownloadsCategory' AND parent_id = ?",
                    params[:category]],
    :order => 'lower(name) ASC')
%>

<% for subcategory in @categories %>
<tr class="downloads-folder <%=oddclass%>">
  <td class="first"><%=link_to subcategory.name, gmurl(subcategory, :taxonomy => 'DownloadsCategory')%></td>
  <td class="infoinline"><%=subcategory.contents_count(:cls_name => 'Download')%></td>
</tr>
<% end -%>
</table>
<% end -%>

<% if @category then %>
<%mftext('Archivos en esta carpeta') do %>
<%
downloads = Download.in_term(@category).published.paginate(
    :page => params[:page], :per_page => 30, :order => "LOWER(title)")
%>
<%= render :partial => 'shared/pager2',
           :locals => {:collection => downloads, :pos => 'top'} %>
<table>
<tr class="<%=oddclass%>">
  <th class="first">Archivo</th>
  <th class="timestamp">Publicado</th>
  <th class="centered w150">Veces descargado</th>
  <th class="timestamp">Tamaño</th>
</tr>
<% downloads.each do |download| %>
<tr class="<%=oddclass%>">
  <td class="first"><%=link_to download.title, gmurl(download)%></td>
  <td class="infoinline timestamp centered"><%=print_tstamp download.created_on%></td>
  <td class="infoinline centered"><%=download.downloaded_times%></td>
  <td class="infoinline timestamp"><%=(download.file.to_s != '' and File.exists?("#{Rails.root}/public/#{download.file}")) ? number_to_human_size(File.size("#{Rails.root}/public/#{download.file}")) : ''%></td>
</tr>
<% end -%>
</table>
<%= render :partial => 'shared/pager2',
           :locals => {:collection => downloads, :pos => 'bottom'} %>
<% end -%>
<% end -%>
<% end -%>

<% generic_support do %>
<% if @category then %>
<%=render :partial => '/shared/category_tag_browser', :locals => {:cls => Download, :category => @category}%>
<%=render :partial => '/descargas/esenciales2', :locals => { :category => @category }%>

<% mftext('Los más descargados') do %>
<ul class="content-hid">
  <% Download.published.in_term(@category.root).find(:all, :order => 'downloaded_times DESC', :limit => 5).each do |d| %>
  <li class="<%=oddclass%>"><%=link_to d.title, gmurl(d)%>
  <div class="infoinline"><%=gm_icon("download", "small")%> <%=d.downloaded_times%> | <%=draw_rating(d.rating)%></div></li>
  <% end -%>
</ul>
<% end -%>
<% end -%>

<% mftext('Los que más han aportado') do %>
<%=render :partial => '/shared/most_productive_authors', :locals => {:cls => Download, :category => @category}%>

<% end if @category-%>
<% end -%>

