<% nest_level ||= 0 %>
<li style="; margin: 0 0 10px <%=nest_level*20%>px;"><span class="faq_category f_deca"><a href="#cat<%=faq_intro_entry.id%>"><%=faq_intro_entry.name%></a></span>
<ul>
<% for faqentry in faq_intro_entry.faq_entries.find(:all, :order => 'position ASC') %>
<li>
<p><strong><a href="#question<%=faqentry.id%>"><%=faqentry.question%></a></strong></p>
</li>
<% end %>
</ul>

<% faq_intro_entry.children.each do |c| %><%=render :partial => 'faq_intro_entry', :locals => { :faq_intro_entry => c, :nest_level => nest_level + 1 }%><% end %>
</li>
