<%generic_support(:show_ads => false) do %>
<%mftext('Acerca') do %>
<div style="text-align: center;"><img src="/images/achmed_estudia.jpg" /></div>
<p>MrAchmed quiere aprender a moderar comentarios pero para eso necesita ver 
muchos ejemplos.</p>

<p>Por cada comentario pagará 0.25GMF y os garantizará una vírgen (o un vírgen) en el más allá.</p>
<% end -%>

<% 
cache("/common/el_callejon/achmed_comentarios_#{Time.now.strftime("%Y%m%d%H")}") do
pcent = CommentViolationOpinion.count / (Comment.count(:conditions => "deleted = 'f' AND created_on <= '#{Achmed::COMMENTS_JOB_MAX_CREATED_ON}'::timestamp") * 2.0)
%>
<style type="text/css">
.achmed .pcent-bar { height: 25px; }
.achmed .pcent-bar .bar { background: #1e2dc0; height: 25px; }
</style>
<%mftext('% del trabajillo realizado') do %>
<div class="achmed" style="height: 25px; width: 100%;"><%=draw_pcent_bar(pcent, nil, false)%></div>
<div class="infoinline" style="text-align: center;"><%=(pcent * 1000000).to_i.to_f / 10000.0%>%</div>
<% end -%>

<%mftext('Los que más están ayudando') do %>
<table>
<%User.db_query("SELECT user_id, count(*) from comment_violation_opinions group by user_id order by count(*) desc limit 10").each do |dbr| %>
<tr class="<%=oddclass%>">
    <td><%=user_link(User.find(dbr['user_id'].to_i))%></td>
    <td style="text-align: right;"><%=dbr['count']%></td>
</tr>
<% end %>
</table>
<% end -%>
<% end -%>
<div class="infoinline">Próxima actualización de las estadísticas en:<br /> <strong><%=60 - Time.now.min%></strong> mins</div>
<% end -%>

<%content_main do %>
  <% mftext('Ayuda a MrAchmed') do %>
    <% if @comment.nil? then %>
        MrAchmed: lo siento, <%=@user%>, estoy estudiando con los ejemplos que me has dado, ahora mismo no necesito que tú me valores más comentarios. Vuelve dentro de un par de días...<br />
        <br />
        ¡Ah, y gracias! :D
    <% else -%>

    <div><%=smilelize(@comment.lastowner_version.to_s != '' ? @comment.lastowner_version : @comment.comment) %></div>

    <div style="font-weight: bold; margin-top: 50px; margin-bottom: 20px; text-align: center;">¿Viola este comentario el <a href="/site/netiquette">código de conducta</a>?</div>
    <table>
    <tr>
    <td style="width: 33%; text-align: right;">

    <form method="post" action="/site/mrachmed_clasifica_comentarios_bad" style="margin-right: 30px;">
        <input type="hidden" name="comment_id" value="<%=@comment.id%>" />
        <input type="submit" value="Sí" />
    </form>
    </td>

    <td style="width: 33%; text-align: center;">
    <form method="post" action="/site/mrachmed_clasifica_comentarios_idontknow">
        <input type="hidden" name="comment_id" value="<%=@comment.id%>" />
        <input type="submit" value="No sé" />
    </form>
    </td>

    <td style="width: 33%;">
    <form method="post" action="/site/mrachmed_clasifica_comentarios_good" style="margin-left: 30px;">
        <input type="hidden" name="comment_id" value="<%=@comment.id%>" />
        <input type="submit" value="No" />
    </form>
    </td>

    </tr>

    </table>

    <div style="text-align: center; margin-top: 40px;" class="infoinline">
        <strong>Resumen del código y notas para sacar el máximo partido al estudio de MrAchmed</strong><br />
        <div style="border: 1px solid #ccc; margin: 10px 5px 10px 5px; padding: 5px;">La mayoría de los comentarios no violan el código de conducta, es normal.</div>
        <div style="border: 1px solid #ccc; margin: 10px 5px 10px 5px; padding: 5px;">Por favor, no intentes confundir o engañar a MrAchmed, se dará cuenta y avisará a los capos.</div>
        <table style="text-align: left;">
        <tr>
            <th>Característica</th>
            <th>¿Viola?</th>
        </tr>
        <tr>
            <td>Enlaces a webs de descargas ilegales</td>
            <td>Sí</td>
        </tr>
        <tr>
            <td>Habla de política</td>
            <td>Sí</td>
        </tr>
        <tr>
            <td>Contiene insultos del tipo: hijo de puta, maricón</td>
            <td>Sí</td>
        </tr>
        <tr>
            <td>Atacar a alguien por su raza, color de piel orientación sexual: No me gustan los negros, gays, sudakas, yoguis</td>
            <td>Sí</td>
        </tr>
        <tr>
            <td>Enlaces o imágenes de pornografía, descargas ilegales, cheats (a un click de distancia)</td>
            <td>Sí</td>
        </tr>
        <tr>
            <td>Contiene insultos del tipo: teta, tonto, feo</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Hablar de forma inofensiva usando algún término que puede ser usado ofensivamente: el color negro le va a mi portátil, el congreso de gays y lesbianas</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Hablar sobre pornografía, descargas ilegales, cheats sin ofrecer acceso directo a ellos</td>
            <td>No</td>
        </tr>
        </table>
    </div>
    <% end -%>
  <% end -%>
<% end -%>
