<%
raise AccessDenied unless user_is_authed and @user.id == 1
results = {}
qusers = params[:only_users] ? 'WHERE user_id is not null' : ''
if qusers == ''
  qusers = params[:only_anonymous] ? 'WHERE user_id is null' : ''
end
polls = User.db_query("SELECT * FROM macropolls #{qusers} ORDER BY created_on DESC")
%><%="Total de encuestas: #{polls.size}"%><%
tras = {'_estassuscritoafeedsrss_' => '__estassuscritoafeedsrss_',
'_tienesalgunavideoconsola_' => '__tienesalgunavideoconsola_',
'siofreciesemosdenuevoelsistemadewebsparaclanes__creesquetuclanlousaria_' => 'siofreciesemosdenuevoelsistemadewebsparaclanes___creesquetuclan',
'siofreciesemosdenuevoelsistemadewebsparaclanes___creesquetuclanlousaria_' => 'siofreciesemosdenuevoelsistemadewebsparaclanes___creesquetuclan',
'_sabesquepuedesdecidirsiuncontenidosepublicaono_' => '__sabesquepuedesdecidirsiuncontenidosepublicaono_',
'_sabesquepuedesenviarcontenidos_' => '__sabesquepuedesenviarcontenidos_',
'_echasenfaltafuncionesimportantesenlaweb_' => '__echasenfaltafuncionesimportantesenlaweb_',
'_tegustaelmanga_anime_' => '__tegustaelmanga_anime_',
'_estasenalgunclan_' => '__estasenalgunclan_',
'_quetendriaquetenerlawebparaquefueseperfectaparati_' => '__quetendriaquetenerlawebparaquefueseperfectaparati_',
'_deentrelaswebsdejuegosquevisitasfrecuentementedondenossituarias_' => '__deentrelaswebsdejuegosquevisitasfrecuentementedondenossituari',
'__deentrelaswebsdejuegosquevisitasfrecuentementedondenossituarias_' => '__deentrelaswebsdejuegosquevisitasfrecuentementedondenossituari',
'_sabesquepuedescreartuspropiascompeticionesoparticiparencompeticionesdentrodelaweb_' => '__sabesquepuedescreartuspropiascompeticionesoparticiparencompet',
'__sabesquepuedescreartuspropiascompeticionesoparticiparencompeticionesdentrodelaweb_' => '__sabesquepuedescreartuspropiascompeticionesoparticiparencompet',
'_quecreesquedeberiamosmejorardeformamasurgenteenlaweb_' => '__quecreesquedeberiamosmejorardeformamasurgenteenlaweb_'
}
polls.each do |dbr|
  dbquery = 'INSERT INTO macropolls_2007_1 (lacantidaddecontenidosquesepublicanenlawebteparece , __sabesquepuedesenviarcontenidos_ , __sabesquepuedesdecidirsiuncontenidosepublicaono_ , __echasenfaltafuncionesimportantesenlaweb_ , __estassuscritoafeedsrss_ , participasencompeticiones_clanbase , __tegustaelmanga_anime_ , larapidezdecargadelaspaginasteparece , lasecciondeforosteparece , tesientesidentificadoconlaweb , prefeririasnovermasqueloscontenidosdetujuego , __quecreesquedeberiamosmejorardeformamasurgenteenlaweb_ , ellogodelawebtegusta , __estasenalgunclan_ , eldisenodelawebteparece , elnumerodefuncionesdelawebteparece_bis_ , laactituddelosadministradores_bossesymoderadoresdelawebteparece , __tienesalgunavideoconsola_ , siofreciesemosdenuevoelsistemadewebsparaclanes___creesquetuclan , sipudiesesleregalariasalwebmasterunbilletea , elambienteenloscomentarioses , elnumerodefuncionesdelawebteparece , seguneltiempoquelededicasalosjuegosteconsiderasunjugador , lacantidaddepublicidadqueapareceenlawebteparece , lalabordelosadministradores_bossesymoderadoresdelawebteparece , __sabesquepuedescreartuspropiascompeticionesoparticiparencompet , lascabecerasteparecen , tuopiniongeneralsobrelawebes , razonprincipalporlaquevisitaslaweb , lacalidaddeloscontenidosteparece , lasecciondebabes_dudestegusta , __quetendriaquetenerlawebparaquefueseperfectaparati_ , __deentrelaswebsdejuegosquevisitasfrecuentementedondenossituari , user_id, created_on, ipaddr, host ) VALUES ('
  begin
    anzwers = YAML::load(dbr['answers'])
  rescue ArgumentError
    %><%="IGNORADO #{dbr['created_on']} #{dbr['user_id']}"%><%
    raise ArgumentError
  else
    anzwers.each do |k,v|
      next if k == 'controller' or k == 'action'
      if tras[k] != k then
        results[tras[k]] ||= {}
        results[tras[k]][v] ||= 0
        results[tras[k]][v] += 1
        anzwers[tras[k]] = v
        k = tras[k] 
      else
        results[k] ||= {}
        results[k][v] ||= 0
        results[k][v] += 1
      end
    end
dbquery << "'#{anzwers['lacantidaddecontenidosquesepublicanenlawebteparece']}' , '#{anzwers['__sabesquepuedesenviarcontenidos_']}' , '#{anzwers['__sabesquepuedesdecidirsiuncontenidosepublicaono_']}' , '#{anzwers['__echasenfaltafuncionesimportantesenlaweb_']}' , '#{anzwers['__estassuscritoafeedsrss_']}' , '#{anzwers['participasencompeticiones_clanbase']}' , '#{anzwers['__tegustaelmanga_anime_']}' , '#{anzwers['larapidezdecargadelaspaginasteparece']}' , '#{anzwers['lasecciondeforosteparece']}' , '#{anzwers['tesientesidentificadoconlaweb']}' , '#{anzwers['prefeririasnovermasqueloscontenidosdetujuego']}' , '#{anzwers['__quecreesquedeberiamosmejorardeformamasurgenteenlaweb_']}' , '#{anzwers['ellogodelawebtegusta']}' , '#{anzwers['__estasenalgunclan_']}' , '#{anzwers['eldisenodelawebteparece']}' , '#{anzwers['elnumerodefuncionesdelawebteparece_bis_']}' , '#{anzwers['laactituddelosadministradores_bossesymoderadoresdelawebteparece']}' , '#{anzwers['__tienesalgunavideoconsola_']}' , '#{anzwers['siofreciesemosdenuevoelsistemadewebsparaclanes___creesquetuclan']}' , '#{anzwers['sipudiesesleregalariasalwebmasterunbilletea']}' , '#{anzwers['elambienteenloscomentarioses']}' , '#{anzwers['elnumerodefuncionesdelawebteparece']}' , '#{anzwers['seguneltiempoquelededicasalosjuegosteconsiderasunjugador']}' , '#{anzwers['lacantidaddepublicidadqueapareceenlawebteparece']}' , '#{anzwers['lalabordelosadministradores_bossesymoderadoresdelawebteparece']}' , '#{anzwers['__sabesquepuedescreartuspropiascompeticionesoparticiparencompet']}' , '#{anzwers['lascabecerasteparecen']}' , '#{anzwers['tuopiniongeneralsobrelawebes']}' , '#{anzwers['razonprincipalporlaquevisitaslaweb']}' , '#{anzwers['lacalidaddeloscontenidosteparece']}' , '#{anzwers['lasecciondebabes_dudestegusta']}' , '#{anzwers['__quetendriaquetenerlawebparaquefueseperfectaparati_']}' , '#{anzwers['__deentrelaswebsdejuegosquevisitasfrecuentementedondenossituari']}', "
    dbquery<< (dbr['user_id'].to_s != '' ?  dbr['user_id'] : 'NULL')
dbquery<< ", '#{dbr['created_on']}', '#{dbr['ipaddr']}', '#{dbr['host']}')"
  end
end
%>
<%
results.each do |k,v| %>
<%=k%>
<%
  v.each do |k2,v2| 
if k == '__quetendriaquetenerlawebparaquefueseperfectaparati_' or k == '__quecreesquedeberiamosmejorardeformamasurgenteenlaweb_' then %>
    <div style="margin-bottom: 5px; background: #eee; border: 1px solid #ccc; padding: 3px;"><%=k2.gsub("\n", '<br />')%> (<%=v2%>)</div>
<% 
else %>
<pre>    <%="    #{k2}: #{v2}"%></pre>
<% end
  end
end

%>

<% results.each do |k,v| %> <%=k%> varchar, <% end %>
