<%cache('/common/portales2') do %>
<div class="grid-10">
<div class="grid-5">
<%mflist('Series de juegos', FactionsPortal.find(:all, :conditions => 'name like \'Serie %\'', :order => 'lower(name)')) do |o| %>
<a href="http://<%=o.code%>.<%=App.domain%>/"><%=faction_favicon(o.code)%><%=o.name%></a>
<% end -%>

<%mflist('Juegos', FactionsPortal.find(:all, :conditions => 'code IN (select code from games)', :order => 'lower(name)')) do |o| %>
<a href="http://<%=o.code%>.<%=App.domain%>/"><%=faction_favicon(o.code)%><%=o.name%></a>
<% end -%>


</div>

<div class="grid-5 glast">
<%mflist('Plataformas', FactionsPortal.find(:all, :conditions => 'code IN (select code from gaming_platforms)', :order => 'lower(name)')) do |o| %>
<a href="http://<%=o.code%>.<%=App.domain%>/"><%=faction_favicon(o.code)%><%=o.name%></a>
<% end -%>

<%mflist('Competición', [ArenaPortal.new]) do |o| %>
<a href="http://<%=o.code%>.<%=App.domain%>/"><%=faction_favicon(o.code)%><%=o.name%></a>
<% end -%>


</div>
</div>

<div class="grid-5 glast">
<%mflist('Bazar', BazarDistrictPortal.find(:all, :order => 'lower(name)')) do |o| %>
<a href="http://<%=o.code%>.<%=App.domain%>/"><%=faction_favicon(o.code)%><%=o.name%></a>
<% end -%>	
</div>
<% end -%>