<% generic_support(:show_ads => false) do %>
    <%mftext('Bans/unbans a confirmar') do %>
	<ul class="skeletal">
	<%BanRequest.find(:all, :conditions => 'confirming_user_id is null or (unban_user_id is not null and unban_confirming_user_id is null)', :order => 'ban_requests.id desc', :include => :banned_user).each do |b|%>
	<li><%=member_state('active')%> <a href="/admin/usuarios/confirmar_ban_request/<%=b.id%>"><%=b.banned_user.login%></a></li>
	<% end%>
	</ul>
	<% end -%>

	<%mftext('Últimos bans/unbans aprobados') do %>
	<ul class="skeletal">
	<%BanRequest.find(:all, :conditions => 'confirming_user_id is not null or unban_confirming_user_id is not null', :order => 'coalesce(ban_requests.unban_confirmed_on, ban_requests.confirmed_on) desc', :limit => 10, :include => :banned_user).each do |b|%>
	<li><%=member_state(b.banned_user.hstate)%> <a href="/admin/usuarios/confirmar_ban_request/<%=b.id%>"><%=b.banned_user.login%></a></li>
	<% end%>
	</ul>
	<a href="/hq/bans_requests">Ver historial</a>
	<% end -%>
<% end -%>

<% content_main do %>
<%mftext('Últimas entradas') do %>
<script type="text/javascript">
	function toggleSlogFilterOption(im, option_id) {
		var m;
		m = (im.src.indexOf('slog-type-off'+option_id == -1)) ? '0' : '1';
		$j.get('/site/slog_option_switch?option_id=' + option_id+'&m='+m);
	}
</script>
<% if nil then %>
<table><tr style="vertical-align: top;">
	<td class="w50">Leyenda:
		</td>
	<td>
<ul class="slog-entries-browser-filter">
<%SlogEntry::TYPES.keys.collect{|k| k.to_s}.sort.each do |k| 
v = SlogEntry::TYPES[k.to_sym] %>
<li><label><img class="icon" onclickaa="toggleSlogFilterOption(this, <%=v%>)" src="/skins/default/images/icons/slog-type<%=v%>.gif" title="<%=k%>" alt="<%=k%>" /></label></li> 
<% end -%>
</ul>		
	</td></tr>
</table> 

<% end -%>


<% if params[:type_id].to_s != '' then%>
<script type="text/javascript">
	$j('#typeIdSel').val(<%=params[:type_id]%>);
</script>
<% end -%>
<table>
	<tr class="<%=oddclass%>">
		<th style="width: 16px;"></th>
		<th class="w50 centered infoinline"></th>
		<th>Suceso</th>
		<th>Reportero</th>
	
</tr>
<%# sql_cond = (params[:type_id].to_s != '') ? ['type_id = ?', params[:type_id]] : nil %>
<%   
SlogEntry.find(:all, :order => 'slog_entries.created_on DESC', :limit => 100, :include => 'reporter').each do |sle| %>
<tr class="<%=oddclass%>">
	<td style="width: 16px;"><img class="sprite1 slog-type<%=sle.type_id%>" src="/images/blank.gif" /></td>
	<td class="w50 centered infoinline"><%=print_tstamp(sle.created_on, 'intelligent')%></td>
	<td><%=sle.headline%></td>
	<td class="infoinline"><%=user_link(sle.reporter)%></td>
	<% if nil then %><td class="w50 infoinline"><strong><a href="/site/slog_info/<%=sle.id%>">Más info</a></strong></td><% end -%>
</tr>
<% end -%>
</table>
<a href="/hq/slog_archive">Ver histórico</a>
<!-- <br />
<br />
<strong><a class="rss" href="/site/slog.rss?vk=<%=@user.validkey%>">RSS de esta página</a> <span class="warning">¡Hace autologin, guardar en secreto!</span></strong> -->
<% end -%>
<% end -%>