<% content_main do %>
<%mftext('Editar facción') do %>

<%= form_tag({:action => 'update', :id => @faction}, :multipart => true )%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Guardar', :class => 'button' %>
</form>
<br />
<br />

<% if @faction.created_on >= Faction::GRACE_DAYS.days.ago then %>
<%mftext('Borrar la facción') do %>
<%= form_tag({:action => 'destroy', :id => @faction})%>

  <input type="submit" class="button confirm-click" value="Borrar" />
</form>
<% end -%>
<% end -%>
<% end -%>
<% end -%>

<% generic_support do %>
	<div class="sidething-spaced"><a href="<%=gmurl(@faction)%>">Ver ficha pública</a></div>
<% end -%>

