<%mftext("Visión general de #{@root_term.name}") do %>
<table>
	<tr class="<%=oddclass%>">
		<th>Tipo</th>
		<th>Subcategorías</th>
		<th>Contenidos</th>
	</tr>
	<%@content_types.each do |ct| %>
	<tr class="<%=oddclass%>">
		<td><a href="/<%=controller.cats_path%>/term/<%=@root_term.id%>/hijos/<%=ct.name%>"><%=ActiveSupport::Inflector::titleize(Cms::translate_content_name(ct.name))%></a></td>
		<td><%=Term.count(:conditions => "root_id = #{@root_term.id} AND taxonomy = '#{Term.taxonomy_from_class_name(ct.name)}'")%></td>
		<td><a href="/<%=controller.cats_path%>/term/<%=@root_term.id%>/contenidos/<%=ct.name%>"><%=@root_term.contents_count(:cls_name => ct.name)%></a></td>
	</tr>
	<% end -%>
</table>
<script type="text/javascript">
	
</script>
<% end -%>