<% generic_support do %>
<% cache ('/coverages/list/better_rated') do %>
<% mftext('Mejor valoradas') do %>
<ul class="sidelist">
  <%# TODO sick
  %>
  <% for c in Coverage.published.find(
      :all,
      :conditions => "cache_rated_times > 1",
      :order => 'coalesce(cache_weighted_rank, 0) DESC, (hits_anonymous + hits_registered) DESC',
      :limit => 5) %>
  <li style="padding-left: 3px;" class="<%=oddclass%>"><%=url_for_content(c, c.title)%><div class="infoinline"><%=draw_rating(c.rating)%> <span class="comments-count"><a style="display: inline;" href="<%=gmurl(c)%>#comments"><%=c.cache_comments_count%></a></div></li>
  <% end -%>
  </ul>
  <% end -%>
<% end -%>
<% end -%>

<% content_main do %>
  <%mftext('Noticias') do %>
  <% @coverages = Coverage.published.paginate(:order => 'created_on DESC', :page => params[:page], :per_page => 20) %>
  <%=render :partial => 'shared/pager2', :locals => {:collection => @coverages, :pos => 'top'} %>

<% cache ("/coverages/list/page_#{params['page']}") do
  previous_day = nil
  @coverages.each do |news|
    cur_day = Date.new(news.created_on.year, news.created_on.month, news.created_on.day)

    if cur_day != previous_day then
      previous_day = Date.new(news.created_on.year, news.created_on.month, news.created_on.day) %>
    <div class="day-separator"><%=print_tstamp(cur_day, 'date')%></div>
    <% end %>
    <%=render(:partial => 'news', :object => @object = news)%>
  <% end %>
  <% end -%>
  <%=render :partial => 'shared/pager2', :locals => {:collection => @coverages, :pos => 'bottom'} %>
  <% end -%>
<% end -%>
