<%content_main do %>
<%mftext(@title) do %>
<% @questions = Question.in_portal(controller.portal).published.answered.paginate(:order => 'answered_on DESC', :page => params[:page], :per_page => 30) %>
<%= render :partial => 'shared/pager2', :locals => {:collection => @questions, :pos => 'top'} %>
<% @questions.each do |question| %>
    <div class="<%=oddclass%>">
			<div><img class="avatar" style="float: left; margin-right: 10px;" src="/cache/thumbnails/f/38x38<%=question.user.show_avatar%>" /> <%=faction_favicon(question)%> <strong><%= link_to question.title, gmurl(question) %></strong></div>
			<div class="infoinline"><% if question.prize > Question::MIN_AMMOUNT then %><strong><%=question.prize.to_i%></strong> <%=gm_icon("gmf", "small")%> | <% end-%><%=draw_rating(question.rating)%> | <%=user_link(question.user)%></div>
    </div>
    <br />
<% end %>
<%= render :partial => 'shared/pager2', :locals => {:collection => @questions, :pos => 'bottom'} %>
<% end -%>
<% end -%>

<%generic_support do %>
<%=render :partial => '/respuestas/top_sabios', :locals => { :category => @category } %>
<% end -%>

