<% obj = @category ? @category : controller.portal.question %>
<%content_main do %>
<%mftext('Pregunta') do %>
<% if user_is_authed then %>
		<form method="post" action="/respuestas/new">
			<textarea style="width: 80%;" name="question[title]"></textarea>
			<br />
			<input type="submit" class="button" value="Preguntar" />
		</form>
		<% else %>
		<p>Necesitas <a href="/cuenta/alta">registrarte</a> para poder preguntar.</p>
		<% end -%>
<% end -%>

<table class="skeletal">
	<tr style="vertical-align: top;">
		<td style="width: 50%;">
    <% mftext('Preguntas abiertas') do %>
<%
@questions = obj.find(:published, :content_type => 'Question', :conditions => "answered_on is null", :order => 'COALESCE(ammount, 0) desc, contents.created_on', :limit => "15")
@questions.each do |question| %>
    <div class="<%=oddclass%>">
			<div><img class="avatar" style="float: left; margin-right: 10px;" src="/cache/thumbnails/f/38x38<%=question.user.show_avatar%>" /> <%=faction_favicon(question)%> <strong><%= link_to question.title, gmurl(question) %></strong></div>
			<div class="infoinline"><% if question.prize > Question::MIN_AMMOUNT then %><strong><%=question.prize.to_i%></strong> <%=gm_icon("gmf", "small")%> | <% end-%><%=draw_rating(question.rating)%> | <%=user_link(question.user)%></div>
    </div>
    <br />
<% end %>
<div class="right"><a href="/respuestas/abiertas<%= "/#{@category.id}" if @category%>">Ver todas</a></div>

	<% end -%>
</td>
<td>
<% mftext('Últimas preguntas cerradas') do
@questions = obj.find(:published, :content_type => 'Question', :conditions => 'accepted_answer_comment_id is NOT null', :order => 'answered_on desc', :limit => "15")
@questions.each do |question| %>
    <div class="<%=oddclass%>">
			<div><img class="avatar" style="float: left; margin-right: 10px;" src="/cache/thumbnails/f/38x38<%=question.user.show_avatar%>" /> <%=faction_favicon(question)%> <strong><%= link_to question.title, gmurl(question) %></strong></div>
			<div class="infoinline"><%=draw_rating(question.rating)%> | <%=user_link(question.user)%></div>
    </div>
    <br />
<% end %>
<div class="right"><a href="/respuestas/cerradas<%= "/#{@category.id}" if @category%>">Ver todas</a></div>

<% end -%>
</td>
</tr>
</table>
<%end %><%# content_main%>

<%generic_support do %>
<%=render :partial => '/respuestas/top_sabios', :locals => { :category => @category } %>

<%=render(:partial => '/shared/category_tag_browser', :locals => {:cls => Question, :category => @category}) if @category %>

<% end -%>
