<%generic_support do %>
<%=render :partial => '/respuestas/top_sabios', :locals => { :category => @category } %>
<% end -%>
<% obj = @category ? @category : controller.portal.question %>
<%content_main do %>
<%mftext('Pregunta') do %>
<% if user_is_authed then %>
		<form method="post" action="/respuestas/new">
			<textarea style="width: 80%; height: 42px;" name="question[title]"></textarea>
			<br />
			<input type="submit" value="Preguntar" />
		</form>
		<% else %>
		<p>Necesitas <a href="/cuenta/alta">registrarte</a> para poder preguntar.</p>
		<% end -%>
<% end -%>

<table class="skeletal">
	<tr style="vertical-align: top;">
		<td style="width: 50%;">
    <% mftext('Preguntas abiertas') do %>
<%
@questions = obj.find(:published, :content_type => 'Question', :conditions => "contents.created_on >= '#{Time.at(Time.now.to_i - Question::WARNING_AFTER_OPEN_FOR).strftime('%Y-%m-%d %H:%M:%S')}' AND answered_on is null", :order => 'COALESCE(ammount, 0) desc, contents.created_on', :limit => "15")
@questions.each do |question| %>
    <div class="<%=oddclass%>">
			<div><img class="avatar" style="float: left; margin-right: 10px;" src="/cache/thumbnails/f/38x38<%=question.user.show_avatar%>" /> <%=faction_favicon(question)%> <strong><%= link_to question.title, gmurl(question) %></strong></div>
			<div class="infoinline"><% if question.prize > Question::MIN_AMMOUNT then %><strong><%=question.prize.to_i%></strong> <%=gmd11%> | <% end-%><%=draw_rating(question.rating)%> | <%=user_link(question.user)%></div>
    </div>
    <br />
<% end %>
<div class="right"><a href="/respuestas/abiertas<%= "/#{@category.id}" if @category%>">Ver todas</a></div>
    
	<% end -%>
</td>
<td>
<% mftext('Últimas preguntas cerradas') do
@questions = obj.find(:published, :content_type => 'Question', :conditions => 'accepted_answer_comment_id is NOT null', :order => 'answered_on desc', :limit => "15")
@questions.each do |question| %>
    <div class="<%=oddclass%>">
			<div><img class="avatar" style="float: left; margin-right: 10px;" src="/cache/thumbnails/f/38x38<%=question.user.show_avatar%>" /> <%=faction_favicon(question)%> <strong><%= link_to question.title, gmurl(question) %></strong></div>
			<div class="infoinline"><%=draw_rating(question.rating)%> | <%=user_link(question.user)%></div>
    </div>
    <br />
<% end %>
<div class="right"><a href="/respuestas/cerradas<%= "/#{@category.id}" if @category%>">Ver todas</a></div>
    
<% end -%>
</td>
</tr>
</table>

<%mftext(params[:category] ? "Categorías de #{@category.name}" : 'Categorías') do %>
<%
if params[:category] then
  @categories = @category.children.find(:all, :conditions => 'taxonomy = \'QuestionsCategory\'')
else
  @categories = controller.portal.questions_categories[0].children.find(:all, :conditions => 'taxonomy = \'QuestionsCategory\'')
end %>
<ul class="skeletal">
<% for category in @categories %>
<li class="<%=oddclass%>"><div style="float: left; margin-right: 5px;"><%=faction_favicon(category)%></div> <strong><%=link_to category.name, gmurl(category, :taxonomy => 'QuestionsCategory')%></strong> (<%=category.contents_count(:cls_name => 'Question')%>)</li>
<% end -%>
</ul>
<% end -%>
<%end %><%# content_main%>