<% content_main do %>
    <%mftext('Reviews') do %>
	<% @reviews = Review.published.paginate(:order => 'created_on', :page => params[:page], :per_page => 15) %>
    <%= render :partial => 'shared/pager2', :locals => {:collection => @reviews, :pos => 'top'} %>

<% @reviews.each do |review| %>
    <div class="<%=oddclass%>">
      <h2 class="f_hecto"><%= link_to review.title, gmurl(review) %></h2>
      <%=draw_contentheadline(review)%>
      <% if review.home_image then %><div style="float: left;  margin-top: 5px;margin-right: 10px;"><%=fc_thumbnail(review.home_image, 'f', Cms::IMG_ARTICLE_THUMB, false)%></div><% end -%>
      <div style="margin-left: 110px;" class="summary"><%=review.description%></div>
    </div>
    <br />
    <% end %>

    <%= render :partial => 'shared/pager2', :locals => {:collection => @reviews, :pos => 'bottom'} %>
	<% end -%>
<% end -%>

<% generic_support do %>
<%mftext('Mejor valoradas') do %>
<ul class="sidelist">
<% cache ("/reviews/index/best_rated#{Time.now.strftime('%Y%m%d')}") do %>
  <% Review.most_rated_items(:content_type => 'Review').each do |c| %>
    <li style="padding-left: 3px;" class="<%=oddclass%>"><%=url_for_content(c, c.title)%><div class="infoinline"><%=draw_rating(c.rating)%> <span class="f_milli"><%=gm_icon("comment", "small")%> <a style="display: inline;" href="<%=gmurl(c)%>#comments"><%=c.cache_comments_count%></a></span></li>
  <% end -%>
<% end -%>
</ul>
<% end -%>

<%mftext('Más populares') do %>
<ul class="sidelist">
<% cache ("/reviews/index/most_popular_#{Time.now.to_i/(86400)}") do %>
  <% Review.most_popular_items(:content_type => 'Review').each do |c| %>
    <li style="padding-left: 3px;" class="<%=oddclass%>"><%=url_for_content(c, c.title)%><div class="infoinline"><%=draw_rating(c.rating)%> <span class="f_milli"><%=gm_icon("comment", "small")%> <a style="display: inline;" href="<%=gmurl(c)%>#comments"><%=c.cache_comments_count%></a></span></li>
  <% end -%>
<% end -%>
</ul>
<% end -%>

<%mftext('Autores más populares') do %>
<ul class="sidelist">
<% cache ("/reviews/index/most_popular_authors_#{Time.now.to_i/86400}") do %>
  <% Review.most_popular_authors.each do |u| %>
  <li class="<%=oddclass%>"><%=draw_user_info(u[0])%><div class="more"><a href="<%=gmurl(u[0])%>/contenidos/reviews">Ver sus reviews (<%=u[0].reviews.published.count%>)</a></div></li>
  <% end -%>
<% end -%>
</ul>
<% end -%>
<% end -%>

