<%
clans_i_consider_my_friends = @clan.friends
clans_that_consider_my_their_friend = @clan.consider_us_friends
h_clans_i_consider_my_friends = []
h_clans_that_consider_my_their_friend = []

for u in clans_i_consider_my_friends
  h_clans_i_consider_my_friends.insert(-1, u.id)
end

for u in clans_that_consider_my_their_friend
  h_clans_that_consider_my_their_friend.insert(-1, u.id)
end

%>
<% generic_support do %>

<% mflist('Os consideran sus amigos', clans_that_consider_my_their_friend) do |o|
 	if not h_clans_i_consider_my_friends.include?(u.id) then %>
     <li class="<%=oddclass%>"><%=link_to o.name, "/clanes/clan/#{o.id}"%><a class="infoinline" href="/cuenta/clanes/general/add_friend?id=<%=o.id%>&redirto=/cuenta/clanes/amigos">añadir a tu lista</a></li>
     <% else %>
    <li class="<%=oddclass%>"><%=link_to o.name, "/clanes/clan/#{o.id}"%></li>
    <% end -%>
<% end %>
<% end %>

<% content_main do %>
<% mftext('Clanes amigos') do %>
<%=xdelitems(@clan.friends, '/cuenta/clanes/general/del_friends', 'clans',
			 {'Clan' => :name,
		      '¿Es recíproco?' => Proc.new { |c|
				if not h_clans_that_consider_my_their_friend.include?(c.id) then
					'No te quiere como amigo'
				else
					'Sí'
				end
				}},
				{:submit_value => 'Terminar con la amistad'})%>

<% end %>

<% mftext('Añadir clan a la lista de amigos') do %>
<form method="post" action="/cuenta/clanes/general/add_friend">
	<table class="form">
		<tr>
			<td class="field">Nombre exacto del clan</td>
			<td class="value"><input type="text" class="text" name="name" /></td>
		</tr>
	</table>
<%= submit_tag 'Añadir' %>
</form>
<% end %>
<% end %>