<% content_main do %>
  <% mftext('Mis clanes') do %>
  <p>
<%=clan_switcher%>
</p>
<p>Para crear un clan elige la opción "Crear nuevo clan" del menú desplegable.</p>
<% end -%>

<% if @clan then %>
<br />
<br />
<% mftext(@clan.name) do %>
<% if @clan.logo then %><div class="clanlogo"><img src="<%=ASSET_URL%>/cache/thumbnails/k/250x250/<%=@clan.logo%>"></div><% end -%>
<table>
<tr class="<%=oddclass%>">
	<td class="w200">Miembros</td>
	<td><%=(@clan.members.collect { |u| u.id } + @clan.admins.collect { |u| u.id }).uniq.size%> miembros</td>
</tr>
<tr class="<%=oddclass%>">
	<td>Saldo de la cuenta del clan</td>
	<td><%=@clan.cash%> <%=gm_icon("gmf", "small")%></td>
</tr>
<tr class="<%=oddclass%>">
	<td>Competiciones activas</td>
	<td><ul class="skeletal"><%Competition.active.related_with_clan(@clan).find(:all, :order => 'lower(name)').each do |comp| %>
	<li><a href="/competiciones/show/<%=comp.id%>"><%=comp.name%></a></li>
	<% end -%></ul></td>
</tr>
</table>
<% end -%>
<% end -%>
<% end -%>

<% generic_support do %>
    <% if @clan && (@clan.admins.size > 1 || !@clan.user_is_clanleader(@user.id)) then %>
    <%mftext('Abandonar el clan') do %>
    <p class="centered"><a href="/cuenta/clanes/general/abandonar?clan_id=<%=@clan.id%>" class="button confirm-click">Abandonar el clan <%=@clan.name%></a></p>
	<% end -%>
    <% elsif @clan && @clan.user_is_clanleader(@user.id) then %>
    <%mftext('Borrar el clan') do %>
    <p class="centered"><a href="/cuenta/clanes/general/borrar?clan_id=<%=@clan.id%>" class="button-confirm-click">Borrar el clan <%=@clan.name%></a></p>
	<% end -%>
  <% end -%>
<% end %>

