<% generic_support do %>
  <% if @staff_position.state == 'unassigned' && @user.is_superadmin %>
    <% mftext("Administración") do %>
      <%= link_to("Mover a presentación de candidaturas",
                 move_to_candidacy_presentation_staff_position_path(
                    @staff_position),
                 :confirm => '¿Estás seguro?') %>
    <% end -%>
  <% end -%>
<% end %>

<% content_main do %>
  <% mftext(@staff_position.staff_type.name) do %>
    <% if @staff_position.state == 'candidacy_presentation' then %>
      <% mftext("En periodo de presentación de candidaturas") do %>
      <p>Esta candidatura está en periodo de presentación de candidaturas.</p>
      <%= link_to("Presentarme a candidato",
                  new_staff_position_staff_candidate_path(@staff_position)) %>
      <% end -%>
    <% end -%>

    <% if @staff_position.state == 'voting' then %>
      <% mftext("En periodo de votación") do %>
      <p>Esta candidatura está en periodo de votación.</p>
      <% @staff_position.current_candidates.find(
             :all, :order => 'id', :include => :user).each do |staff_candidate| %>
        <%= link_to(staff_candidate.user.login,
                    staff_position_staff_candidate_path(
                        @staff_position, staff_candidate)) %>
        <% end -%>
      <% end -%>
    <% end -%>

    <% if (@staff_position.state != 'unassigned' &&
           @staff_position.staff_candidate) then %>
      <div class="staff-photo">user_photo</div>
      <div><%= @staff_position.staff_type.login %></div>
      <ul>
      <% @staff_positions.staff_candidate.key_results.each do |key_result| %>
        <li><%= key_result %></li>
      <% end -%>
      </ul>
    <% end -%>

    <% if @staff_position.state == 'unassigned' then %>
      Esta posición está vacante.
    <% end -%>

  <% end -%>
<% end -%>
