<% content_main do %>
  <% mftext(@staff_position.staff_type.name) do %>
    <% if @staff_position.state == 'candidacy_presentation' then %>
      <% mftext("En periodo de presentación de candidaturas") do %>
      <p>Esta posición está en periodo de presentación de candidaturas hasta:
      <%= @staff_position.candidacy_presentation_ends_on %>.</p>
      <% if can_create_staff_candidate(@user, @staff_position) then %>
        <%= link_to("Presentarme a candidato",
                    new_staff_position_staff_candidate_path(@staff_position)) %>
        <% end -%>
      <% end -%>

    <% elsif @staff_position.state == 'voting' then %>
      <% mftext("En periodo de votación") do %>
      <p>Esta posición está en periodo de votación.</p>
      <% @staff_position.current_candidates.each do |staff_candidate| %>
        <%= link_to(staff_candidate.user.login,
                    staff_position_staff_candidate_path(
                        @staff_position, staff_candidate)) %>
        <% end -%>
      <% end -%>
    <% elsif @staff_position.state == 'elect' then %>
      <% mftext("Pendiente de confirmar") do %>
        <p>Ganador<%= "es" if @staff_position.slots > 1 %>
        electo<%= "s" if @staff_position.slots > 1 %>:
        <%= staff_position_winners(@staff_position) %></p>
        <% if user_is_authed && can_confirm_staff_position_winners(@user, @staff_position) %>
        <%= link_to("Confirmar ganadores",
                    confirm_winners_staff_position_path(@staff_position),
                    :confirm => '¿Estás seguro?') %>
        <% end -%>
      <% end -%>
    <% end -%>

    <% if (@staff_position.state != 'unassigned' &&
           @staff_position.staff_candidate) then %>
      <div class="staff-photo">user_photo</div>
      <div><%= @staff_position.staff_type.login %></div>
      <ul>
      <% @staff_positions.staff_candidate.key_results.each do |key_result| %>
        <li><%= key_result %></li>
      <% end -%>
      </ul>
    <% end -%>

    <% if @staff_position.state == 'unassigned' then %>
      Esta posición está vacante.
    <% end -%>

  <% end -%>
<% end -%>

<% generic_support do %>
  <% if @staff_position.state == 'unassigned' && @user.has_skill_cached?("Webmaster") %>
    <% mftext("Administración") do %>
      <%= link_to("Mover a presentación de candidaturas",
                 move_to_candidacy_presentation_staff_position_path(
                    @staff_position),
                 :confirm => '¿Estás seguro?') %>
    <% end -%>
  <% end -%>

  <% if @staff_position.state == 'candidacy_presentation' then %>
    <% mflist("Candidatos",
              @staff_position.staff_candidates.find(
                  :all, :include => :user)) do |candidate| %>
    <%= link_to(candidate.user.login,
                staff_position_staff_candidate_path(
                    @staff_position, candidate)) %>
    <% end -%>
    <%= link_to("Ver todos los candidatos",
                staff_position_staff_candidates_path(@staff_position)) %>
  <% end -%>
<% end %>

