<div class="topnavbar f_deci">
  <div class="topnavbar-container">

    <% if user_is_authed %>
    <div class="topbar-block topbar-profile-options">
      <a class="open-popup-on-click"
        data-popup-id="topbar-user-actions"
        href="/cuenta"><%=avatar_img(@user, :very_small)%></a>
    </div>

    <div id="topbar-user-actions" class="hidden popup">
      <div style="float: left"><a href="/miembros/<%=@user.login%>"><%=avatar_img(@user, :normal)%></a></div>
      <ul style="display: inline-block">
        <li><a href="/cuenta">mi cuenta</a></li>
        <li><a href="/cuenta/clanes">mis clanes</a></li>
        <li><a href="/cuenta/competiciones">mis competiciones</a></li>
        <li style="padding-top: 20px; padding-bottom: 20px;"><a href="/miembros/<%=@user.login%>">mi perfil público</a></li>
        <li><a class="confirm-click nav" href="/cuenta/logout">cerrar sesión</a></li>
      </ul>
    </div>

    <div class="topbar-block topbar-notifications">
      <div class="gm-icon-button">
        <a href="/cuenta/mensajes" class="<%= 'active-state' if @user.unread_messages > 0%>" title="Ver mensajes privados"><%=@user.unread_messages%> <%=gm_icon("message")%></a>
      </div>
      <div class="gm-icon-button">
        <a href="/cuenta/cuenta/notificaciones" class="<%= 'active-state' if @user.has_unread_notifications%>" title="Ver notificaciones"><%=gm_icon("flag")%></a>
      </div>
      <div class="gm-icon-button">
        <a href="/decisiones" class="<%= 'active-state' if @user.pending_decisions%>" title="Ver decisiones pendientes"><%=gm_icon("scale")%></a>
      </div>
    <% if @user.is_staff? then %>
      <div class="gm-icon-button">
        <a href="/alertas" class="<%= 'active-state' if @user.pending_alerts > 0%>" title="Ver log del sistema"><%=gm_icon("gear")%></a>
      </div>
    <% end -%>
      <!--
      <div class="gm-icon-button">
        <a href="/cuenta/competiciones" class="<%= 'active-state' if @user.enable_competition_indicator?%>" title="Ir a mis competiciones"><%#=gm_icon("gauntlet")%></a>
      </div>
      -->
    </div>

    <div class="topbar-block topbar-stats">
      <div class="stat"><%=draw_karma_bar_sm(@user)%></div>
      <div class="stat">
        <a href="/cuenta/banco" title="Ir al banco"><%=@user.cash.to_i%><%=gm_icon("gmf", "small")%></a>
      </div>

      <div class="stat"
        title="<%=@user.remaining_rating_slots%> valoraciones restantes">
       <%=@user.remaining_rating_slots%> <%=gm_icon("star", "small")%>
     </div>

     <div class="stat">
<% cache("/site/_online_state/stats/friends2_#{@user.id}_#{Time.now.to_i/60}") do
friends = @user.friends_online %>
<a class="open-popup-on-click"
  data-popup-id="mgfriends-online-table" href="/cuenta/amigos"><strong><%=friends.size%></strong> <%=gm_icon("user", "small")%></a>
 <div id="mgfriends-online-table" class="hidden mfcontents-ul popup">
   <strong>Amigos online</strong>
  <ul>
  <%friends.each do |friend|%>
    <li><%=link_to friend.login, gmurl(friend)%></li>
  <%end-%>
  </ul>
  <% if friends.size == 0 %>
    (Ninguno)
  <% end -%>
</div>
<% end %><%# cache %>
       </div>

       <!--
      5 <%=gm_icon("emblem-legendary")%>
      2 <%=gm_icon("emblem-special")%>
      3 <%=gm_icon("emblem-rare")%>
      1 <%=gm_icon("emblem-unfrequent")%>
      4 <%=gm_icon("emblem-common")%>
      -->
    </div>
  <% end -%>

    <div class="topbar-block topbar-interests sections-list navbar">
      <ul>
    <% quicklinks.each do |qlink|%>
      <li><a href="<%=qlink[:url]%>"><%=qlink[:code]%></a></li>
    <% end -%>
      </ul>
    </div>

    <div class="topbar-block topbar-all-of-gm sections-list navbar">
      <a href="/" class="open-popup-on-click"
        data-popup-id="topbar-sitemap">Menú</a>
    <% if controller.portal.id.to_s != "-1" %>
      <a href="/" class="open-popup-on-click"
        data-popup-id="topbar-portal-submenu"><%=controller.portal.code%></a>
    <% end -%>
    </div>

    <div id="topbar-sitemap" class="hidden popup dropdown">
  <% hq_menu_items = controller.admin_menu_items %>
  <% if hq_menu_items.size > 0 %>
      <div class="sections-list2">
        <header class="f_hecto f-module-title">Admin</header>
          <ul>
            <li><a href="/site/stats_hipotesis">Experimentos</a></li>
          <%hq_menu_items.each do |title, url| %>
                <li><a href="<%=url%>"><%=title%></a></li>
          <% end -%>
          </ul>
        </div>
      <% end -%>

      <% if user_is_authed && @user.has_skill_cached?("Advertiser") %>
      <div class="sections-list2">
        <header>Anunciante</header>
          <ul>
            <li><a href="/home/anunciante">Panel de control</a></li>
          </ul>
      </div>
      <% end -%>

      <div class="sections-list2">
        <header class="f_hecto f-module-title">Bazar</header>
          <ul>
            <li><a href="http://<%=App.domain_bazar%>/">Portada</a></li>
<% cache("/layouts/default/districts") do %>
<%BazarDistrict.find(:all, :order => 'lower(name)').each do |c| %>
  <li><a href="http://<%=c.slug%>.<%=App.domain%>/"><%=faction_favicon(c)%> <%=c.name%></a></li>
<% end -%>
<% end %><%# bazar_district %>

            <li><a href="http://<%=App.domain_bazar%>/imagenes/1559">Babes</a></li>
            <li><a href="http://<%=App.domain_bazar%>/curiosidades">Curiosidades</a></li>
            <li><a href="http://<%=App.domain_bazar%>/imagenes/1495">Wallpapers</a></li>
            <li><a href="http://<%=App.domain_bazar%>/imagenes/1543">xD</a></li>
          </ul>

        <header class="f_hecto f-module-title">Comunidad</header>
          <ul>
            <li><a href="http://<%=App.domain%>/blogs">Blogs</a></li>
            <li><a href="http://<%=App.domain%>/miembros">Miembros</a></li>
            <li><a href="http://<%=App.domain%>/home/comunidad">Portada</a></li>
          </ul>
        </div>

      <div class="sections-list2">
        <header class="f_hecto f-module-title">Gamersmafia</header>
          <ul>
            <li><a href="http://<%=App.domain%>/site/novedades">Novedades sobre la web</a></li>
            <li><a href="http://<%=App.domain%>/site/gmcity">GM City</a></li>
            <li><a href="http://<%=App.domain_bazar%>/cuenta/tienda">Tienda GM</a></li>
            <li><a href="http://<%=App.domain_bazar%>/site/chat">Webchat</a></li>
            <li><a href="http://wiki.gamersmafia.com/">Wiki</a></li>
            <li><a href="https://github.com/gamersmafia/gamersmafia/issues">Bugs e Ideas</a></li>
          </ul>

        <header class="f_hecto f-module-title">Gaming</header>
          <ul>
            <li><a href="http://<%=App.domain%>/clanes">Clanes</a></li>
            <li><a href="http://<%=App.domain_arena%>/competiciones">Competiciones</a></li>
            <li><a href="http://<%=App.domain_arena%>/demos">Demos</a></li>
            <li><a href="http://<%=App.domain%>/facciones">Facciones</a></li>
            <li><a href="http://<%=App.domain%>/juegos">Juegos</a></li>
            <li><a href="http://<%=App.domain%>/reclutamiento">Reclutamiento</a></li>
          </ul>

        <header class="f_hecto f-module-title">General</header>
          <ul>
            <li><a href="http://<%=App.domain_arena%>/apuestas">Apuestas</a></li>
            <li><a href="/site/portales">Portales</a></li>
            <li><a href="http://<%=App.domain%>/tags">Tags</a></li>
          </ul>

        </div>
    </div>

    <div class="topbar-block topbar-search">
      <form method="post" action="/site/search">
        <input type="text" class="text" name="searchq" id="searchq" name="q" />
        <input type="submit" class="button" value="Buscar" />
      </form>
    </div>

  </div>
</div>

<% if controller.portal.id != "-1" %>
<div id="topbar-portal-submenu" class="hidden dropdown">
  <ul>
    <li class="first"><a href="/noticias">Noticias</a></li>
    <li><a href="/apuestas">Apuestas</a></li>
    <li><a href="/articulos">Artículos</a></li>
    <li><a href="/respuestas">Respuestas</a></li>
    <li><a href="/imagenes">Imágenes</a></li>
    <li><a href="/descargas">Descargas</a></li>
    <li><a href="/encuestas">Encuestas</a></li>
  <% if controller.portal.kind_of?(FactionsPortal) %>
    <li><a href="/faccion">Información</a></li>
    <li><a href="/faccion/miembros">Miembros</a></li>
    <li><a href="/faccion/staff">Staff</a></li>
  <% end -%>
    <li><a href="/respuestas">Respuestas</a></li>
  <% if controller.portal.kind_of?(BazarDistrictPortal) then %>
    <li><a href="/distrito">Staff</a></li>
  <% end -%>
  </ul>
</div>
<% end -%>

