<% mftext('Webchat') do %>
<ul id="minichat">

<% now = Time.now.to_i %>
<script type="text/javascript">
  cur_time_chat=<%=now%>;
</script>
<% for chatline in Chatline.latest %>
  <li id="chatline<%=chatline.id%>" class="<%=oddclass%>"><div style="float: right; margin-right: 5px;" class="infoinline"><%=print_tstamp(chatline.created_on, 'time')%></div><span class="nick"><% if chatline.user_id != 8 then %><%=link_to chatline.user.login, {:controller => 'miembros', :action => chatline.user.login}, :class => 'nav' %><% else %>&lt;<%=chatline.line.match(/^<([^>]+)>/)[1]%>&gt;<% end -%>
    <% if user_is_authed and (@user.has_skill_cached?("Capo") or @user.has_skill_cached?("Capo")) then %>
      <%=link_to(
          'x',
          {:update => 'minichat',
           :url => "/site/del_chatline/#{chatline.id}?time=#{now}",
           :remote => true},
          :class => 'action')%>
    <% end -%>
    <br /></span><% if chatline.user_id != 8 then %><%=auto_link_raw(smilelize(Formatting.format_bbcode(chatline.line)))%><% else %><%=smilelize(Formatting.format_bbcode(chatline.line.gsub(/^(<[^>]+>: )/, '')))%><% end -%></li>
<% end -%>
</ul>

<script type="text/javascript">
//<![CDATA[
setInterval(function(){
	$.get('/site/update_chatlines?time=' + cur_time_chat, function(data){
		$('#minichat').html(data);
	})
} , 15000);
//]]>
function send_chatline() {
	$.post('/site/new_chatline?time='+cur_time_chat, {line: $('#newline').val()}, function(data){
		$('#minichat').html(data);
		$('#newline').val('');
		document.getElementById('newlinesend').disabled = '';
	});
	return false;
}
</script>

<br />
<% if user_is_authed then %>
<form id="uberform" action="/site/new_chatline?time=1154219146" method="post" onsubmit="return send_chatline();">
<input type="text" class="text" id="newline" name="line" maxlength="300" />
<br />
<script type="text/javascript">
function disablesend()
{
	document.getElementById('newlinesend').disabled = 'disabled';
}
</script>
    <%= render :partial => '/shared/smileys', :locals => { :dom_id => 'newline' } if nil %>
<input type="submit" class="button" value="Enviar mensaje" id="newlinesend" onclick="setTimeout('disablesend()', 25); return true;" />
</form>
<% if nil then %>
<br />
<br />
 <div id="smileystable" style="width: 195px; height: 325px; overflow: auto;">

  <%=link_to(
      "Mostrar smileys disponibles",
      {:update => 'smileystable',
       :remote => true},
      :url => {:controller => 'site',
               :action => :show_smileys})%>
</div>
    <% end -%>
  <% end -%>
<% end %>
