<!DOCTYPE html>
<html>
<head>
  <title><%=controller.title%></title>
  <%=stylesheet_link_tag("application")%>
  <%=stylesheet_link_tag(user_skin)%>
  <%=javascript_includes.html_safe%>
  <%=javascript_include_tag "application"%>
  <%= yield(:head) %>
  <link rel="alternate" type="application/rss+xml" title="Feed RSS de Gamersmafia" href="/rss/noticias" />
  <%= analytics_code if App.enable_google_analytics? %>
  <% if controller.portal.code == 'diablo' then %>
  <script src="http://eu.battle.net/d3/static/js/tooltips.js"></script>
  <% end -%>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body class="<%=body_css_classes%>">
  <script type="text/javascript">var contents = [];</script>
  <div id="loading" class="hidden"><img src="/skins/suicidal/spin.gif"></div>

  <%= render :partial => 'layouts/global_menu' %>

  <div id="mgheader">
    <a href="http://gamersmafia.com" class="logo" title="Ir a portada">
      <span class="mascot"><%=gm_icon("gm-mascot")%></span>
      <span class="letters"><%=gm_icon("gm-logo-g")%><%=gm_icon("gm-logo-a")%><%=gm_icon("gm-logo-m")%><%=gm_icon("gm-logo-e")%><%=gm_icon("gm-logo-r")%><span style="margin-left: -1px;"><%=gm_icon("gm-logo-s")%></span><span class="logo-mafia"><%=gm_icon("gm-logo-m")%><%=gm_icon("gm-logo-a")%><span style="margin-left: -1px;"><%=gm_icon("gm-logo-f")%></span><span style="margin-left: -6px;"><%=gm_icon("gm-logo-i")%></span><span style="margin-left: -5px;"><%=gm_icon("gm-logo-a")%></span></span></span></a>

   <%= render :partial => 'layouts/faction_building' %>
  </div>

  <style type="text/css">#mgheader { background-position-x: 725px; }</style>

  <div id="cpageout" class="container gm20085">
	<div id="cpagein" class="container">

    <div class="pagelevel-feedback hidden"></div>

    <%=render :partial => '/layouts/gmgeist_progress'%>

<div id="ccontent" class="container page-level-content" name="ccontent">
	<% if controller.controller_name != 'home' then %>
    <div id="mgbreadcrumb" class="f_milli secondary"><%=navpathgm20085%></div>
	<% end -%>

	<% if controller.submenu && !controller.rescuiing then %>
    <div id="mgsubmenu" class="f_milli navbar">
      <ul>
        <li class="first"><span><%=submenu_name%></span></li>
        <% for item in (controller.submenu_items || [])
        htmlclass= (item[1].gsub("/", "") == controller.controller_name.gsub("/", "")) ? ' class="current"' : ''
        %>
        <li id="wms-<%=item[0].bare%>" <%=htmlclass-%>><a href="<%=item[1]%>"><%=item[0]%></a></li>
        <% end %>
      </ul>
    </div>
  <% end -%>

<% if flash[:notice] -%><div id="notice" class="good-block"><%= flash[:notice] %></div><% end -%>
<% if flash[:error] -%><div id="error" class="bad-block"><%= flash[:error] %></div><% end -%>
<%= yield %>
<div style="clear:both;">&nbsp;</div>
</div>

<div id="cleft" class="container f_milli page-level-content">
  <div class="wrapper">
	<%= render :partial => '/layouts/userbox2' %>
<%
if user_is_authed && @user.is_faction_leader? && @user.faction_id then %>
<%mftext('Monitor de Facción', :id => 'mgfaction-monitor') do %><%=faction_favicon(@user.faction)%><%=faction_activity_minicolumns(@user.faction)%>
<div style="text-align: right"><a href="/cuenta/faccion">mi facción</a></div><% end -%>
<% end %>

<%= render(:partial => '/layouts/tracker', :locals => { :user => @user }) if user_is_authed && @user.using_tracker %>

<% if user_is_authed then %>
<% cache("/_users/#{@user.id % 1000}/#{@user.id}/layouts/recommendations") do %>
<% crecs = ContentsRecommendation.find_for_user(@user)
if crecs.size > 0 then %>
<div class="f_deci f-module-title">Recomendaciones</div>
<%mflist(nil,
    crecs, {
        :class => 'new unread-item',
        :class_container => 'mfcontents-ul',
        :id => 'recommendations4u',
    }) do |crec|
    if crec.content.nil?
      Rails.logger.warn(
          "Content associated with recommendation #{crec} disappeared.")
      next
    end
    category_prefix = ""
    if crec.content.real_content.main_category
      category_prefix = "#{crec.content.real_content.main_category.root.code} | "
    end
    comment_suffix = (crec.comment.to_s == "") ? "" : ": #{crec.comment}"
    title_text = "%s%s (%s) %s" % [
        category_prefix, h(crec.content.name), crec.sender.login,
        comment_suffix]
    %>
	<a class="ellipsis content<%=crec.content.id%>"
     href="<%=gmurl(crec.content)%>"
     title="<%=title_text%>"><%=truncate(crec.content.name, 26, '..')%></a>
<% end -%>
<% end %><%# mftext -%>
<% end %><%# if crecs -%>
<% end %><%# cache -%>

<%= render :partial => '/layouts/last_commented_objects' %>

<div id="mgads" class="container">
  <div class="mcontent"><% if nil %><%=ads_slots('sideleft', '1-0')%><% end -%>
    <br />
    <% if should_show_bottom_ad? then %>
<script type="text/javascript"><!--
google_ad_client = "pub-6007823011396728";
google_ad_slot = "3523960064";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<% end -%>

</div></div>
<%= render(:partial => '/layouts/webs_aliadas') if @portal.kind_of?(FactionsPortal) && controller.controller_name == 'home' %>
</div>
</div>


<div id="mgads-bottom">
  <div class="mgads-bottom1"><%=ads_slots('bottom', '0-0') unless @no_ads%></div>
</div>
</div>
<%=render :partial => '/layouts/footer' %>
</div>

<script type="text/javascript">cfgPage(<%=user_is_authed%>, contents, '<%=controller.controller_name%>', '<%=controller.action_name%>', '<%=params[:id]%>'<%= params['_xnvi'] ? ", '#{params['_xnvi']}'" : ', undefined'%><%= params['_xab'].size > 0 ? ", '#{CGI::escape(params['_xab'].to_json)}'" : ', undefined'%><%= controller._xad.size > 0 ? ", '#{CGI::escape(controller._xad.to_json)}'" : ', undefined'%>);</script>
<%= render :partial => '/shared/dbstats' if App.enable_dbstats? %>
<% if show_render_stats %>
  <div id="render-stats" class="secondary-block f_milli">
    <%=((Time.now - @start_time) * 1000).to_i%>ms
  </div>
<% end -%>
</body>
</html>
