<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
<head>
<title><%=controller.title%></title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<%=css_includes.html_safe %>
<%=javascript_includes.html_safe %>
<link rel="alternate" type="application/rss+xml" title="Feed RSS de Gamersmafia" href="/rss/noticias" />
<%= analytics_code if App.enable_google_analytics? %>
<% if controller.portal.code == 'diablo' then %>
<script src="http://eu.battle.net/d3/static/js/tooltips.js"></script>
<% elsif controller.portal.code == 'loleu' then %>
<script type="text/javascript" src="http://pseudobit.net/loltip/item_es.php" language="javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://pseudobit.net/loltip/style.css" />
<% end -%>
</head>
<% show_ab_test("show_full_menu", 0, opts={:add_xab_to_links => true}) do
  @madness = true
end %>
<% show_ab_test("show_full_menu", 1, opts={:add_xab_to_links => true}) do
  @madness = false
end %>
<body class="<%= body_css_classes %><%= " madness" if @madness%>">
  <div id="cpageout" class="container gm20085">
	<div id="cpagein" class="container">
		<div id="mgsearch">
        <form method="post" action="/site/search">
        	<input type="image" class="image" alt="Buscar" title="Buscar" src="/images/blank.gif" value="S" />
		  <input type="text" class="text" name="searchq" id="searchq" onmouseout="this.className = 'text';" onmouseover="this.className = 'text hover';" name="q" />
      </form>
	  </div>

	  <div id="mgheader" class="module">
		<div class="mcontent">
		   <a id="logo" <% if !(controller.controller_name == 'home' && controller.action_name == 'index' && controller.portal.id == '-1') then %>onmouseover="this.className = 'hover';" onmouseout="this.className=''"<%end -%> href="http://<%=App.domain%>/"><img src="/images/blank.gif" /></a>
			   <% if controller.portal.small_header then %>
				   <style type="text/css">
				   #logo img { background: url(/<%=controller.portal.small_header%>) 0 0 no-repeat; }
				   </style>
			   <% end -%>

  <%= render :partial => 'layouts/faction_building' %>

  <%= render :partial => 'layouts/global_menu' %>

  	<div id="mgintellibar" class="module"><div class="mcontent">
		<% if user_is_authed then %>
		<% cache("/_users/#{@user.id % 1000}/#{@user.id}/layouts/quicklinks2") do %>
		<% qlinks = Personalization.quicklinks_for_user(@user)

		if qlinks.size > 0 then
	width = 8 + 25*(qlinks.size)
%>
	<div id="quickportals" style="width: <%=width%>px;">
		<div id="div1">
			<div id="div2">
		<ul>
			<% qlinks.each do |link| %>
			<li><a href="<%=link[:url]%>"><%=faction_favicon(link[:code])%></a></li>
			<% end -%>
		</ul>
		</div>
		</div>
	</div>
	<% end -%>
	<% end %><%# cache %>
	<% end %><%# if user_is_authed %>



		<div id="mgintellibar-switcher" class="hidden"><a href="">NAV</a> | <a href="">GMTV</a></div>

    <% if user_is_authed %>
		<div id="mgintellibar-links"><ul>
			<% if controller.can_set_as_default_home then %>
				<li><a href="" title="Ir a esta página directamente al entrar en gamersmafia.com" onclick="return GM.personalization.set_default_portal(<%=user_is_authed ? 'true' : 'false'%>, '<%=controller.action_name%>');">Hacer <%=controller.action_name == 'index' ? 'portada' : controller.action_name%> mi página por defecto</a></li>
			<% end -%>

			<% if can_add_as_quicklink? then %>
				<li id="add-to-quicklinks"><a href="" title="Añadir a accesos directos" onclick="return GM.personalization.add_quicklink('<%=controller.portal.code%>', 'http://<%=controller.portal.code%>.<%=App.domain%>');">Añadir a quicklinks</a></li>
			<% end -%>

			<% if can_del_quicklink? then %>
				<li id="del-from-quicklinks"><a href="" title="Quitar de accesos directos" onclick="return GM.personalization.del_quicklink('<%=controller.portal.code%>');">Quitar de quicklinks</a></li>
			<% end -%>

			<% if user_is_authed && controller.controller_name == 'foros' && @forum then %>
				<li id="add-to-user-forums" class="<%='hidden' unless can_add_as_user_forum?%>"><a href="" title="Añadir a mis foros" onclick="return GM.personalization.add_user_forum('<%=@forum.id%>', '<%=gmurl(@forum, :taxonomy => 'TopicsCategory')%>');">Añadir a mis foros</a></li>
			<% end -%>

			<% if user_is_authed && controller.controller_name == 'foros' && @forum then %>
				<li id="del-from-user-forums" class="<%='hidden' unless can_del_user_forum?%>"><a href="" title="Quitar de mis foros" onclick="return GM.personalization.del_user_forum('<%=@forum.id%>');">Quitar de mis foros</a></li>
			<% end -%>

			</ul>
		</div>
    <% end -%>

		</div></div>

	<% if controller.controller_name != 'home' then %>
    <div id="mgbreadcrumb" class="module"><div class="mcontent"><%=navpathgm20085%></div></div>
	<% else %>
	<div style="margin-top: 10px;"></div>
	<% end -%>

	<% if controller.submenu && !controller.rescuiing then %>
	<div id="mgsubmenu" class="module"><div clas="mcontent">
	<ul>
    <li class="first"><span><%=submenu_name%></span></li>
    <% for item in (controller.submenu_items || [])
    htmlclass= (item[1].gsub("/", "") == controller.controller_name.gsub("/", "")) ? ' class="current"' : ''
    %>
    <li id="wms-<%=item[0].bare%>" <%=htmlclass-%>><a href="<%=item[1]%>"><%=item[0]%></a></li>
    <% end %>
    </ul>
	<div class="clearl"></div>
  </div>
</div>
<% end -%>
<div id="ccontent" class="container" name="ccontent">
<script type="text/javascript">var contents = [];</script>
<% if flash[:notice] -%><div id="notice"><%= flash[:notice] %></div><% end -%>
<% if flash[:error] -%><div id="error"><%= flash[:error] %></div><% end -%>
<%= yield %>
<div style="clear:both;">&nbsp;</div>
</div>

<div id="mgads-bottom"><div class="mgads-bottom1"><%=ads_slots('bottom', '0-0') unless @no_ads%></div></div>


<div id="cleft" class="container">
	<div class="det-bottom">
		<div class="det-bottom2">
	<% if nil then %>
	<div style="padding: 0 0 7px 5px; font-weight: bold; font-size: 11px;"><a href="http://<%=App.domain%>/">Portada GM</a></div>
	<% if user_is_authed && @user.faction_id then %><div style="padding: 0 0 10px 5px; font-weight: bold; font-size: 11px;"><a href="http://<%=@user.faction.code%>.<%=App.domain%>/">Portada <%=@user.faction.code.upcase%></a></div><% end -%>
	<% end -%>

	<%= render :partial => '/layouts/userbox2' %>
<%
if user_is_authed && @user.is_faction_leader? && @user.faction_id then %>
<%mftext('Monitor de Facción', :id => 'mgfaction-monitor') do %><%=faction_favicon(@user.faction)%><%=faction_activity_minicolumns(@user.faction)%>
<div style="text-align: right"><a href="/cuenta/faccion">mi facción</a></div><% end -%>
<% end %>
<% if nil then %>
<%=sparkline(:data => [150, 175, 22, 19, 7, 5,6,9,11], :max => 300, :size => '80x16') %>
<% end -%>

<% if user_is_authed then %>


<br />
	<div style="text-align: center; margin-bottom: 10px;"><a href="/cuenta/amigos"><img class="icon" src="/skins/default/images/btn_add_amigo.png" /></a></div>
<% if user_is_authed then
  cache("/site/_online_state/stats/friends2_#{@user.id}_#{Time.now.to_i/60}") do
  friends = @user.friends_online %>
  <div id="mgfriends-online"><a href="" onclick="return open_online_friends();"><strong><%=friends.size%></strong> amigos online</a></div>
 <div id="mgfriends-online-table" class="hidden mfcontents-ul">
    <ul>
<% for friend in friends %>
        <li><%=link_to friend.login, gmurl(friend)%></li>
    <% end -%>
</ul>
</div>
<br />
<% end %><%# cache %>
<% end -%>
<script type="text/javascript">
	function open_online_friends(){
		$j('#mgfriends-online-table').toggleClass('hidden');
		return false;
	}
</script>
<% end -%>

<%= render(:partial => '/layouts/tracker', :locals => { :user => @user }) if user_is_authed && @user.using_tracker %>

<% if user_is_authed then %>
<% cache("/_users/#{@user.id % 1000}/#{@user.id}/layouts/recommendations") do %>
<% crecs = ContentsRecommendation.find_for_user(@user)
if crecs.size > 0 then %>
<div id="recommended-bg-text"></div>
<%mflist('Recomendaciones',
    crecs, {
        :class => 'new',
        :class_container => 'mfcontents-ul',
        :id => 'recommendations4u',
    }) do |crec|
    if crec.content.nil?
      Rails.logger.warn(
          "Content associated with recommendation #{crec} disappeared.")
      next
    end
    category_prefix = ""
    if crec.content.real_content.main_category
      category_prefix = "#{crec.content.real_content.main_category.root.code} | "
    end
    comment_suffix = (crec.comment.to_s == "") ? "" : ": #{crec.comment}"
    title_text = "%s%s (%s) %s" % [
        category_prefix, h(crec.content.name), crec.sender.login,
        comment_suffix]
    %>
	<a class="content<%=crec.content.id%>"
     href="<%=gmurl(crec.content)%>"
     title="<%=title_text%>"><%=truncate(crec.content.name, 26, '..')%></a>
<% end -%>
<% end %><%# mftext -%>
<% end %><%# if crecs -%>
<% end %><%# cache -%>

<%= render :partial => '/layouts/last_commented_objects' %>

<div id="mgads" class="container">
  <div class="mcontent"><%=ads_slots('sideleft', '1-0')%>
    <br />
    <% if should_show_bottom_ad? then %>
<script type="text/javascript"><!--
google_ad_client = "pub-6007823011396728";
google_ad_slot = "3523960064";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<% end -%>

</div></div>
<%= render(:partial => '/layouts/webs_aliadas') if @portal.kind_of?(FactionsPortal) && controller.controller_name == 'home' %>
</div>
</div>
</div>
</div>
<%=render :partial => '/layouts/footer' %>
</div>

<script type="text/javascript">cfgPage(<%=user_is_authed%>, contents, '<%=controller.controller_name%>', '<%=controller.action_name%>', '<%=params[:id]%>'<%= params['_xnvi'] ? ", '#{params['_xnvi']}'" : ', undefined'%><%= params['_xab'].size > 0 ? ", '#{CGI::escape(params['_xab'].to_json)}'" : ', undefined'%><%= controller._xad.size > 0 ? ", '#{CGI::escape(controller._xad.to_json)}'" : ', undefined'%>);</script>
<%= render :partial => '/shared/dbstats' if App.enable_dbstats? %>
</body>
</html>
