<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <%=css_includes.html_safe %>
  <%=javascript_includes.html_safe %>
  <%=javascript_include_tag "application"%>
</head>
<body class="popup">
  <div id="content">
    <%= yield %>
  </div>
  <div style="clear: both; margin: 10px; text-align: right;"><a href="#" title="Haz click para cerrar esta ventana" onclick="window.close();">cerrar</a></div>
  <script type="text/javascript">
  	if (contents == undefined)
  		var contents=[];
  </script>
</body>
</html>
