<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  </head>
  <body>
    <div id="loading" class="hidden"><img src="/skins/suicidal/spin.gif"></div>
    <header class="pagelevel">
      <a id="logo" href="/"></a>
    </header>
    <aside id="left-sidebar" class="pagelevel">
      <%= render :partial => '/layouts/last_commented_objects_suicidal.html.erb' %>
    </aside>
    <section class="pagelevel" id="ccontent main">
      <%= yield %>
    </section>
    <footer class="pagelevel f_milli">
      <ul class="inline-menu">
        <li><a href="/site/acercade">acerca</a></li>
        <li><a href="/site/faq">ayuda</a></li>
        <li><a href="/site/netiquette">código de conducta</a></li>
        <li><a href="/site/privacidad">privacidad</a></li>
      </ul>
      <div class="footer-copyright">Logo y diseño &copy; Gamersmafia; contenidos <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/es/deed.es_ES">cc-by-sa</a>.
      </div>
      <ul class="inline-menu footer-dev">
        <li><a href="http://wiki.gamersmafia.com/">wiki</a></li>
        <li><a href="http://github.com/gamersmafia/gamersmafia">bugs e ideas</a></li>
        <li>v<span class="gm-version"><%=AppR.last_public_version_snippet%></span></li>
      </ul>
    </footer>
  </body>
</html>
